<!-- datatable -->
<script src="../javascripts/mydatatable.js"></script>
<!-- table2excel导出 -->
<script src="/table2excel/jquery.table2excel.js"></script>
<style>
    #upfile {
        display: none;
    }
    .upload_group {
        display: inline-block;
        vertical-align: middle;
    }
    .style_upload {
        height: 20px;
        border-radius: 5px;
        width: 120px;
        font-size: 10px;
    }
    .open {
        font-size: 12px;
        color: #606c84;
        margin-bottom: 0px;
        font-weight: 500;
        border: 1px solid #606c84;
        border-radius: 5px;
        padding: 0px 2px;
        cursor: pointer;
    }
    .box-body span{
        display: inline-block;
    }
    .box-body span input{
        margin: 0px;
        vertical-align: middle;
    }
    .box {
        margin-bottom: 0px;
    }
    #datatable th, 
    #datatable td{
        white-space:nowrap;    
    }
</style>
<div class="content-wrapper">
    <section class="content-header">
        <h1>教研室管理页面</h1>
        <ol class="breadcrumb">
            <li><a href="/index"><i class="fa fa-home"></i> 首页</a></li>
            <li class="active">教研室管理</li>
        </ol>
    </section>
    <section class="content">
        <div class="box">
            <div class="box-header">
                <h3 class="box-title">教研室列表</h3>
                <div class="box-tools pull-right">
                    <div class="upload_group">
                        <input type="file" id="upfile" accept=".xls,.xlsx" />
                        <input type="text" class="style_upload" readonly/>
                        <label for="upfile" class="open">浏览</label>
                    </div>
                    <button type="button" title="导入" class="btn btn-box-tool"
                            onclick="isIE();">
                        <i class="fa fa-fw fa-sign-in"></i>导入
                    </button>
                    <button type="button" title="导出" class="btn btn-box-tool"
                            onclick="toExcel('datatable','');">
                        <i class="fa fa-fw fa-cloud-download"></i>导出
                    </button>
                    <button type="button" title="批量删除" class="btn btn-box-tool"
                            onclick="delSomeJys();">
                        <i class="fa fa-fw fa-times"></i>批量删除
                    </button>
                    <button type="button" title="添加" class="btn btn-box-tool"
                            onclick="editJys(0)">
                        <i class="fa fa-fw fa-user-plus"></i>添加
                    </button>
                </div>
                <div class="box box-default box-solid" style="margin-top:10px;">
                    <div class="box-header with-border" style="padding:3px;font-size:14px;">
                        <h3 class="box-title" style="font-size:14px;">当前显示的列</h3>
                        <div class="box-tools pull-right" style="top: 1px;">
                            <button type="button" style="padding:0px;line-height:0px" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i>
                            </button>
                        </div>
                    </div>
                    <div class="box-body">
                        <span><input id="checkshow" name="checkshow" type="checkbox" value="1"> 教研室编号 |</span>
                        <span><input id="checkshow" name="checkshow" type="checkbox" value="2"> 教研室名称 |</span>
                        <span><input id="checkshow" name="checkshow" type="checkbox" value="3"> 教研室主任 |</span>
                    </div>
                </div>
            </div>
            <div class="box-body" style="padding-top: 0">
                <table id="datatable" class="table table-bordered table-striped"  width="100%">
                    <thead>
                    <tr>
                        <th><input id="checkall" name="checkall" type="checkbox"></th>
                        <th>教研室编号</th>
                        <th>教研室名称</th>
                        <th>教研室主任</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </section>
</div>

<div class="modal" id="modal-edit-event"></div>

<script>
    var mytable;

    $(document).ready(function () {
        //全选  全反选处理
        $("#checkall").click(function () {
            var checkbox = document.getElementById('checkall');
            if (checkbox.checked) {
                $('input[type="checkbox"][name="checkrow"]').each(function () {
                    this.checked = true;
                });
            } else {
                $('input[type="checkbox"][name="checkrow"]').each(function () {
                    this.checked = false;
                });
            }
        });

        $("#upfile").change(function () {
            var filename = $(this).val().split("\\").pop();
            $(".style_upload").val(filename);

        });

        var columns = [
            {
                "mData": null,
                "sClass": "center",
                "mData": function (obj) {
                    return '<input id="checkrow" name="checkrow" type="checkbox" value=' + obj.ID + '>';
                }
            },
            {
                "mData": "JYSBH",
                "sClass": "center"
            },
            {
                "mData": "JYSMC",
                "sClass": "center"
            },
            {
                "mData": "JYSZR",
                "sClass": "center"
            },
            {
                "mData": null,
                "sClass": "center",
                "mData": function (obj) {
                    return '<a style="margin-left: 10px;" onclick="editJys(\'' + obj.ID + '\')" href="#" role="button" data-toggle="modal" title="编辑"><i class="fa fa-fw fa-pencil"></i></a>'
                        + '<a style="margin-left: 10px;" onclick="delJys(\'' + obj.ID + '\')" href="#" role="button" data-toggle="modal" title="删除"><i class="fa fa-fw fa-trash-o"></i></a>';
                }
            }
        ];
        mytable = CreateDataTable('#datatable', '/jysService/getList', columns);

        //初始化当前显示列的checkbox判断是否选中
        $('input[type="checkbox"][name="checkshow"]').each(function () {
            // Get the column API object
            var column = $("#datatable").DataTable().column($(this).val());
            // Toggle the visibility
            this.checked = column.visible();
            // var table = $('#datatable').DataTable();
            // table.columns.adjust().draw();
        });

        $('input[type="checkbox"][name="checkshow"]').change(function () {
            // Get the column API object
            var column = $("#datatable").DataTable().column($(this).val());
            // Toggle the visibility
            column.visible(!column.visible());
            
        });
    });

    //编辑
    function editJys(id) {
        $.ajax({
            url: "/jys/_editJys.html?id=" + id,
            type: "get",
            dataType: 'html',
            async: false,
            success: function (htmlContent) {
                //模态框
                $('#modal-edit-event').html(htmlContent);
                $("#modal-edit-event").modal('show');
            }
        });
    }

    //删除记录
    function delJys(ID) {
        $.ajax({
            type: "get",
            url: '/jysService/delOne',
            dataType: "json",
            data: {ID: ID},
            cache: true,
            success: function (msg) {
                if (msg.state == 1) {
                    var table = $('#datatable').DataTable();
                    table.ajax.reload();
                    table.draw();		
                    $("#success_modal").modal();
                    setTimeout(function(){			
                        $("#success_modal").modal('hide');
                    },1000);
                }
            },
            error: function (e) {
                console.log(e);
            }
        });
    }

    //批量删除记录
    function delSomeJys() {
        var flag = false;
        var arr = new Array();
        //遍历所有checkbox
        $('input[type="checkbox"][name="checkrow"]:checked').each(function () {
            arr.push(this.value);
        });
        if (arr.length != 0) {
            var idstr = arr.join(",");
            $.ajax({
                type: "get",
                url: '/jysService/delSome',
                dataType: "json",
                data: {idstr: idstr},
                cache: true,
                success: function (msg) {
                    if (msg.state == 1) {
                        var table = $('#datatable').DataTable();
                        table.ajax.reload();
                        table.draw();		
                        $("#success_modal").modal();
                        setTimeout(function(){			
                            $("#success_modal").modal('hide');
                        },1000);
                    } else {
                        $("#faile_modal").modal();
                        setTimeout(function(){					
                            $("#faile_modal").modal('hide');
                        },1000);
                    }
                },
                error: function (e) {
                    console.log(e);
                }
            });
        } else {
            $("#warning_content").text("请选择一项删除");
            $("#warning_modal").modal("show");
        }
    }

    //判断当前浏览器是否为IE（支持IE11）
    function isIE() {
        var flag = "ActiveXObject" in window;
        if (flag) {
            ReadExcel();
        } else {
            $("#warning_content").text("导入功能暂不支持IE外的浏览器");
            $("#warning_modal").modal("show");
        }
    }

    //导入excel并将数据存储到数据库
    function ReadExcel() {
        //得到文件路径的值
        var filePath = $("#upfile").val();
        var houzhui = /\.[^\.]+/.exec(filePath);
        if (houzhui == ".xlsx") {
            $("#warning_content").text("文件" + filePath + "文件格式或文件扩展名无效。请确定文件未损坏，并且文件扩展名为“.xls”");
            $("#warning_modal").modal("show");
        } else if (filePath != "") {
            var oXL = new ActiveXObject("Excel.application");
            //打开指定路径的excel文件
            var oWB = oXL.Workbooks.open(filePath);
            //操作第一个sheet(从一开始，而非零)
            oWB.worksheets(1).select();
            var oSheet = oWB.ActiveSheet;
            //使用的行数
            var rows = oSheet.usedrange.rows.count;
            try {
                //验证表格格式--即验证表单表头是否与格式匹配
                if (oSheet.Cells(1, 1).value == "教研室编号" && oSheet.Cells(1, 2).value == "教研室名称" && oSheet.Cells(1, 3).value == "教研室主任") {
                    var flag = true;
                    for (var i = 2; i <= rows; i++) {
                        if (!flag) break;
                        //将表格第i行数据拼接成字符串
                        var str = oSheet.Cells(i, 1).value + "," + oSheet.Cells(i, 2).value + "," + oSheet.Cells(i, 3).value;
                        $.ajax({
                            type: "get",
                            url: '/jysService/insertSome',
                            dataType: "json",
                            data: {str: str},
                            cache: false,
                            async: false,//同步
                            success: function (result) {

                            },
                            error: function (e) {
                                flag = false;
                                $("#warning_content").text("导入出错");
                                $("#warning_modal").modal("show");
                                console.log(e);
                            }
                        });
                    }
                    if (flag) {
                        var table = $('#datatable').DataTable();
                        table.ajax.reload();
                        table.draw();		
                        $("#success_modal").modal();
                        setTimeout(function(){			
                            $("#success_modal").modal('hide');
                        },1000);
                    }
                } else {
                    $("#warning_content").text("表格格式错误，请检查文件首行与表头是否一致、“操作”列是否删除，请不要有空行。");
                    $("#warning_modal").modal("show");
                }
            } catch (e) {
                console.log(e);
            }
            //退出操作excel的实例对象
            oXL.Application.Quit();
            //手动调用垃圾收集器
            CollectGarbage();
        } else {
            $("#warning_content").text("请选择一个文件");
            $("#warning_modal").modal("show");
        }
    }
    //IE浏览器导出
    function toExcel(inTblId, inWindow) {
        //定义一个flag判断存在单选框被选中
        var flag = false;
        //遍历所有checkbox,未选中选项所在行设置class为noExl
        $('input[type="checkbox"][name="checkrow"]').each(function () {
            if (this.checked == false) {
                //设置该checkbox所在行的class属性为noExl
                this.parentNode.parentNode.classList = "noExl";
            } else if (this.checked == true) {
                this.parentNode.parentNode.classList = "";
                flag = true;
            }
        });
        if (flag) {
            if ("ActiveXObject" in window) {
                try {
                    var allStr = "";
                    var curStr = "";
                    if (inTblId != null && inTblId != "" && inTblId != "null") {
                        curStr = getTblData(inTblId, inWindow);
                    }
                    if (curStr != null) {
                        allStr += curStr;
                    }
                    else {
                        $("#warning_content").text("你要导出的表不存在");
                        $("#warning_modal").modal("show");
                        return;
                    }
                    var fileName = getExcelFileName();
                    doFileExport(fileName, allStr);
                }
                catch (e) {
                    $("#warning_content").text("导出发生异常:" + e.name + "->" + e.description);
                    $("#warning_modal").modal("show");
                }
            } else {
                exportData();//批量导出(非IE浏览器)
            }
        } else {
            $("#warning_content").text("未选择项目，导出为模板");
            $("#warning_modal").modal("show");
            if ("ActiveXObject" in window) {
                try {
                    var allStr = "";
                    var curStr = "";
                    if (inTblId != null && inTblId != "" && inTblId != "null") {
                        curStr = getTblData(inTblId, inWindow);
                    }
                    if (curStr != null) {
                        allStr += curStr;
                    }
                    else {
                        $("#warning_content").text("你要导出的表不存在");
                        $("#warning_modal").modal("show");
                        return;
                    }
                    var fileName = getExcelFileName();
                    doFileExport(fileName, allStr);
                }
                catch (e) {
                    $("#warning_content").text("导出发生异常:" + e.name + "->" + e.description);
                    $("#warning_modal").modal("show");
                }
            } else {
                exportData();//批量导出(非IE浏览器)
            }
        }
    }

    //批量导出(非IE浏览器)
    function exportData() {
        //定义一个flag判断存在单选框被选中
        var flag = false;
        //遍历所有checkbox,未选中选项所在行设置class为noExl
        $('input[type="checkbox"][name="checkrow"]').each(function () {
            if (this.checked == false) {
                //设置该checkbox所在行的class属性为noExl
                this.parentNode.parentNode.classList = "noExl";
            } else if (this.checked == true) {
                this.parentNode.parentNode.classList = "";
                flag = true;
            }
        });
        if (flag) {
            var d = new Date();
            var curYear = d.getFullYear();
            var curMonth = "" + (d.getMonth() + 1);
            var curDate = "" + d.getDate();
            var curHour = "" + d.getHours();
            var curMinute = "" + d.getMinutes();
            var curSecond = "" + d.getSeconds();
            if (curMonth.length == 1) {
                curMonth = "0" + curMonth;
            }
            if (curDate.length == 1) {
                curDate = "0" + curDate;
            }
            if (curHour.length == 1) {
                curHour = "0" + curHour;
            }
            if (curMinute.length == 1) {
                curMinute = "0" + curMinute;
            }
            if (curSecond.length == 1) {
                curSecond = "0" + curSecond;
            }
            $("#datatable").table2excel({
                exclude: ".noExl",//有class = “noExl” 的行不被导出；
                name: "Excel Document Name",
                filename: "教研室信息表" + "-" + curYear + curMonth + curDate + curHour + curMinute,
                exclude_img: true,
                exclude_links: true,
                exclude_inputs: true
            });
        } else {
            $("#warning_content").text("请至少选择一项");
            $("#warning_modal").modal("show");
        }
    }
    //获取table数据
    function getTblData(inTbl, inWindow) {
        var rows = 0;
        var tblDocument = document;
        if (!!inWindow && inWindow != "") {
            if (!document.all(inWindow)) {
                return null;
            } else {
                tblDocument = eval(inWindow).document;
            }
        }
        var curTbl = tblDocument.getElementById(inTbl);
        if (curTbl.rows.length > 65000) {
            $("#warning_content").text("源行数不能大于65000行");
            $("#warning_modal").modal("show");
            return false;
        }
        if (curTbl.rows.length <= 1) {
            $("#warning_content").text("数据源没有数据");
            $("#warning_modal").modal("show");
            return false;
        }
        var outStr = "";

        if (curTbl != null) {
            var flag = true;
            for (var j = 0; j < curTbl.rows.length; j++) {
                for (var i = 1; i < curTbl.rows[j].cells.length - 1; i++) {
                    if (i == 1 && rows > 0) {
                        outStr += " \t";
                        rows -= 1;
                    }
//                    var tc = curTbl.rows[j].cells[i];
                    if (curTbl.rows[j].cells[0].firstChild.type.toLowerCase() == "checkbox") {
                        if (curTbl.rows[j].cells[0].firstChild.checked == true) {
                            flag = true;
                        } else {
                            flag = false;
                        }
                    }
                    if (flag || j == 0) {
                        outStr += "" + curTbl.rows[j].cells[i].innerText + "\t";
                        if (curTbl.rows[j].cells[i].colSpan > 1) {
                            for (var k = 0; k < curTbl.rows[j].cells[i].colSpan - 1; k++) {
                                outStr += " \t";
                            }
                        }
                    }
                    if (i == 0) {
                        if (rows == 0 && curTbl.rows[j].cells[i].rowSpan > 1) {
                            rows = curTbl.rows[j].cells[i].rowSpan - 1;
                        }
                    }
                }
                if (flag || j == 0) {
                    outStr += "\r\n";
                }
            }
        } else {
            outStr = null;
            $("#warning_content").text("不存在");
            $("#warning_modal").modal("show");
        }
        return outStr;
    }
    function getExcelFileName() {
        var d = new Date();
        var curYear = d.getFullYear();
        var curMonth = "" + (d.getMonth() + 1);
        var curDate = "" + d.getDate();
        var curHour = "" + d.getHours();
        var curMinute = "" + d.getMinutes();
        var curSecond = "" + d.getSeconds();
        if (curMonth.length == 1) {
            curMonth = "0" + curMonth;
        }
        if (curDate.length == 1) {
            curDate = "0" + curDate;
        }
        if (curHour.length == 1) {
            curHour = "0" + curHour;
        }
        if (curMinute.length == 1) {
            curMinute = "0" + curMinute;
        }
        if (curSecond.length == 1) {
            curSecond = "0" + curSecond;
        }
        var fileName = "教研室信息表" + "-" + curYear + curMonth + curDate + curHour + curMinute + ".xls";
        return fileName;
    }
    function doFileExport(inName, inStr) {
        var xlsWin = null;
        if (!!document.all("glbHideFrm")) {
            xlsWin = glbHideFrm;
        } else {
            var width = 1;
            var height = 1;
            var openPara = "left=" + (window.screen.width / 2 + width / 2) + ",top=" + (window.screen.height + height / 2) +
                ",scrollbars=no,width=" + width + ",height=" + height;
            xlsWin = window.open("", "_blank", openPara);
        }
        xlsWin.document.write(inStr);
        xlsWin.document.close();
        xlsWin.document.execCommand('Saveas', true, inName);
        xlsWin.close();
    }


</script>