<!--引用uploadify-->
<script src="/javascripts/uploadify3.2.1/jquery.uploadify.min.js"></script>
<link rel="stylesheet" type="text/css" href="/javascripts/uploadify3.2.1/uploadify.css"/>

<div id="file_upload_1"></div>
<a href="javascript:$('#file_upload_1').uploadify('upload','*');">
    确认上传
</a>
<script>
    //上传事件
    $('#file_upload_1').uploadify({
        'auto': false,//自动上传
        'uploader': '/tools/uploadFile/uploadFile.html',
        'swf': '/javascripts/uploadify3.2.1/uploadify.swf',
        'buttonText': '文件上传',//显示在浏览按钮上的文本
        'removeTimeout': "2",//清除延迟
        'fileTypeExts': '*.zip; *.rar; *.7z',//格式
        'folder': '/zipfiles',//上传到的文件路径
        'fileSizeLimit': '10MB',//文件大小上限
        'progressData': 'percentage',//上传进度更新队列项目中显示数据的类型
        //文件上传时同时以POST方法向服务端提交一些数据
        //'method'   : 'post',
        //'formData' : { 'someKey' : 'someValue' },
        'multi': false,//多文件上传
        'onUploadSuccess': fn//上传完成后事件
    });
</script>