<header class="main-header">
    <a href="/index" class="logo">
        <span class="logo-mini"><b>ZZU</b></span>
        <span class="logo-lg"><b>教务信息管理系统</b></span>
    </a>
    <nav class="navbar navbar-static-top">
        <a class="sidebar-toggle" data-toggle="offcanvas" role="button">
            <span class="sr-only">教务信息管理系统</span>
        </a>
        <div class="navbar-custom-menu" style="margin-right:50px;">
            <div class="pull-right logout">
                <span><img id="logout_img" src="/images/logout.png" onclick="logout()" /><lable for="logout_img" onclick="logout()" >注销</lable></span>
            </div>
        </div>
    </nav>
</header>
<script src="/javascripts/header.js"></script>