<aside class="main-sidebar">
    <section class="sidebar">
        <div class="user-panel">
            <div class="pull-left image">
                <img src="/dist/img/user2-160x160.jpg" class="img-circle" width="160px">
            </div>
            <div class="pull-left info" style="padding: 17px 5px 5px 15px;">
                <p id="loginUserNameL"></p>
            </div>
        </div>
        <ul class="sidebar-menu">
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-graduation-cap"></i> <span>教师信息管理</span>
                </a>
                <ul class="treeview-menu">
                    <li class="/teacher"><a href="/teacher">&nbsp;&nbsp;教师信息管理</a></li>
                    <li class="/jys/jys.html"><a href="/jys/jys.html">&nbsp;&nbsp;教研室管理</a></li>
                    <li class="/chart/chart.html"><a href="/chart/chart.html">&nbsp;&nbsp;信息统计</a></li>
                </ul>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-pencil-square-o"></i><span>教学计划</span>
                </a>
                <ul class="treeview-menu">
                    <li class="/major/major.html"><a href="/major/major.html">&nbsp;&nbsp;专业管理</a></li>
                    <li class="/course/course.html"><a href="/course/course.html">&nbsp;&nbsp;课程管理</a></li>
                    <li class="/major_course/major_course.html"><a href="/major_course/major_course.html">&nbsp;&nbsp;专业-课程管理</a></li>
                </ul>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-calculator"></i><span>教师选课管理</span>
                </a>
                <ul class="treeview-menu">
                    <li class="/selectcourse"><a href="/selectcourse">&nbsp;&nbsp;专业课选课</a></li>
                    <li class="/cpculture"><a href="/cpculture">&nbsp;&nbsp;计算机文化选课</a></li>
                    <li class="/graproject"><a href="/graproject">&nbsp;&nbsp;毕业设计分配</a></li>
                </ul>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-check-square-o"></i><span>授课管理</span>
                </a>
                <ul class="treeview-menu">
                    <li class="/assigncourse"><a href="/assigncourse">&nbsp;&nbsp;授课信息</a></li>
                    <li ><a href="#">&nbsp;&nbsp;工作量统计</a></li>
                </ul>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-user"></i><span>权限管理</span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="#">&nbsp;&nbsp;权限管理</a></li>
                </ul>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-newspaper-o"></i><span>公告管理</span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="#">&nbsp;&nbsp;公告管理</a></li>
                </ul>
            </li>
        </ul>
    </section>
</aside>
<script>
    $().ready(function(){
		var getclass = window.location.pathname;
		var cla = document.getElementsByClassName(getclass);
		$(cla).addClass("active");
		var getul = $(cla).parent().parent();
		$(getul).addClass("active");
	});
</script>