<link rel="stylesheet" href="/css/index.css">

<div class="content-wrapper">
    <section class="content-header">
        <div class="xueyuan-logo">
            <img src="/images/yuanhui.jpg"/>
        </div>
    </section>
    <section class="content">
        <section class="invoice">
            <div class="row">
                <div class="col-xs-12">
                    <h2 class="page-header">
                        <i class="fa fa-globe"></i> <%= loginuser %>,欢迎您登陆教务管理系统
                        <small class="pull-right nowdate" ></small>
                    </h2>
                    <div class="info-box bg-aqua ">
                    <span class="info-box-icon"><i class="ion-ios-chatbubble-outline"></i></span>
                        <div class="info-box-content">
                            <h5 >信息</h5>
                            <hr >
                            <p class="rulemsg"></p>
                        </div>
                    </div>
                    <div class="info-box bg-yellow usertags-div">
                    <span class="info-box-icon"><i class="ion-ios-chatbubble-outline"></i></span>
                        <div class="info-box-content">
                            <h5 >提示</h5>
                            <hr >
                            <p >若您是第一次登录系统，建议您点击右上角“修改密码”，修改您的密码。</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </section>
</div>
<script>
    $().ready(function(){
        var myDate = new Date();
        var year=myDate.getFullYear();
        var month=myDate.getMonth()+1;
        var date=myDate.getDate(); 
        var timeStr=year+"年"+month+'月'+date+'日';
        $(".nowdate").text(timeStr);
        var data = GetIndexData();
        if(data[0].ID === 1){
            $(".rulemsg").text("当前身份为：超级管理员。您拥有所有操作权限。");
        }else if(data[0].ID !== 1 && data[0].RULE === 1){
            $(".rulemsg").text("当前身份为：管理员。您可以管理教师、专业、选课等信息。");
        }else{
            $(".rulemsg").text("当前身份为：学院教师。您可以进行选课。");
            $('.usertags-div').show();
        }
    })
</script>

