body , b, th, td,h1,h2,h3,h4,h5 {
    font-family: "Microsoft YaHei";
}

/*选择input按钮*/
input[type="checkbox"]{
	-webkit-appearance: none;
	background: #fff url(/images/check.png) no-repeat;
	background-size: contain;
	vertical-align: middle;
	cursor: pointer;
	width: 12px;
	height: 12px;
}


input[type="checkbox"]:focus,
input[type="checkbox"]:hover {
	outline: none;
	background: #fff url(/images/checkhover.png) no-repeat;
	background-size: contain;
}

input[type="checkbox"]:checked {
  	background: #fff url(/images/checked.png) no-repeat;
  	background-size: contain;
}

input[type="checkbox"][disabled] {
 	background: #fff url(/images/check.png) no-repeat;
	background-size: contain;
}

input[type="checkbox"][disabled]:checked {
  background: #fff url(/images/checkdisabled.png) no-repeat;
  background-size: contain;
}