body , b, th, td,h1,h2,h3,h4,h5,h6 {
    font-family: "Microsoft YaHei";
}

/*选择input按钮*/
input[type="checkbox"]{
	-webkit-appearance: none;
	background: #fff url(/images/check.png) no-repeat;
	background-size: contain;
	vertical-align: middle;
	cursor: pointer;
	width: 12px;
	height: 12px;
}


input[type="checkbox"]:focus,
input[type="checkbox"]:hover {
	outline: none;
	background: #fff url(/images/checkhover.png) no-repeat;
	background-size: contain;
}

input[type="checkbox"]:checked {
  	background: #fff url(/images/checked.png) no-repeat;
  	background-size: contain;
}

input[type="checkbox"][disabled] {
 	background: #fff url(/images/check.png) no-repeat;
	background-size: contain;
}

input[type="checkbox"][disabled]:checked {
  background: #fff url(/images/checkdisabled.png) no-repeat;
  background-size: contain;
}

.logout,
.navbar-changepwd{
	margin-top: 11px;
}
.navbar-changepwd{
	margin-right: 15px;
}
.user-panel{
	margin: 10px 0px;
}
#logout_img,
#change_pwd{
	width: 25px;
	cursor: pointer;
	margin-right:5px; 
}
.navbar-changepwd{
	display: none;
}
.logout lable,
.navbar-changepwd lable{
	color: #FFFFFF;
	vertical-align: middle;
	cursor: pointer;
}
.user-panel{
	float: none;
}
.image{
	display: block;
	float: none;
}
.info{
	display: block;
	float: none;
}
.chgpwd_table{
	margin-bottom: 5px;
}
p{
	margin-bottom: 0px;
}
