.login-page {
    position: relative;
}

.htmleaf-container {
    position: absolute;
    z-index: 1;
    top: 0;
    width: 100%;
    height: 800px;
}

.login-box {
    position: absolute;
    z-index: 2;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 30%;
}