#upfile {
    display: none;
}
.upload_group {
    display: inline-block;
    vertical-align: middle;
}
.style_upload {
    height: 20px;
    border-radius: 5px;
    width: 120px;
    font-size: 10px;
}
.open {
    font-size: 12px;
    color: #606c84;
    margin-bottom: 0px;
    font-weight: 500;
    border: 1px solid #606c84;
    border-radius: 5px;
    padding: 0px 2px;
    cursor: pointer;
}
.box-body span{
    display: inline-block;
}
.box-body span input{
    margin: 0px;
    vertical-align: middle;
}
.box {
    margin-bottom: 0px;
}
#datatable th, 
#datatable td{
    white-space:nowrap;    
}
.text_center{
    text-align: center;
}