<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/plugins/Font-Awesome-master/css/font-awesome.min.css">
    <link rel="stylesheet" href="/plugins/ionicons-master/css/ionicons.min.css">
    <link rel="stylesheet" href="/dist/css/AdminLTE.min.css">
    <link rel="stylesheet" href="/plugins/iCheck/square/blue.css">
    <link rel="stylesheet" href="/css/login.css">
</head>
<body class="hold-transition login-page">
<div class="htmleaf-container">
    <div class="login-box">
        <div class="login-logo">
            <a href="#">教务信息管理系统</a>
        </div>
        <div class="login-box-body">
            <p class="login-box-msg">欢迎您，请输入登录信息</p>
            <form id="loginForm" >
                <div class="form-group has-feedback">
                    <input id="username" name="username" type="text" class="form-control" placeholder="用户名">
                    <span class="glyphicon glyphicon-user form-control-feedback"></span>
                </div>
                <div class="form-group has-feedback">
                    <input id="password" name="password" type="password" class="form-control" placeholder="密码">
                    <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                </div>
                <span class="errormsg" style="color:red;"></span>
                <div class="row">
                    <div class="col-xs-8">
                        <div class="checkbox icheck remember">
                            <label>
                                <input type="checkbox" for="remember"> 记住信息
                                <input id="remember" name="remember" type="hidden" value="">
                            </label>
                        </div>
                    </div>
                    <div class="col-xs-4">
                        <button type="button" onclick="login()" class="btn btn-primary btn-block btn-flat">登录</button>
                    </div>
                </div>
            </form>
            <div class="social-auth-links text-center">
                <p>- 郑州大学软件与应用科技学院 -</p>
            </div>
            <a href="#">忘记密码？</a>
        </div>
    </div>
</div>

<script src="/plugins/jQuery/jquery-2.2.3.min.js"></script>
<script src="/bootstrap/js/bootstrap.min.js"></script>
<script src="/plugins/iCheck/icheck.min.js"></script>
<script src="/javascripts/jparticle.jquery.min.js"></script>
<script src="/javascripts/SHA1.js"></script>
<script>
    $(function () {
        $('.remember input').iCheck({
            checkboxClass: 'icheckbox_square-blue',
            radioClass: 'iradio_square-blue',
            increaseArea: '20%' // optional
        });
        $('.remember input').on('ifChecked', function (event) {
            $(".remember input").val(1);
        });
        $('.remember input').on('ifUnchecked', function (event) {
            $(".remember input").val(0);
        });
        $(".htmleaf-container").jParticle({
            background: "#d2d6de",
            color: "#ffffff"
        });
    });

    function login(){
        var username = $("#username").val();
        var password = sha1($("#password").val());
        var remember = $(".remember input").val();
        $.ajax({
            type: "post",
            url: '/index',
            dataType: "json",
            data: {username:username,password:password,remember:remember},
            async: false,
            success: function (msg) {
                console.log(msg);
            },
            error: function (e) {
                console.log(e);
            }
        })
    }
    function sha1(str) {
        var sha1_str = hex_sha1(str);
        return sha1_str;
    }
</script>
</body>
</html>
