<!-- datatable -->
<script src="../javascripts/mydatatable.js"></script>
<!-- table2excel导出 -->
<script src="/table2excel/jquery.table2excel.js"></script>
<style>
    #upfile {
        display: none;
    }
    
    .upload_group {
        display: inline-block;
        vertical-align: middle;
    }
    
    .style_upload {
        height: 20px;
        border-radius: 5px;
        width: 120px;
        font-size: 10px;
    }
    .open {
        font-size: 12px;
        color: #606c84;
        margin-bottom: 0px;
        font-weight: 500;
        border: 1px solid #606c84;
        border-radius: 5px;
        padding: 0px 2px;
        cursor: pointer;
    }
    .box-body span{
        display: inline-block;
    }
    .box-body span input{
        margin: 0px;
        vertical-align: middle;
    }
    .box {
        margin-bottom: 0px;
    }
    #datatable th, 
    #datatable td{
        white-space:nowrap;    
    }
    .text_center{
        text-align: center;
    }
    .left_center{
        text-align: left;
    }
</style>
<div class="content-wrapper">
    <section class="content-header">
        <h1>教师信息管理</h1>
        <ol class="breadcrumb">
            <li><a href="/index"><i class="fa fa-home"></i> 首页</a></li>
            <li class="active">教师信息管理</li>
        </ol>
    </section>
    <section class="content">
        <div class="box">
            <div class="box-header">
                <h3 class="box-title">教师信息管理列表</h3>
                <div class="box-tools pull-right">
                    <div class="upload_group">
                        <input type="file" id="upfile" accept=".xls" />
                        <input type="text" class="style_upload" readonly/>
                        <label for="upfile" class="open">浏览</label>
                    </div>
                    <button type="button" title="导入" class="btn btn-box-tool" onclick="readExcel();">
                        <i class="fa fa-fw fa-sign-in"></i>导入
                    </button>
                    <button type="button" title="导出" class="btn btn-box-tool" onclick="exportData()">
                        <i class="fa fa-fw fa-cloud-download"></i>导出
                    </button>
                    <button type="button" title="批量删除" class="btn btn-box-tool" onclick="delSomeTeacher()">
                        <i class="fa fa-fw fa-times"></i>批量删除
                    </button>
                    <button type="button" title="添加" class="btn btn-box-tool" onclick="editTeacher(0)">
                        <i class="fa fa-fw fa-plus-circle"></i>添加
                    </button>
                </div>
                <div class="box box-default box-solid" style="margin-top:10px;">
                    <div class="box-header with-border" style="padding:3px;font-size:14px;">
                        <h3 class="box-title" style="font-size:14px;">当前显示的列</h3>
                        <div class="box-tools pull-right" style="top: 1px;">
                            <button type="button" style="padding:0px;line-height:0px" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i>
                            </button>
                        </div>
                    </div>
                    <div class="box-body">
                        <span><input id="checkshow" name="checkshow" type="checkbox" value="1"> # |</span>
                        <span><input id="checkshow" name="checkshow" type="checkbox" value="2"> 姓名 |</span>
                        <span><input id="checkshow" name="checkshow" type="checkbox" value="3"> 工号 |</span>
                        <span><input id="checkshow" name="checkshow" type="checkbox" value="4"> 是否专任 |</span>
                        <span><input id="checkshow" name="checkshow" type="checkbox" value="5"> 联系电话 |</span>
                        <span><input id="checkshow" name="checkshow" type="checkbox" value="6"> 分管负责人 |</span>
                        <span><input id="checkshow" name="checkshow" type="checkbox" value="7"> 专业技术职称 |</span>
                        <span><input id="checkshow" name="checkshow" type="checkbox" value="8"> 学历 |</span>
                        <span><input id="checkshow" name="checkshow" type="checkbox" value="9"> 最高学位 |</span>
                        <span><input id="checkshow" name="checkshow" type="checkbox" value="10"> 学科类别 |</span>
                        <span><input id="checkshow" name="checkshow" type="checkbox" value="11"> 导师类型 |</span>
                        <span><input id="checkshow" name="checkshow" type="checkbox" value="12"> 单位名称 |</span>
                        <span><input id="checkshow" name="checkshow" type="checkbox" value="13"> 教学效果 |</span>
                        <span><input id="checkshow" name="checkshow" type="checkbox" value="14"> 是否上交证件 |</span>
                    </div>
                </div>
            </div>
            <div class="box-body">
                <table id="datatable" class="table table-bordered table-striped" width="100%">
                    <thead>
                        <tr>
                            <th><input id="checkall" name="checkall" type="checkbox"></th>
                            <th>#</th>
                            <th>姓名</th>
                            <th>工号</th>
                            <th>是否专任</th>
                            <th>联系电话</th>
                            <th>分管负责人</th>
                            <th>专业技术职称</th>
                            <th>学历</th>
                            <th>最高学位</th>
                            <th>学科类别</th>
                            <th>导师类型</th>
                            <th>单位名称</th>
                            <th>教学效果</th>
                            <th>是否上交证件</th>
                            <th>操作</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </section>
</div>

<div class="modal" id="edit-teacher-modal"></div>

<script>
    $("#checkall").click(function () {
        var checkbox = document.getElementById('checkall');
        if (checkbox.checked) {
            $('input[type="checkbox"][name="checkrow"]').each(function () {
                this.checked = true;
            });
        } else {
            $('input[type="checkbox"][name="checkrow"]').each(function () {
                this.checked = false;
            });
        }
    });

    $("#upfile").change(function () {
        var filename = $(this).val().split("\\").pop();
        $(".style_upload").val(filename);
    });

    $(document).ready(function () {
        var columns = [
            {   
                "data": function (obj) {
                    return '<input id="checkrow" name="checkrow" type="checkbox" value=' + obj.ID + '>';
                },
                "className": "text_center"
            },
            {
                "data": "ID",
                "className": "text_center"
            },
            {
                "data": "XM",
                "className": "text_center"
            },
            {
                "data": "GH",
                "className": "text_center"
            },
            {
                "data": "SFZR", 
                "className": "text_center"
            },
            {
                "data": "LXDH",
                "className": "text_center"
            },
            {
                "data": "FGFZR",
                "className": "text_center"
            },
            {
                "data": "ZYJSZC",
                "className": "text_center"
            },
            {
                "data": "XL",
                "className": "text_center"
            },
            {
                "data": "ZGXW",
                "className": "text_center"
            },
            {
                "data": "XKLB",
                "className": "text_center"
            },
            {
                "data": "DSLX",
                "className": "text_center"
            },
            {
                "data": "DWMC",
                "className": "text_center"
            },
            {
                "data": "JXXG",
                "className": "text_center"
            },
            {
                "data": function (obj) {
                    var filep = obj.FJ;
                    var str = "";
                    if (filep == "null" || filep == null || filep == "") {
                        str += '无';
                    }
                    if (filep != "" && filep != null && filep != "null") {
                        var locArray = filep.split("/");
                        var fileNmae = locArray[locArray.length - 1];
                        str += '<a href="/teacherService/download?filePath=' + filep + '" > ' + fileNmae + '</a>';
                    }
                    return str;
                },
                "className": "text_center"
            },
            {
                "data": function (obj) {
                    var str = '';
                    str += '<a style="margin-left: 10px;" onclick="editTeacher(\'' + obj.ID + '\')" href="#" role="button" data-toggle="modal" title="编辑"><i class="fa fa-fw fa-pencil"></i></a>';
                    str += '<a style="margin-left: 10px;" onclick="delTeacher(\'' + obj.ID + '\',\'' + obj.XM + '\')" role="button" data-toggle="modal" title="删除"><i class="fa fa-fw fa-trash-o"></i></a>';
                    if(obj.SFZR=='学院教师'){
                        if(obj.RULE == 0 || obj.RULE == 1){
                            str += '<a style="margin-left: 10px;" onclick="closeTeacher(\'' + obj.XM + '\')" role="button" data-toggle="modal" title="注销"><i class="fa fa-fw fa-user-times"></i></a>';                            
                        }else{
                            str += '<a style="margin-left: 10px;" onclick="registTeacher(\'' + obj.XM + '\')" role="button" data-toggle="modal" title="激活"><i class="fa fa-fw fa-user-plus"></i></a>';
                        }
                    } 
                    return str;
                },
                "className": "left_center"
            }
        ];
        var mytable = CreateDataTable('#datatable', '/teacherService/getList', columns);
        //初始化当前显示列的checkbox判断是否选中
        $('input[type="checkbox"][name="checkshow"]').each(function () {
            var column = $("#datatable").DataTable().column($(this).val());
            this.checked = column.visible();
        });

        $('input[type="checkbox"][name="checkshow"]').change(function () {
            var column = $("#datatable").DataTable().column($(this).val());
            column.visible(!column.visible());
        });
    });
    //编辑
    function editTeacher(id) {
        $.ajax({
            url: "/teacher/_editTeacher.html?id=" + id,
            type: "get",
            dataType: 'html',
            async: false,
            success: function (htmlContent) {
                //模态框
                $('#edit-teacher-modal').html(htmlContent);
                $("#edit-teacher-modal").modal('show');
            }
        });
    }
    //激活用户
    function registTeacher(XM){
        $.ajax({
            type: "get",
            url: '/web_confService/getinitpwd',
            dataType: "json",
            cache: true,
            success: function (pwd) {
                pwd = pwd.data.value;
                $.ajax({
                    type: "post",
                    url: '/userService/adduser',
                    dataType: "json",
                    data: {name:XM, pwd:pwd},
                    cache: true,
                    success: function (msg) {
                        if (msg.state.affectedRows == 1) {
                            var table = $('#datatable').DataTable();
                            table.ajax.reload();
                            table.draw();		
                            $("#success_modal").modal();
                            setTimeout(function(){			
                                $("#success_modal").modal('hide');
                            },1000);
                        } else {
                            $("#faile_modal").modal();
                            setTimeout(function(){					
                                $("#faile_modal").modal('hide');
                            },1000);
                        }
                    }
                })
            }   
        })
    }
    //删除用户
    function closeTeacher(XM){
        $.ajax({
            type: "post",
            url: '/userService/deluser',
            dataType: "json",
            data: {name:XM},
            cache: true,
            success: function (msg) {
                if (msg.state.affectedRows == 1) {
                    var table = $('#datatable').DataTable();
                    table.ajax.reload();
                    table.draw();		
                    $("#success_modal").modal();
                    setTimeout(function(){			
                        $("#success_modal").modal('hide');
                    },1000);
                } else {
                    $("#faile_modal").modal();
                    setTimeout(function(){					
                        $("#faile_modal").modal('hide');
                    },1000);
                }
            }
        })
    }

    //删除记录
    function delTeacher(ID,XM) {
        $.ajax({
            type: "get",
            url: '/teacherService/delOne',
            dataType: "json",
            data: { ID: ID },
            cache: true,
            success: function (msg) {
                if (msg.state == 1) {
                    $.ajax({
                        type: "post",
                        url: '/userService/deluser',
                        dataType: "json",
                        data: {name:XM},
                        cache: true,
                        success: function (m) {
                        }
                    })
                    var table = $('#datatable').DataTable();
                    table.ajax.reload();
                    table.draw();		
                    $("#success_modal").modal();
                    setTimeout(function(){			
                        $("#success_modal").modal('hide');
                    },1000);
                } else {
                    $("#faile_modal").modal();
                    setTimeout(function(){					
                        $("#faile_modal").modal('hide');
                    },1000);
                }
            },
            error: function (e) {
                console.log(e);
            }
        });
    }

    //批量删除记录
    function delSomeTeacher() {
        var flag = false;
        var arr = new Array();
        var names = new Array();
        //遍历所有checkbox
        $('input[type="checkbox"][name="checkrow"]:checked').each(function () {
            arr.push(this.value);
            var name= $(this).parent().parent().find("td")[2];
            name = $(name).text();
            names.push(name);
        });
        if (arr.length != 0) {
            //数组转字符串 ，拼接
            var idstr = arr.join(",");
            var namestr = names.join(",");
            $.ajax({
                type: "post",
                url: '/teacherService/delSome',
                dataType: "json",
                data: { idstr: idstr },
                cache: true,
                success: function (msg) {
                    if (msg.result != 0) {
                        $.ajax({
                            type: "post",
                            url: '/userService/delSomeuser',
                            dataType: "json",
                            data: {tnames:namestr},
                            cache: true,
                            success: function (m) {
                                console.log(m);
                            }
                        })
                        var table = $('#datatable').DataTable();
                        table.ajax.reload();
                        table.draw();		
                        $("#success_modal").modal();
                        setTimeout(function(){			
                            $("#success_modal").modal('hide');
                        },1000);
                    } else {
                        $("#faile_modal").modal();
                        setTimeout(function(){					
                            $("#faile_modal").modal('hide');
                        },1000);
                    }
                },
                error: function (e) {
                    console.log(e);
                }
            });
        } else {
            $("#warning_content").text("请选择一项删除");
            $("#warning_modal").modal("show");
        }
    }

    //批量导出
    function exportData() {
        var flag = false;
        var arr = new Array();
        //遍历所有checkbox
        $('input[type="checkbox"][name="checkrow"]:checked').each(function () {
            arr.push(this.value);
        });
        if (arr.length != 0) {
            //数组转字符串 ，拼接
            var idstr = arr.join(",");
            window.location.href = "/teacher/_exportTeacher.html?IDstr=" + idstr;
        } else {
            $("#warning_content").text("请选择一项导出");
            $("#warning_modal").modal("show");
        }
    }

    //导入excel并解析
    function readExcel() {
        var formData = new FormData(); //构建formdata
        formData.append('file', $('#upfile')[0].files[0]);
        if ($('#upfile')[0].files[0]) {
            $.ajax({
                type: 'post',
                url: '/teacher/readExcel',
                enctype: 'multipart/form-data',
                data: formData,
                cache: false,
                processData: false,
                contentType: false,
                success: function (msg) {
                    if(msg.success){
                        var table = $('#datatable').DataTable();
                        table.ajax.reload();
                        table.draw();		
                        $("#success_modal").modal();
                        setTimeout(function(){			
                            $("#success_modal").modal('hide');
                        },1000);
                    }else{
                        $("#warning_content").text(msg.errorMassage);
                        $("#warning_modal").modal("show");
                    }
                },
                error: function (e) {
                    console.log(e);
                }
            });
        } else {
            $("#warning_content").text("请选择一个文件");
            $("#warning_modal").modal("show");
        }
    }

</script>