<!-- datatable -->
<script src="../javascripts/mydatatable.js"></script>
<!-- table2excel导出 -->
<script src="/table2excel/jquery.table2excel.js"></script>
<style>
    #upfile {
        display: none;
    }
    .upload_group {
        display: inline-block;
        vertical-align: middle;
    }
    .style_upload {
        height: 20px;
        border-radius: 5px;
        width: 120px;
        font-size: 10px;
    }
    .open {
        font-size: 12px;
        color: #606c84;
        margin-bottom: 0px;
        font-weight: 500;
        border: 1px solid #606c84;
        border-radius: 5px;
        padding: 0px 2px;
        cursor: pointer;
    }
    .box-body span{
        display: inline-block;
    }
    .box-body span input{
        margin: 0px;
        vertical-align: middle;
    }
    .box {
        margin-bottom: 0px;
    }
    #datatable th, 
    #datatable td{
        white-space:nowrap;    
    }
    .text_center{
        text-align: center;
    }
</style>
<div class="content-wrapper">
    <section class="content-header">
        <h1>专业管理</h1>
        <ol class="breadcrumb">
            <li><a href="/index"><i class="fa fa-home"></i> 首页</a></li>
            <li class="active">专业管理</li>
        </ol>
    </section>
    <section class="content">
        <div class="box">
            <div class="box-header">
                <h3 class="box-title">专业列表</h3>
                <div class="box-tools pull-right">
                    <div class="upload_group">
                        <input type="file" id="upfile" accept=".xls" />
                        <input type="text" class="style_upload" readonly/>
                        <label for="upfile" class="open">浏览</label>
                    </div>
                    <button type="button" title="导入" class="btn btn-box-tool" onclick="readExcel()">
                        <i class="fa fa-fw fa-sign-in"></i>导入
                    </button>
                    <button type="button" title="导出" class="btn btn-box-tool" onclick="toExcel()">
                        <i class="fa fa-fw fa-cloud-download"></i>导出
                    </button>
                    <button type="button" title="批量删除" class="btn btn-box-tool" onclick="delSomeJys();">
                        <i class="fa fa-fw fa-times"></i>批量删除
                    </button>
                    <button type="button" title="添加" class="btn btn-box-tool" onclick="editMajor(0)">
                        <i class="fa fa-fw fa-plus-circle"></i>添加
                    </button>
                </div>
                <div class="box box-default box-solid" style="margin-top:10px;">
                    <div class="box-header with-border" style="padding:3px;font-size:14px;">
                        <h3 class="box-title" style="font-size:14px;">当前显示的列</h3>
                        <div class="box-tools pull-right" style="top: 1px;">
                            <button type="button" style="padding:0px;line-height:0px" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i>
                            </button>
                        </div>
                    </div>
                    <div class="box-body">
                        <span><input id="checkshow" name="checkshow" type="checkbox" value="1"> # |</span>
                        <span><input id="checkshow" name="checkshow" type="checkbox" value="2"> 专业编号 |</span>
                        <span><input id="checkshow" name="checkshow" type="checkbox" value="3"> 专业名称 |</span>
                        <span><input id="checkshow" name="checkshow" type="checkbox" value="4"> 所属教研室 |</span>
                        <span><input id="checkshow" name="checkshow" type="checkbox" value="5"> 教研室主任 |</span>
                        <span><input id="checkshow" name="checkshow" type="checkbox" value="6"> 开设年级 |</span>
                        <span><input id="checkshow" name="checkshow" type="checkbox" value="7"> 班级个数 |</span>
                        <span><input id="checkshow" name="checkshow" type="checkbox" value="8"> 各班大约人数 |</span>
                    </div>
                </div>
            </div>
            <div class="box-body" style="padding-top: 0">
                <table id="datatable" class="table table-bordered table-striped" width="100%">
                    <thead>
                        <tr>
                            <th><input id="checkall" name="checkall" type="checkbox"></th>
                            <th>#</th>
                            <th>专业编号</th>
                            <th>专业名称</th>
                            <th>所属教研室</th>
                            <th>教研室主任</th>
                            <th>开设年级</th>
                            <th>班级个数</th>
                            <th>各班大约人数</th>
                            <th>操作</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </section>
</div>

<div class="modal" id="modal-edit-event" ></div>

<script>
    $("#upfile").change(function () {
        var filename = $(this).val().split("\\").pop();
        $(".style_upload").val(filename);
    });
    
    $(document).ready(function () {
        $("#checkall").click(function () {
            var checkbox = document.getElementById('checkall');
            if (checkbox.checked) {
                $('input[type="checkbox"][name="checkrow"]').each(function () {
                    this.checked = true;
                });
            } else {
                $('input[type="checkbox"][name="checkrow"]').each(function () {
                    this.checked = false;
                });
            }
        });

        var columns = [
            {
                "data": function (obj) {
                    return '<input id="checkrow" name="checkrow" type="checkbox" value=' + obj.ID + '>';
                },
                "daclassName": "text_center"                
            },
            {
                "data": "ID",
                "daclassName": "text_center"
            },
            {
                "data": "ZYBH",
                "daclassName": "text_center"
            },
            {
                "data": "ZYMC",
                "daclassName": "text_center"
            },
            {
                "data": "SSJYS",
                "daclassName": "text_center"
            },
            {
                "data": "JYSZR",
                "daclassName": "text_center"
            },
            {
                "data": "KSNJ",
                "daclassName": "text_center"
            },
            {
                "data": "BJGS",
                "daclassName": "text_center"
            },
            {
                "data": "GBDYRS",
                "daclassName": "text_center"
            },
            {
                "data": function (obj) {
                    return '<a style="margin-left: 10px;" onclick="editMajor(\'' + obj.ID + '\')" href="#" role="button" data-toggle="modal" title="编辑"><i class="fa fa-fw fa-pencil"></i></a>'
                        + '<a style="margin-left: 10px;" onclick="delMajor(\'' + obj.ID + '\')" href="#" role="button" data-toggle="modal" title="删除"><i class="fa fa-fw fa-trash-o"></i></a>';
                },
                "daclassName": "text_center"                
            }
        ];
        var mytable = CreateDataTable('#datatable', '/majorService/getList', columns);

        //初始化当前显示列的checkbox判断是否选中
        $('input[type="checkbox"][name="checkshow"]').each(function () {
            var column = $("#datatable").DataTable().column($(this).val());
            this.checked = column.visible();
        });

        $('input[type="checkbox"][name="checkshow"]').change(function () {
            var column = $("#datatable").DataTable().column($(this).val());
            column.visible(!column.visible());
        });
    });

    //编辑
    function editMajor(id) {
        $.ajax({
            url: "/major/_editMajor.html?id=" + id,
            type: "get",
            dataType: 'html',
            async: false,
            success: function (htmlContent) {
                $('#modal-edit-event').html(htmlContent);
                $("#modal-edit-event").modal('show');
            }
        });
    }

    //导入excel并解析
    function readExcel() {
        var formData = new FormData(); //构建formdata
        formData.append('file', $('#upfile')[0].files[0]);
        if ($('#upfile')[0].files[0]) {
            $.ajax({
                type: 'post',
                url: '/major/readExcel',
                enctype: 'multipart/form-data',
                data: formData,
                cache: false,
                processData: false,
                contentType: false,
                success: function (msg) {
                    if(msg.success){
                        var table = $('#datatable').DataTable();
                        table.ajax.reload();
                        table.draw();		
                        $("#success_modal").modal();
                        setTimeout(function(){			
                            $("#success_modal").modal('hide');
                        },1000);
                    }else{
                        $("#warning_content").text(msg.errorMassage);
                        $("#warning_modal").modal("show");
                    }
                },
                error: function (e) {
                    console.log(e);
                }
            });
        } else {
            $("#warning_content").text("请选择一个文件");
            $("#warning_modal").modal("show");
        }
    }

    //批量导出
    function toExcel() {
        //定义一个flag判断存在单选框被选中
        var flag = false;
        $('input[type="checkbox"][name="checkrow"]').each(function () {
            if (this.checked == false) {
                this.parentNode.parentNode.classList = "noExl";
            } else if (this.checked == true) {
                this.parentNode.parentNode.classList = "";
                flag = true;
            }
        });
        if (flag) {
            $("#datatable").table2excel({
                exclude: ".noExl",
                name: "Excel Document Name",
                filename: "专业信息表" + "-" + GetTimeStr(),
                exclude_img: true,
                exclude_links: true,
                exclude_inputs: true
            });
        } else {
            $("#warning_content").text("请至少选择一项");
            $("#warning_modal").modal("show");
        }
    }    
    
    //删除与要删除记录相关的专业-课程记录
    function delMajorCourse(data) {
        $.ajax({
            type: "post",
            url: '/major_courseService/delSomeByZy',
            dataType: "json",
            data: {idstr: data},
            cache: true,
            success: function (msg) {
            },
            error: function (e) {
                console.log(e);
            }
        });
    }
    
    //删除记录
    function delMajor(ID) {
        delMajorCourse(ID);
        $.ajax({
            type: "post",
            url: '/majorService/delOne',
            dataType: "json",
            data: {ID: ID},
            cache: true,
            success: function (msg) {
                if (msg.state == 1) {
                    var table = $('#datatable').DataTable();
                    table.ajax.reload();
                    table.draw();		
                    $("#success_modal").modal();
                    setTimeout(function(){			
                        $("#success_modal").modal('hide');
                    },1000);
                } else {
                    $("#faile_modal").modal();
                    setTimeout(function(){					
                        $("#faile_modal").modal('hide');
                    },1000);
                }
            },
            error: function (e) {
                console.log(e);
            }
        });
    }

    //批量删除记录
    function delSomeJys() {
        var flag = false;
        var arr = new Array();
        $('input[type="checkbox"][name="checkrow"]:checked').each(function () {
            arr.push(this.value);
        });
        if (arr.length != 0) {
            var idstr = arr.join(",");
            delMajorCourse(idstr);
            $.ajax({
                type: "post",
                url: '/majorService/delSome',
                dataType: "json",
                data: {idstr: idstr},
                cache: true,
                success: function (msg) {
                    if (msg.state == 1) {
                        var table = $('#datatable').DataTable();
                        table.ajax.reload();
                        table.draw();		
                        $("#success_modal").modal();
                        setTimeout(function(){			
                            $("#success_modal").modal('hide');
                        },1000);
                    } else {
                        $("#faile_modal").modal();
                        setTimeout(function(){					
                            $("#faile_modal").modal('hide');
                        },1000);
                    }
                },
                error: function (e) {
                    console.log(e);
                }
            });
        } else {
            $("#warning_content").text("请选择一项删除");
            $("#warning_modal").modal("show");
        }
    }

</script>