
<!-- datatable -->
<script src="../javascripts/mydatatable.js"></script>
<!-- table2excel导出 -->
<script src="/table2excel/jquery.table2excel.js"></script>

<!-- page script -->

<!-- 页面内容 content -->
<div class="content-wrapper">
    <!-- 页面内容 Header -->
    <section class="content-header">
        <h1>
            专业管理页面
        </h1>
        <ol class="breadcrumb">
            <li><a href="/index"><i class="fa fa-home"></i> 首页</a></li>
            <li class="active">专业管理</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">
        <!-- /.box -->

        <div class="box">
            <div class="box-header">
                <h3 class="box-title">专业列表</h3>

                <div class="box-tools pull-right">
                    <button type="button" title="批量删除" class="btn btn-box-tool"
                            onclick="delSomeJys();">
                        <i class="fa fa-fw fa-plus-circle"></i>批量删除</button>
                    <button type="button" title="添加" class="btn btn-box-tool"
                            onclick="editMajor(0)">
                        <i class="fa fa-fw fa-plus-circle"></i>添加</button>
                    <!--<button type="button" title="导出" class="btn btn-box-tool"-->
                            <!--onclick="toExcel('datatable','');">-->
                        <!--<i class="fa fa-fw fa-plus-circle"></i>导出</button>-->
                    <!--<button type="button" title="导入" class="btn btn-box-tool"-->
                            <!--onclick="isIE();">-->
                        <!--<i class="fa fa-fw fa-plus-circle"></i>导入</button>-->
                </div>
                <div style="margin-top: 1%">
                    <div style="float: left;margin-left: 2%">当前显示的列：&nbsp;&nbsp;&nbsp;&nbsp;
                        专业编号：<input id="checkbox3" name="checkbox3" type="checkbox" value="1">&nbsp;&nbsp;&nbsp;&nbsp;
                        专业名称：<input id="checkbox3" name="checkbox3" type="checkbox" value="2">&nbsp;&nbsp;&nbsp;&nbsp;
                        所属教研室：<input id="checkbox3" name="checkbox3" type="checkbox" value="3">&nbsp;&nbsp;&nbsp;&nbsp;
                        开设年级：<input id="checkbox3" name="checkbox3" type="checkbox" value="4">&nbsp;&nbsp;&nbsp;&nbsp;
                        班级个数：<input id="checkbox3" name="checkbox3" type="checkbox" value="5">&nbsp;&nbsp;&nbsp;&nbsp;
                        各班大约人数：<input id="checkbox3" name="checkbox3" type="checkbox" value="6">&nbsp;&nbsp;&nbsp;&nbsp;
                    </div>
                    <!--<div style="float: right">-->
                        <!--<input type="file" id="upfile" accept=".xls,.xlsx" />-->
                    <!--</div>-->
                </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body" style="padding-top: 0">
                <table id="datatable" class="table table-bordered table-striped">
                    <thead>
                    <tr>
                        <th><input id="checkbox1" name="checkbox1" type="checkbox"></th>
                        <th>专业编号</th>
                        <th>专业名称</th>
                        <th>所属教研室</th>
                        <th>开设年级</th>
                        <th>班级个数</th>
                        <th>各班大约人数</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </section>
    <!-- /.content -->


</div>

<div class="modal" id="modal-edit-event"></div>
<script>
    var mytable;

    $(document).ready(function () {
        //全选  全反选处理
        $("#checkbox1").click(function (){
            var checkbox = document.getElementById('checkbox1');
            //是否被选中
            if(checkbox.checked){
                $('input[type="checkbox"][name="checkbox2"]').each(function () {
                    this.checked = true;
                });
            }else{
                $('input[type="checkbox"][name="checkbox2"]').each(function () {
                    this.checked = false;
                });
            }
        });

        var columns = [
            {
                "mData": null,
                "sClass": "center",
                "mData": function (obj) {
                    return '<input id="checkbox2" name="checkbox2" type="checkbox" value='+obj.ID+'>';
                }
            },
            {
                "mData": "ZYBH",
                "sClass": "center"
            },
            {
                "mData": "ZYMC",
                "sClass": "center"
            },
            {
                "mData": "SSJYS",
                "sClass": "center"
            },{
                "mData": "KSNJ",
                "sClass": "center"
            },
            {
                "mData": "BJGS",
                "sClass": "center"
            },
            {
                "mData": "GBDYRS",
                "sClass": "center"
            },
            {
                "mData": null,
                "sClass": "center",
                "mData": function (obj) {
                    return '<a style="margin-left: 10px;" onclick="editMajor(\'' + obj.ID + '\')" href="#" role="button" data-toggle="modal" title="编辑"><i class="fa fa-fw fa-pencil"></i></a>'
                            +'<a style="margin-left: 10px;" onclick="delMajor(\'' + obj.ID + '\')" href="#" role="button" data-toggle="modal" title="删除"><i class="fa fa-fw fa-trash-o"></i></a>';
                }
            }
        ];
        mytable = CreateDataTable('#datatable', '/majorService/getList', columns);

        //初始化当前显示列的checkbox判断是否选中
        $('input[type="checkbox"][name="checkbox3"]').each(function () {
            // Get the column API object
            var column = $("#datatable").DataTable().column( $(this).val() );
            // Toggle the visibility
            this.checked = column.visible();
        });

        $('input[type="checkbox"][name="checkbox3"]').change( function () {
            // Get the column API object
            var column = $("#datatable").DataTable().column( $(this).val() );
            // Toggle the visibility
            column.visible( ! column.visible() );
        });
    });

    //编辑
    function editMajor(id) {
        $.ajax({
            url: "/major/_editMajor.html?id=" + id,
            type: "get",
            dataType: 'html',
            async: false,
            success: function (htmlContent) {
                //模态框
                $('#modal-edit-event').html(htmlContent);
                $("#modal-edit-event").modal('show');
            }
        });
    }
    //删除记录
    function delMajor(ID) {
        var result = confirm("确认要删除？");
        if (result) {
            $.ajax({
                type: "get",
                url: '/majorService/delOne',
                dataType: "json",
                data: {ID: ID},
                cache: true,
                success: function (msg) {
                    if (msg.state == 1) {
                        alert("删除成功");
                    }
                    location.reload();
                },
                error: function (e) {
                    console.log(e);
                }
            });
        }
    }

    //批量删除记录
    function delSomeJys() {
        var flag = false;
        var arr = new Array();
        //遍历所有checkbox
        $('input[type="checkbox"][name="checkbox2"]:checked').each(function () {
            arr.push(this.value);
        });
        if(arr.length != 0){
            var result = confirm("确认要删除这些数据？");
            if (result) {
                //数组转字符串 ，拼接
                var idstr = arr.join(",");
                $.ajax({
                    type: "get",
                    url: '/majorService/delSome',
                    dataType: "json",
                    data: {idstr: idstr},
                    cache: true,
                    success: function (msg) {
                        if (msg.state == 1) {
                            alert("删除成功");
                        }
                    },
                    error: function (e) {
                        console.log(e);
                    }
                });
                location.reload();
            }
        }else{
            alert("请至少选择一项");
        }
    }

</script>