<script src="/javascripts/mydatatable.js"></script>
<script src="/table2excel/jquery.table2excel.js"></script>

<style>
    #upfile {
        display: none;
    }
    .upload_group {
        display: inline-block;
        vertical-align: middle;
    }
    .style_upload {
        height: 20px;
        border-radius: 5px;
        width: 120px;
        font-size: 10px;
    }
    .open {
        font-size: 12px;
        color: #606c84;
        margin-bottom: 0px;
        font-weight: 500;
        border: 1px solid #606c84;
        border-radius: 5px;
        padding: 0px 2px;
        cursor: pointer;
    }
    .box-body span{
        display: inline-block;
    }
    .box-body span input{
        margin: 0px;
        vertical-align: middle;
    }
    
    #datatable th, 
    #datatable td{
        white-space:nowrap;    
    }
    .text_center{
        text-align: center;
    }
    
    .cursor{
        cursor: pointer;
    }
    .nav>li>a {
        padding: 5px 5px 5px 10px;
    }
    .box-header.with-border{
        border-bottom: 1px solid #C7C7C7;
        padding: 8px;
    }
    .box-header 
    .box-title{
        font-size: 16px;
    }
    .tags,
    .times,
    .tags p{
        display: inline-block;
    }
    .tags p{
        margin: 5px 10px 0px 10px ;
        vertical-align: middle;
        color: #606c84;
    }
    .modal-footer{
        padding:10px 20px;
    } 
    .modal-footer button{
        padding: 5px 10px;
        width: 70px;
        height: 28px;
        line-height: 15px;
    }
    .modal-content{
        width: 400px;
        margin: 0 auto;
    }
</style>
<div class="content-wrapper">
    <section class="content-header">
        <h1>专业-课程管理页面</h1>
        <ol class="breadcrumb">
            <li><a href="/index"><i class="fa fa-home"></i> 首页</a></li>
            <li class="active">专业-课程管理</li>
        </ol>
    </section>
    <section class="content">
        <div class="row"> 
            <div class="col-md-12 col-sm-12"> 
                <div class="box box-default box-solid ">
                    <div class="box-header with-border" style="padding:5px 10px 5px 10px;font-size:14px;">
                        <h3 class="box-title" style="font-size:14px;">时间</h3>
                        <div class="box-tools pull-right" style="top: 1px;">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i>
                            </button>
                        </div>
                    </div>
                    <div class="box-body">
                        <div class="row" style="margin-left:0px;margin-right:0px"> 
                            <div class="times col-md-4 col-sm-12">
                                <div class="input-group date" id="datechoose">
                                    <input type="text" class="form-control">
                                    <div class="input-group-addon">
                                        <span class="glyphicon glyphicon-th"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-12 tags">
                                <p>注：根据时间选择本页学期与专业。</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="mymenus" class="col-md-2 col-sm-12"></div>
            <div class="col-md-10 col-sm-12">
                <div class="box">
                    <div class="box-header">
                        <h6 id="h3" class="box-title" style="font-size: 16px;"></h6>
                        <div class="box-tools pull-right">
                            <div class="upload_group">
                                <input type="file" id="upfile" accept=".xls,.xlsx" />
                                <input type="text" class="style_upload" readonly/>
                                <label for="upfile" class="open">浏览</label>
                            </div>
                            <button type="button" title="导入" class="btn btn-box-tool" onclick="isIE();">
                                <i class="fa fa-fw fa-plus-circle"></i>导入
                            </button>
                            <button type="button" title="导出" class="btn btn-box-tool" onclick="toExcel('datatable','');">
                                <i class="fa fa-fw fa-plus-circle"></i>导出
                            </button>
                            <button type="button" title="批量删除" class="btn btn-box-tool" onclick="delSome();">
                                <i class="fa fa-fw fa-plus-circle"></i>批量删除
                            </button>
                            <button type="button" title="添加" class="btn btn-box-tool" onclick="insert()">
                                <i class="fa fa-fw fa-plus-circle"></i>添加课程
                            </button>
                        </div>
                    </div>
                    <div class="box-body">
                        <table id="datatable" class="table table-bordered table-striped" style="overflow-x: scroll;">
                            <thead>
                                <tr>
                                    <th><input id="chenkall" name="chenkall" type="checkbox"></th>
                                    <th>专业编号</th>
                                    <th>专业名称</th>
                                    <th>开设年级</th>
                                    <th>开设学期</th>
                                    <th>课程负责人</th>
                                    <th>课程编号</th>
                                    <th>课程名称</th>
                                    <th>班级个数</th>
                                    <th>各班大约人数</th>
                                    <th>教研室划分</th>
                                    <th>专业负责人</th>
                                    <th>课程名称(英文)</th>
                                    <th>课程类型</th>
                                    <th>周学时</th>
                                    <th>上机学时</th>
                                    <th>学分</th>
                                    <th>适用对象</th>
                                    <th>先导课程</th>
                                    <th>后续课程</th>
                                    <th>操作</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<div class="modal fade" id="edit_term" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
    <div class="modal-content" style="margin-top: 200px">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="myModalLabel">专业-课程信息编辑</h4>
        </div>
        <div class="modal-body">
            <form id="edit_form">
                <div class="box-body">
                    <div class="form-group">
                        <label>课程名称</label>
                        <input id="TEMPKCMC" class="form-control" readonly />
                        <input id="TEMPKZID" type="hidden" />
                        <input id="TEMPZYID" type="hidden" />
                        <input id="TEMPKCID" type="hidden" />
                    </div>
                    <div class="form-group">
                        <label>开设学期</label>
                        <select class="form-control" id="TEMPKSXQ">
                            <option>第一学期</option>
                            <option>第二学期</option>
                            <option>第三学期</option>
                            <option>第四学期</option>
                            <option>第五学期</option>
                            <option>第六学期</option>
                            <option>第七学期</option>
                            <option>第八学期</option>
                        </select>
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            <button type="button" class="btn btn-primary" onclick="submitEdit()">提交</button>
        </div>
    </div>
</div>
</div>

<script>    
    $(document).ready(function () {
        $("#datechoose").datepicker({
            format: 'yyyy/mm',
            autoclose:true,
            language:'zh-CN',
            todayHighlight:true,
            startView:'2',
            minViewMode:'months',
            title:'--------学期选择--------'
        });

        var time = new Date();
        $('#datechoose').datepicker('setDate', time); //构建时间选择器
        bulid_table(time); //构建datatable

        $('#datechoose').datepicker().on('hide', function(e) { //改变时间选择器重新获取当前的信息
            time = $('#datechoose').datepicker('getDate');
            bulid_table(time);
        });

        $("#chenkall").click(function () {
            var checkbox = document.getElementById('chenkall');
            if (checkbox.checked) {
                $('input[type="checkbox"][name="checkrow"]').each(function () {
                    this.checked = true;
                });
            } else {
                $('input[type="checkbox"][name="checkrow"]').each(function () {
                    this.checked = false;
                });
            }
        });
    });

    function bulid_table(time){ // 构建表格
        var xn = get_term(time);
        var son = getSonMenu(xn);
        let xnzy = bindMenu(xn,son);
        createBynjzy(xnzy);
    }

    //获取当前的学期
    function get_term(d) {
        if(d==""){
            var nowDate = new Date();
        }else {
            var nowDate = new Date(d);
        }
        var nowYear = nowDate.getFullYear();
        var nowMonth = nowDate.getMonth() + 1;
        if (nowMonth >= 8 && nowMonth <= 12) {
            var xuenian1 = nowYear + "级";
            var xuenian2 = nowYear - 1 + "级";
            var xuenian3 = nowYear - 2 + "级";
            var xuenian4 = nowYear - 3 + "级";
        } else if (nowMonth >= 1 && nowMonth < 2 || nowMonth >= 2 && nowMonth <= 7) {
            var xuenian1 = nowYear - 1 + "级";
            var xuenian2 = nowYear - 2 + "级";
            var xuenian3 = nowYear - 3 + "级";
            var xuenian4 = nowYear - 4 + "级";
        }
        var term = [];
        for(let i = 1; i <= 4 ; i++){
            term.push(eval('xuenian'+i));
        }
        return term;
    }

    //获取当前的学期的专业
    function getSonMenu(xn){
        var xnStr = xn.join(",");
        var data = [];
        $.ajax({
            type: "post",
            url: '/major/_getZymc.html',
            dataType: "json",
            data:{xn:xnStr},
            async: false,
            cache: true,
            success: function (msg) {
                if (msg.result != 0) {
                    data = msg;
                }
            },
            error: function (e) {
                console.log(e);
            }
        });
        return data;
    }

    //生成菜单
    function bindMenu(xn,son){
        $('#mymenus').html("");
        var tempStr = "";
        var fatherMenus =xn;//获取父菜单项
        if(son.result){ // 判断是否存在这些专业
            var sonMenus =  son.result ;
        }else{
            var sonMenus = [] ;
        }
        xn.forEach(function(v,i,a) {
            var itemStr = "";
            itemStr += "<div class='box box-solid'>";
            itemStr += "<div class='box-header with-border'>";
            itemStr += "<h3 class='box-title'>"+v+"</h3>";
            itemStr += "<div class='box-tools'><button type='button' class='btn btn-box-tool' data-widget='collapse'><i class='fa fa-minus'></i></button></div>";
            itemStr += "</div>";
            itemStr += "<div class='box-body no-padding'>";
            itemStr += "<ul class='nav nav-pills nav-stacked'>";
            sonMenus.forEach(function(s,o,arr) {
                if(s.KSNJ == v){
                    itemStr += '<li><a class="cursor" onclick="createBynjzy(\''+v+"-"+s.ZYMC+'\')"><i class="fa fa-fw fa-book"></i>'+s.ZYMC+'</a></li>';
                    if(tempStr == "" && v != "" && s.ZYMC != ""){
                        tempStr = v+"-"+s.ZYMC;
                    }
                }
            });
            itemStr += "</ul>";
            itemStr += "</div>";
            itemStr += "</div>";
            $('#mymenus').append(itemStr);
        });
        return tempStr;
    }

    function createBynjzy(xnzy){ 
        var xn = xnzy.split("-")[0];
        var zy = xnzy.split("-")[1];
        var columns = [
            {
                "className": "center",
                "data": function (obj) {
                    return '<input id="checkrow" name="checkrow" type="checkbox" value=' + obj.ZKID + '>';
                }
            },
            {
                "data": "ZYBH",
                "className": "center"
            },
            {
                "data": "ZYMC",
                "className": "center"
            },
            {
                "data": "KSNJ",
                "className": "center"
            },
            {
                "data": "KSXQ",
                "className": "center"
            },
            {
                "data": "KCFZR",
                "className": "center"
            }, {
                "data": "KCBH",
                "className": "center"
            },
            {
                "data": "KCMC",
                "className": "center"
            },
            {
                "data": "BJGS",
                "className": "center"
            },
            {
                "data": "GBDYRS",
                "className": "center"
            },
            {
                "data": "JYSHF",
                "className": "center"
            },
            {
                "data": "ZYFZR",
                "className": "center"
            },
            {
                "data": "KCYWMC",
                "className": "center"
            },
            {
                "data": "KCLX",
                "className": "center"
            },
            {
                "data": "ZXS",
                "className": "center"
            },
            {
                "data": "SJXS",
                "className": "center"
            },
            {
                "data": "XF",
                "className": "center"
            },
            {
                "data": "SYDX",
                "className": "center"
            }, {
                "data": "XDKC",
                "className": "center"
            },
            {
                "data": "HXKC",
                "className": "center"
            },
            {
                "className": "center",
                "data": function (obj) {
                    return '<a style="margin-left: 10px;" onclick="editMajorCourse(\'' + obj.ZKID + "','"+ obj.ZYID + "','"+ obj.KCID +"','"+ obj.KCMC + "','"+ obj.KSXQ + '\')" href="#" role="button" data-toggle="modal" title="编辑"><i class="fa fa-fw fa-pencil"></i></a>'
                        + '<a style="margin-left: 10px;" onclick="delMajorCourse(\'' + obj.ZKID + '\')" href="#" role="button" data-toggle="modal" title="删除"><i class="fa fa-fw fa-trash-o"></i></a>';
                }
            }
        ];
        if(xnzy == ""){
            $("#h3").text("");
            $("#warning_content").text("暂无专业信息");
            $("#warning_modal").modal("show");
        }else{
            $("#h3").text(xn+"-"+zy+" 专业选课信息");
        }
        if ( $.fn.dataTable.isDataTable( '#datatable' ) ) { // 已经构建了database
            var table = $('#datatable').DataTable();
            table.ajax.url( "/major_courseService/getList?xn="+encodeURI(xn)+"&zy="+encodeURI(zy) ).load();
            table.draw();
        } else {
            var mytable = CreateDataTable('#datatable', "/major_courseService/getList?xn="+encodeURI(xn)+"&zy="+encodeURI(zy), columns);
        }
    }

    //跳转到添加课程页面
    function insert() {
        let xnzyStr = $("#h3").text();
        xnzyStr = xnzyStr.split(" ")[0];
        window.location.href = "/major_course/addCourse.html?data=" + xnzyStr;
    }

    //编辑
    function editMajorCourse(id,zyid,kcid,mc,xq) {
        $("#TEMPKCMC").val(mc);
        $("#TEMPKZID").val(id);
        $("#TEMPKSXQ").val(xq);
        $("#TEMPZYID").val(zyid);
        $("#TEMPKCID").val(kcid);
        $("#edit_term").modal('show');
    }
    //提交编辑前查找是否有重复的记录
    function checkMajorCourse(){
        var flag = false;
        $.ajax({
            type: "post",
            url: '/major_courseService/checkMajorCourse',
            dataType: "json",
            data:{zyid:$("#TEMPZYID").val(),kcid:$("#TEMPKCID").val(),term:$("#TEMPKSXQ").val()},
            async: false,
            cache: true,
            success: function (msg) {
                if(msg.result.length > 0){
                    if(msg.result[0].ID != $("#TEMPKZID").val()){
                        $("#warning_content").text("已存在此条选课信息");
                        $("#warning_modal").modal("show");
                    }else{
                        $("#edit_term").modal('hide');	
                        $("#success_modal").modal();
                        setTimeout(function(){			
                            $("#success_modal").modal('hide');
                        },1000);
                    }
                } else {
                    flag = true;
                }
            },
            error: function (e) {
                console.log(e);
            }
        });
        return flag;
    }
    //提交编辑
    function submitEdit(){
        if(checkMajorCourse()){
            $.ajax({
                type: "post",
                url: '/major_courseService/editMajorCourse',
                dataType: "json",
                data:{id:$("#TEMPZYID").val(),term:$("#TEMPKSXQ").val()},
                async: false,
                cache: true,
                success: function (msg) {
                    if(msg.state == 1){
                        $("#edit_term").modal('hide');
                        var table = $('#datatable').DataTable();
                        table.ajax.reload();
                        table.draw();		
                        $("#success_modal").modal();
                        setTimeout(function(){			
                            $("#success_modal").modal('hide');
                        },1000);
                    } else {
                        $("#faile_modal").modal();
                        setTimeout(function(){					
                            $("#faile_modal").modal('hide');
                        },1000);
                    }
                },
                error: function (e) {
                    console.log(e);
                }
            });
        }
    }

    //删除记录
    function delMajorCourse(ID) {
        $.ajax({
            type: "get",
            url: '/major_courseService/delOne',
            dataType: "json",
            data: {ID: ID},
            cache: true,
            success: function (msg) {
                if (msg.state == 1) {
                    var table = $('#datatable').DataTable();
                    table.ajax.reload();
                    table.draw();		
                    $("#success_modal").modal();
                    setTimeout(function(){			
                        $("#success_modal").modal('hide');
                    },1000);
                } else {
                    $("#faile_modal").modal();
                    setTimeout(function(){					
                        $("#faile_modal").modal('hide');
                    },1000);
                }
            },
            error: function (e) {
                console.log(e);
            }
        });
    }

    function delSome() {
        var flag = false;
        var arr = new Array();
        $('input[type="checkbox"][name="checkrow"]:checked').each(function () {
            arr.push(this.value);
        });
        if (arr.length != 0) {
            var idstr = arr.join(",");
            $.ajax({
                type: "get",
                url: '/major_courseService/delSome',
                dataType: "json",
                data: {idstr: idstr},
                cache: true,
                success: function (msg) {
                    if (msg.state == 1) {
                        var table = $('#datatable').DataTable();
                        table.ajax.reload();
                        table.draw();		
                        $("#success_modal").modal();
                        setTimeout(function(){			
                            $("#success_modal").modal('hide');
                        },1000);
                    } else {
                        $("#faile_modal").modal();
                        setTimeout(function(){					
                            $("#faile_modal").modal('hide');
                        },1000);
                    }
                },
                error: function (e) {
                    console.log(e);
                }
            });
        } else {
            $("#warning_content").text("请选择一项删除");
            $("#warning_modal").modal("show");
        }
    }

    //由专业名称和开设年级获取专业ID
    function getZyId(str) {
        var zyid = "";
        $.ajax({
            type: "get",
            url: '/major/_getZyId.html',
            dataType: "json",
            data: {sqlStr: str},
            cache: false,
            async: false,//同步
            success: function (result) {
                zyid = result.result[0].ID;
            },
            error: function (e) {
                console.log(e);
            }
        });
        return zyid;
    }
    //由课程名称获取课程ID
    function getKcId(str) {
        var kcid = "";
        $.ajax({
            type: "get",
            url: '/course/_getKcId.html',
            dataType: "json",
            data: {sqlStr: str},
            cache: false,
            async: false,//同步
            success: function (result) {
                kcid = result.result[0].ID;
            },
            error: function (e) {
                console.log(e);
            }
        });
        return kcid;
    }

    //判断当前浏览器是否为IE（支持IE11）
    function isIE() {
        var flag = "ActiveXObject" in window;
        if (flag) {
            ReadExcel();
        } else {
            $("#warning_content").text("导入功能暂不支持IE外的浏览器");
            $("#warning_modal").modal("show");
        }
    }

    //导入excel并将数据存储到数据库
    function ReadExcel() {
        //得到文件路径的值
        var filePath = document.getElementById("upfile").value;
        //判断是否选择文件
        if (filePath != "") {
            var oXL = new ActiveXObject("Excel.application");
            //打开指定路径的excel文件
            var oWB = oXL.Workbooks.open(filePath);
            //操作第一个sheet(从一开始，而非零)
            oWB.worksheets(1).select();
            var oSheet = oWB.ActiveSheet;
            //使用的行数
            var rows = oSheet.usedrange.rows.count;
            try {
                //验证表格格式--即验证表单表头是否与格式匹配
                if (oSheet.Cells(1, 1).value == "专业名称" && oSheet.Cells(1, 2).value == "开设年级" && oSheet.Cells(1, 3).value == "开设学期"
                    && oSheet.Cells(1, 4).value == "课程名称") {
                    var flag = true;
                    for (var i = 2; i <= rows; i++) {
                        if (!flag) break;
                        //将表格第i行数据拼接成字符串
                        var zyid = getZyId(oSheet.Cells(i, 2).value + "," + oSheet.Cells(i, 1).value);
                        var kcid = getKcId(oSheet.Cells(i, 4).value);
                        if (zyid == "") {
                            $("#warning_content").text("该专业不存在该年级或该年级不存在");
                            $("#warning_modal").modal("show");
                            break;
                        }
                        if (kcid == "") {
                            $("#warning_content").text("该课程不存在");
                            $("#warning_modal").modal("show");
                            break;
                        }

                        var str = zyid + "," + kcid + "," + oSheet.Cells(i, 3).value;
                        //添加到专业-课程表
                        $.ajax({
                            type: "get",
                            url: '/major_courseService/insertSome',
                            dataType: "json",
                            data: {str: str},
                            cache: false,
                            async: false,//同步
                            success: function (result) {

                            },
                            error: function (e) {
                                flag = false;
                                $("#warning_content").text("出错了");
                                $("#warning_modal").modal("show");
                                console.log(e);
                            }
                        });
                    }
                    if (flag) {
                        var table = $('#datatable').DataTable();
                        table.ajax.reload();
                        table.draw();		
                        $("#success_modal").modal();
                        setTimeout(function(){			
                            $("#success_modal").modal('hide');
                        },1000);
                    }
                } else {
                    $("#warning_content").text("表格格式错误");
                    $("#warning_modal").modal("show");
                }
            } catch (e) {
                console.log(e);
            }
            //退出操作excel的实例对象
            oXL.Application.Quit();
            //手动调用垃圾收集器
            CollectGarbage();
        } else {
            $("#warning_content").text("请选择一个文件导入");
            $("#warning_modal").modal("show");
        }
    }
    //导出
    function toExcel(inTblId, inWindow) {
        if ("ActiveXObject" in window) { //如果是IE浏览器
            try {
                var allStr = "";
                var curStr = "";
                if (inTblId != null && inTblId != "" && inTblId != "null") {
                    curStr = getTblData(inTblId, inWindow);
                }
                if (curStr != null) {
                    allStr += curStr;
                }else {
                    $("#warning_content").text("你要导出的表不存在！");
                    $("#warning_modal").modal("show");
                    return;
                }
                var fileName = getExcelFileName();
                doFileExport(fileName, allStr);
            }
            catch (e) {
                $("#warning_content").text("导出发生异常:" + e.name + "->" + e.description);
                $("#warning_modal").modal("show");
            }
        } else {
            exportData();//批量导出(非IE浏览器)
        }
    }

    //批量导出(非IE浏览器)
    function exportData() {
        //定义一个flag判断存在单选框被选中
        var flag = false;
        //遍历所有checkbox,未选中选项所在行设置class为noExl
        $('input[type="checkbox"][name="checkrow"]').each(function () {
            if (this.checked == false) {
                //设置该checkbox所在行的class属性为noExl
                this.parentNode.parentNode.classList = "noExl";
            } else if (this.checked == true) {
                this.parentNode.parentNode.classList = "";
                flag = true;
            }
        });
        if (flag) {
            var d = new Date();
            var curYear = d.getFullYear();
            var curMonth = "" + (d.getMonth() + 1);
            var curDate = "" + d.getDate();
            var curHour = "" + d.getHours();
            var curMinute = "" + d.getMinutes();
            var curSecond = "" + d.getSeconds();
            if (curMonth.length == 1) {
                curMonth = "0" + curMonth;
            }
            if (curDate.length == 1) {
                curDate = "0" + curDate;
            }
            if (curHour.length == 1) {
                curHour = "0" + curHour;
            }
            if (curMinute.length == 1) {
                curMinute = "0" + curMinute;
            }
            if (curSecond.length == 1) {
                curSecond = "0" + curSecond;
            }
            //获取需要查询的开设年级和专业名称
            var sqlstr = "<%= sqlStr %>";
            //判断开设年级和专业名称是否为空
            if ("<%= sqlStr %>" == "") {
                sqlstr = tempStr;
            }
            $("#datatable").table2excel({
                exclude: ".noExl",//有class = “noExl” 的行不被导出；
                name: "Excel Document Name",
                filename: sqlstr.replace(",", "-") + "专业 课程信息表" + "-" + curYear + curMonth + curDate + curHour + curMinute,
                exclude_img: true,
                exclude_links: true,
                exclude_inputs: true
            });
        } else {
            $("#warning_content").text("请至少选择一项");
            $("#warning_modal").modal("show");
        }
    }
    //获取table数据
    function getTblData(inTbl, inWindow) {
        var rows = 0;
        var tblDocument = document;
        if (!!inWindow && inWindow != "") {
            if (!document.all(inWindow)) {
                return null;
            } else {
                tblDocument = eval(inWindow).document;
            }
        }
        var curTbl = tblDocument.getElementById(inTbl);
        if (curTbl.rows.length > 65000) {
            $("#warning_content").text("源行数不能大于65000行");
            $("#warning_modal").modal("show");
            return false;
        }
        if (curTbl.rows.length <= 1) {
            $("#warning_content").text("数据源没有数据");
            $("#warning_modal").modal("show");
            return false;
        }
        var outStr = "";

        if (curTbl != null) {
            var flag = true;
            for (var j = 0; j < curTbl.rows.length; j++) {
                for (var i = 1; i < curTbl.rows[j].cells.length - 1; i++) {
                    if (i == 1 && rows > 0) {
                        outStr += " \t";
                        rows -= 1;
                    }
                    //var tc = curTbl.rows[j].cells[i];
                    if (curTbl.rows[j].cells[0].firstChild.type.toLowerCase() == "checkbox") {
                        if (curTbl.rows[j].cells[0].firstChild.checked == true) {
                            flag = true;
                        } else {
                            flag = false;
                        }
                    }
                    if (flag || j == 0) {
                        outStr += "" + curTbl.rows[j].cells[i].innerText + "\t";
                        if (curTbl.rows[j].cells[i].colSpan > 1) {
                            for (var k = 0; k < curTbl.rows[j].cells[i].colSpan - 1; k++) {
                                outStr += " \t";
                            }
                        }
                    }
                    if (i == 0) {
                        if (rows == 0 && curTbl.rows[j].cells[i].rowSpan > 1) {
                            rows = curTbl.rows[j].cells[i].rowSpan - 1;
                        }
                    }
                }
                if (flag || j == 0) {
                    outStr += "\r\n";
                }
            }
        } else {
            outStr = null;
            $("#warning_content").text(inTbl + "不存在!");
            $("#warning_modal").modal("show");
        }
        return outStr;
    }
    function getExcelFileName() {
        var d = new Date();
        var curYear = d.getFullYear();
        var curMonth = "" + (d.getMonth() + 1);
        var curDate = "" + d.getDate();
        var curHour = "" + d.getHours();
        var curMinute = "" + d.getMinutes();
        var curSecond = "" + d.getSeconds();
        if (curMonth.length == 1) {
            curMonth = "0" + curMonth;
        }
        if (curDate.length == 1) {
            curDate = "0" + curDate;
        }
        if (curHour.length == 1) {
            curHour = "0" + curHour;
        }
        if (curMinute.length == 1) {
            curMinute = "0" + curMinute;
        }
        if (curSecond.length == 1) {
            curSecond = "0" + curSecond;
        }

        //获取需要查询的开设年级和专业名称
        var sqlstr = "<%= sqlStr %>";
        //判断开设年级和专业名称是否为空
        if ("<%= sqlStr %>" == "") {
            sqlstr = tempStr;
        }
        var fileName = sqlstr.replace(",", "-") + "专业 课程信息表" + "-" + curYear + curMonth + curDate + curHour + curMinute + ".xls";
        return fileName;
    }
    function doFileExport(inName, inStr) {
        var xlsWin = null;
        if (!!document.all("glbHideFrm")) {
            xlsWin = glbHideFrm;
        } else {
            var width = 1;
            var height = 1;
            var openPara = "left=" + (window.screen.width / 2 + width / 2) + ",top=" + (window.screen.height + height / 2) +
                ",scrollbars=no,width=" + width + ",height=" + height;
            xlsWin = window.open("", "_blank", openPara);
        }
        xlsWin.document.write(inStr);
        xlsWin.document.close();
        xlsWin.document.execCommand('Saveas', true, inName);
        xlsWin.close();
    }
</script>