<style type="text/css">
    #xgtable td {
        padding: 8px;
    }
    .nav>li>a{
        padding: 5px 15px;
    }
    .paddingstyle{
        padding: 5px 0px;
    }
    .modal-body{
        padding-top: 5px;
    }
    .modal-header{
        padding: 8px 15px;
    }
    #xuanke-table tr th{
        border: 0px;
        text-align: center;
    }
    .modal-footer{
        padding: 10px 20px;   
        position: relative;     
    }
    .close-btn{
        padding: 2px 20px;
    }
    .error_msg{
        position: absolute;
        left: 20px;
        top: 12px;
        color: #c9302c;
    }
    .form-control{
        padding: 3px;
        font-size:14px;
    }
</style>
<div class="modal-dialog" style="margin-top: 300px">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">选课/修改</h4>
        </div>
        <div class="modal-body">
            <div class="paddingstyle">
                <ul class="nav nav-tabs">
                    <li class="xuanke-li active"><a href="#">选课</a></li>
                    <li class="xiugai-li"><a href="#">修改</a></li>
                </ul>
            </div>
            <!-- 选课table -->
            <div id="xuanke-div" class="box-body no-padding">
                <form id="xuanke-form">
                    <input id="KCID" name="KCID" type="hidden" value="<%= kcid %>">
                    <input id="SURTS" name="SURTS" type="hidden" value="<%= surts %>">
                    <table id="xuanke-table" class="table">
                        <tr>
                            <th style="width: 15%">头数</th>
                            <th style="width: 20%">教师姓名</th>
                            <th style="width: 20%">是否专任</th>
                            <th style="width: 35%">备注</th>
                            <th style="width: 10%"></th>
                        </tr>
                        <tr>
                            <td>
                                <input id="XZTS" name="XZTS" type="number" min="1" max="<%= surts %>" class="form-control" onblur="check_Surts()" onfocus="clear_error()">
                            </td>
                            <td>
                                <input id="JSMC" name="JSMC" type="text" class="form-control" onblur="select_zr()" onfocus="clear_error()">
                            </td>
                            <td>
                                <select class="form-control" id="SFZR" name="SFZR" style="width: 100%" onfocus="clear_error()">
                                    <option value="学院教师">学院教师</option>
                                    <option value="大校教师">大校教师</option>
                                    <option value="其他高校教师（有教师资格证）">其他高校教师（有教师资格证）</option>
                                    <option value="实习机构">实习机构</option>
                                    <option value="其他人员">其他人员</option>
                                    <option value="其他">其他</option>
                                </select>
                            </td>
                            <td>
                                <input id="BZ" name="BZ" type="text" class="form-control" placeholder="（代选老师请备注）" onfocus="clear_error()">
                            </td>
                            <td>
                                <button id="xuanke-btn" clicked="0" type="button" class="btn btn-primary" onclick="submitXuanke();"> 选课</button>
                            </td>
                        </tr>
                    </table>
                </form>
            </div>
            <!-- 修改table -->
            <div id="xiugai-div" class="box-body no-padding">
                <form id="xgform">
                    <table id="xgtable" class="table">
                        <!-- 动态生成表格 -->
                    </table>
                </form>
            </div>
        </div>
        <div class="modal-footer">
            <p class="error_msg"></p>
            <button type="button" class="close-btn btn btn-default" data-dismiss="modal" onclick="location.reload()">关闭</button>
        </div>
    </div>
</div>

<!-- 获取登录用户信息js-->
<script src="/javascripts/header.js"></script>

<script>
    $(function () {
        $(".xuanke-li").click(function(){
            $(".xiugai-li").removeClass("active");
            if(!$(this).hasClass("active")){
                $(this).addClass("active");
            }
            $("#xiugai-div").hide();
            $("#xuanke-div").show();
        });
        $(".xiugai-li").click(function(){
            $(".xuanke-li").removeClass("active");
            if(!$(this).hasClass("active")){
                $(this).addClass("active");
            }        
            $("#xuanke-div").hide();
            $("#xiugai-div").show();
        });
    })

    function check_Surts(){ // 验证头数
        if( Number($("#XZTS").val()) < 0 ){
            $(".error_msg").text('选择头数不正确');
            return false;
        }else if( Number($("#XZTS").val()) > Number($("#SURTS").val()) ){
            $(".error_msg").text('选择头数超过剩余头数，剩余：'+$("#SURTS").val());
            return false;
        }else{
            $(".error_msg").text('');
            return true;
        }
    }

    function submitXuanke(){
        var toushu = $("#XZTS").val();
        var kcid = $("#KCID").val();
        var jsmc = $("#JSMC").val();
        var sfzr = $("#SFZR").val();
        var bz = $("#BZ").val();
        if(check_Surts()){
            var teacher = check_teacher(jsmc);
            if(teacher == ""){
                if( sfzr == "学院教师" ){
                    $(".error_msg").text('此教师不存在，则不能添加为学院教师。');
                    return false;
                }else{
                    if(confirm("该教师不存在，是否将添加此教师为："+ sfzr +"？")){
                        var jsid = addTeacher(jsmc,sfzr);
                        if(jsid == ""){
                            $("#warning_content").text("教师信息保存失败，请重试");
                            $("#warning_modal").modal("show");
                            return false;
                        }else{
                            todoSubmit(jsid);
                        }
                    }
                }
            }else{
                var userMsg = GetIndexData();
                var user = userMsg[0].USERNAME;
                if(teacher.SFZR == "学院教师" &&　user !=teacher.XM ){
                    $(".error_msg").text('此教师为专任教师，您不能代其选课。');
                    return false;
                }else{
                    todoSubmit(teacher.ID);
                }
            }
        }
    }

    function todoSubmit(jsid){ //提交选课
        var toushu = $("#XZTS").val();
        var kcid = $("#KCID").val();
        var sfzr = $("#SFZR").val();
        var bz = $("#BZ").val();

    }

    function select_zr(){ //获取是否专任select框的值
        var jsmc = $("#JSMC").val();
        var teacher = check_teacher(jsmc);
        if(teacher == ""){
            $("#SFZR").removeAttr("disabled");
        }else{
            $("#SFZR").val(teacher.SFZR);
            $("#SFZR").attr("disabled","disabled");
        }
    }

    function check_teacher(XM){ //获取教师信息
        var teacher = "";
        $.ajax({
            type: "post",
            url: '/teacherService/getTidByMc',
            dataType: "json",
            data: {XM: XM},
            async: false,
            cache: true,
            success: function (data) {
                if(data.result.length > 0){
                    teacher = data.result[0];
                }
            },
            error: function (e) {
                console.log('e');
            }
        });
        return teacher;
    }

    function addTeacher(jsmc,sfzr){ // 添加非专任教师
        var jsid = "";
        $.ajax({
            type: "post",
            url: '/teacherService/addWP',
            dataType: "json",
            data: {XM: jsmc,SFZR:sfzr},
            async: true,
            cache: true,
            success: function (msg) {
                if (msg.state.affectedRows > 0) {
                    jsid = msg.state.insertId;
                }
            },
            error: function (e) {
                console.log('e');
            }
        });
        return jsid;
    }

    function clear_error(){ //清空错误
        $(".error_msg").text('');
    }


    // //A1提交选课表单
    // function submitxkForm() {
    //     if ($("#XZTS").val() == '' || $("#XZTS").val() == 0) {
    //         alert("头数不能为空");
    //     }
    //     else if (parseInt($("#XZTS").val()) > parseInt($("#SUR").val())) {
    //         alert("超出剩余头数");
    //     }
    //     else {
    //         var btn = $("#btn1");//按钮提交控制
    //         if (btn.attr("clicked") == "0") {//执行点击
    //             //提交操作先请求教师的id
    //             var XM = $("#JSMC").val();
    //             var CZR = $("#CZR").val();
    //             $.ajax({
    //                 type: "get",
    //                 url: '/teacherService/getTidByMc',
    //                 dataType: "json",
    //                 data: {XM: XM},
    //                 async: false,
    //                 cache: true,
    //                 success: function (jsmsg) {
    //                     if (jsmsg.aaData.length == "") {//没有这名教师的信息添加一个
    //                         var result = confirm("没有此教师信息，是否将此记录加入库中，并添加其姓名信息且为非专任教师？");
    //                         if (result) {
    //                             addWP(XM);
    //                         }
    //                     } else {
    //                         var temp = jsmsg.aaData[0];
    //                         $("#JSID").val(temp['ID']);
    //                         if (temp['SFZR'] == "是" && temp['XM'] != CZR) {
    //                             alert("此教师是专任教师，您不能为其选课！");
    //                         } else {
    //                             $.ajax({
    //                                 type: "get",
    //                                 url: '/teacher_courseService/exztXk',
    //                                 dataType: "json",
    //                                 data: {jsid: $("#JSID").val(), kcid: $("#KCID").val()},
    //                                 async: true,
    //                                 cache: true,
    //                                 success: function (exdata) {
    //                                     if (exdata.result[0]) {
    //                                         var result = confirm("您已有此课程的选课记录，是否覆盖您的选课信息？");
    //                                         if (result) {
    //                                             $('#JSKCID').val(exdata.result[0]['ID']);
    //                                             submitxk();
    //                                         }
    //                                     } else {
    //                                         submitxk();//2再提交表单
    //                                     }
    //                                 },
    //                                 error: function (e) {
    //                                     console.log('e');
    //                                 }
    //                             });
    //                             btn.attr("clicked", "1");
    //                         }
    //                     }
    //                 },
    //                 error: function (e) {
    //                     console.log('教师id请求失败');
    //                 }
    //             });

    //         } else {
    //             //不再执行点击操作
    //         }
    //     }
    // }
    // //A2提交选课表单
    // function submitxk() {
    //     $.ajax({
    //         type: "post",
    //         url: '/selectcourse/_editXk.html',
    //         dataType: "json",
    //         data: $('#xkform').serialize(),// 你的formid 注：后台req.body由控件name获取数据
    //         async: false,
    //         cache: true,
    //         success: function (msg) {
    //             if (msg.result != 0) {
    //                 $("#modal-edit-event").modal('hide');
    //             }
    //             location.reload();
    //         },
    //         error: function (e) {
    //             console.log(e);
    //         }
    //     });
    // }
    // //查询此教师选课列表
    // function getXk() {
    //     var XM = $("#JSMCX").val();//首先获取此教师姓名为操作人
    //     var KCID = $("#KCID").val();//kcid
    //     $.ajax({
    //         type: "get",
    //         url: '/teacher_courseService/getXk',
    //         dataType: "json",
    //         data: {czr: XM, kcid: KCID},
    //         async: false,
    //         cache: true,
    //         success: function (msg) {
    //             if (msg.result.length > 0) {
    //                 $("#xgtable").html("<tr><th style='width: 20%'>头数</th>" +
    //                     "<th style='width: 25%'>教师姓名</th>" +
    //                     "<th style='width: 35%'>备注</th>" +
    //                     "<th style='width: 10%'></th>" +
    //                     "<th style='width: 10%'></th></tr>");
    //                 for (var i = 0; i < msg.result.length; i++) {
    //                     var temp = msg.result[i];
    //                     var ctr = document.createElement("tr");
    //                     ctr.setAttribute("id", i);
    //                     var ctd1 = document.createElement("td");
    //                     var ctd2 = document.createElement("td");
    //                     var ctd3 = document.createElement("td");
    //                     var ctd4 = document.createElement("td");
    //                     var ctd5 = document.createElement("td");

    //                     
    //                     document.getElementById("xgtable").appendChild(ctr);
    //                     document.getElementById(i).appendChild(ctd1);
    //                     document.getElementById(i).appendChild(ctd2);
    //                     document.getElementById(i).appendChild(ctd3);
    //                     document.getElementById(i).appendChild(ctd4);
    //                     document.getElementById(i).appendChild(ctd5);
    //                 }
    //             } else {
    //                 $("#xgtable").html("<tr><th>您对该门课尚未选择</th></tr><tr></tr>");

    //             }
    //         },
    //         error: function (e) {
    //             console.log('此教师选课请求失败');
    //         }
    //     });
    // }

    // //修改选课
    // function reviseXg() {
    //     if ($("#XZTSXG").val() == '' || $("#XZTSXG").val() == 0) {
    //         alert("头数不能为空");
    //     }
    //     else if (parseInt($("#XZTSXG").val()) > parseInt($("#SUR").val())) {
    //         alert("超出剩余头数");
    //     }
    //     else {
    //         var btn = $("#btn3");//按钮提交控制
    //         if (btn.attr("clicked") == "0") {
    //             //执行点击
    //             //提交操作先请求教师的id
    //             var XM = $("#JSMCXG").val();
    //             $.ajax({
    //                 type: "get",
    //                 url: '/teacherService/getTidByMc',
    //                 dataType: "json",
    //                 data: {XM: XM},
    //                 async: false,
    //                 cache: true,
    //                 success: function (jsmsg) {
    //                     var temp = jsmsg.aaData[0];
    //                     //return temp['ID'];
    //                     $("#JSIDXG").val(temp['ID']);
    //                     submitxg();//2再提交表单
    //                     btn.attr("clicked", "1");
    //                 },
    //                 error: function (e) {
    //                     console.log('教师id请求失败');
    //                 }
    //             });
    //         } else {
    //             //不再执行点击操作
    //         }
    //     }
    // }

    // //修改功能提交表单2
    // function submitxg() {
    //     $.ajax({
    //         type: "post",
    //         url: '/selectcourse/_editXg.html',
    //         dataType: "json",
    //         data: $('#xgform').serialize(),// 你的formid 注：后台req.body由控件name获取数据
    //         async: false,
    //         cache: true,
    //         success: function (msg) {
    //             if (msg.result != 0) {
    //                 $("#modal-edit-event").modal('hide');
    //             }
    //             alert("修改成功");
    //             location.reload();
    //         },
    //         error: function (e) {
    //             console.log(e);
    //         }
    //     });
    // }

    // //删除教师选课
    // function delectXk(kcid, jsid) {
    //     var btn = $("#btn3");//按钮提交控制
    //     if (btn.attr("clicked") == "0") {
    //         //执行点击
    //         $.ajax({
    //             type: "get",
    //             url: '/teacher_courseService/deleteXk',
    //             dataType: "json",
    //             data: {kcid: kcid, jsid: jsid},
    //             async: false,
    //             cache: true,
    //             success: function (msg) {
    //                 if (msg.state == 1) {
    //                     btn.attr("clicked", "1");
    //                     getXk();//局部刷新
    //                 } else {
    //                     console.log('删除失败');
    //                 }
    //             },
    //             error: function (e) {
    //                 console.log('教师课程删除请求失败');
    //             }
    //         });
    //     } else {

    //     }
    // }
    // //添加一个外聘教师只有姓名是否专任
    // function addWP(tname) {
    //     $.ajax({
    //         type: "post",
    //         url: '/teacherService/addWP',
    //         dataType: "json",
    //         data: {XM: tname},
    //         async: true,
    //         cache: true,
    //         success: function (msg) {
    //             if (msg.state.affectedRows > 0) {
    //                 $.ajax({
    //                     type: "get",
    //                     url: '/teacherService/getTidByMc',
    //                     dataType: "json",
    //                     data: {XM: tname},
    //                     async: false,
    //                     cache: true,
    //                     success: function (jsmsg) {
    //                         var temp = jsmsg.aaData[0];
    //                         console.log(temp['ID']);
    //                         $("#JSID").val(temp['ID']);
    //                         submitxk();//2再提交表单
    //                     },
    //                     error: function (e) {
    //                         console.log('教师id请求失败');
    //                     }
    //                 });

    //             }
    //         },
    //         error: function (e) {
    //             console.log('e');
    //         }
    //     });
    // }
</script>