<style type="text/css">
    #xgtable td {
        padding: 8px;
        vertical-align: middle;
    }
    .nav>li>a{
        padding: 5px 15px;
    }
    .paddingstyle{
        padding: 5px 0px;
    }
    .modal-body{
        padding-top: 5px;
    }
    .modal-header{
        padding: 8px 15px;
    }
    #xuanke-table tr th{
        border: 0px;
        text-align: center;
    }
    .modal-footer{
        padding: 10px 20px;   
        position: relative;     
    }
    .close-btn{
        padding: 2px 20px;
    }
    .error_msg{
        position: absolute;
        left: 20px;
        top: 12px;
        color: #c9302c;
    }
    .form-control{
        padding: 3px;
        font-size:14px;
    }
    .delete-btn{
        border-radius: 20px;
        padding: 3px 7px;
    }
</style>
<div class="modal-dialog" style="margin-top: 300px">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">选课/修改</h4>
        </div>
        <div class="modal-body">
            <div class="paddingstyle">
                <ul class="nav nav-tabs">
                    <li class="xuanke-li active"><a href="#">选课</a></li>
                    <li class="xiugai-li"><a href="#">修改</a></li>
                </ul>
            </div>
            <input id="KCID" name="KCID" type="hidden" value="<%= kcid %>">
            <input id="SURTS" name="SURTS" type="hidden" value="<%= surts %>">
            <!-- 选课table -->
            <div id="xuanke-div" class="box-body no-padding">
                <table id="xuanke-table" class="table">
                    <tr>
                        <th style="width: 15%">头数</th>
                        <th style="width: 20%">教师姓名</th>
                        <th style="width: 20%">是否专任</th>
                        <th style="width: 35%">备注</th>
                        <th style="width: 10%"></th>
                    </tr>
                    <tr>
                        <td>
                            <input id="XZTS" name="XZTS" type="number" min="1" max="<%= surts %>" class="form-control" onblur="check_Surts(this.value)" onfocus="clear_error()">
                        </td>
                        <td>
                            <input id="JSMC" name="JSMC" type="text" class="form-control" onblur="select_zr()" onfocus="clear_error()">
                        </td>
                        <td>
                            <select class="form-control" id="SFZR" name="SFZR" style="width: 100%" onfocus="clear_error()">
                                <option value="学院教师">学院教师</option>
                                <option value="大校教师">大校教师</option>
                                <option value="其他高校教师（有教师资格证）">其他高校教师（有教师资格证）</option>
                                <option value="实习机构">实习机构</option>
                                <option value="其他人员">其他人员</option>
                                <option value="其他">其他</option>
                            </select>
                        </td>
                        <td>
                            <input id="BZ" name="BZ" type="text" class="form-control" placeholder="（代选老师请备注）" onfocus="clear_error()">
                        </td>
                        <td>
                            <button id="xuanke-btn" type="button" class="btn btn-primary" onclick="submitXuanke();"> 选课</button>
                        </td>
                    </tr>
                </table>
            </div>
            <!-- 修改table -->
            <div id="xiugai-div" class="box-body no-padding">
                <table id="xgtable" class="table">
                    <!-- 生成表格 -->
                </table>
            </div>
        </div>
        <div class="modal-footer">
            <p class="error_msg"></p>
            <button type="button" class="close-btn btn btn-default" data-dismiss="modal">关闭</button>
        </div>
    </div>
</div>

<!-- 获取登录用户信息js-->
<script src="/javascripts/header.js"></script>

<script>
    $(function () {
        $("#JSMC").val(getSessionUser());
        select_zr();

        $(".xuanke-li").click(function(){
            $(".error_msg").text('');
            $(".xiugai-li").removeClass("active");
            if(!$(this).hasClass("active")){
                $(this).addClass("active");
            }
            $("#xiugai-div").hide();
            $("#xuanke-div").show();
        });
        $(".xiugai-li").click(function(){
            $(".error_msg").text('');
            getXk();
            $(".xuanke-li").removeClass("active");
            if(!$(this).hasClass("active")){
                $(this).addClass("active");
            }        
            $("#xuanke-div").hide();
            $("#xiugai-div").show();
        });
    });

    //查询此教师选课列表
    function getXk() {
        var XM = getSessionUser();//获取此教师姓名为操作人
        var KCID = $("#KCID").val();//kcid
        var TERM = $("#xueqiStr").text();
        $.ajax({
            type: "post",
            url: '/teacher_courseService/getXk',
            dataType: "json",
            data: {czr: XM, kcid: KCID, term: TERM},
            async: false,
            cache: true,
            success: function (data) {
                if (data.result.length > 0) {
                    $("#xgtable").html("<tr><th style='width: 3%'></th>"+
                        "<th style='width: 15%'>头数</th>" +
                        "<th style='width: 20%'>教师姓名</th>" +
                        "<th style='width: 25%'>是否专任</th>" +
                        "<th style='width: 30%'>备注</th>" +
                        "<th style='width: 10%'></th></tr>");
                    var appendStr = '';
                    data.result.forEach(function(v,i,arr) {
                        appendStr += '<tr><td><button type="button" class="delete-btn btn btn-danger btn-sm" onclick="deleteXk(\''+ v.ID +'\')"><span class="glyphicon glyphicon-trash"></span></button></td>';
                        appendStr += '<td><input id="ts'+ v.ID +'" type="number" min="1" max="<%= surts %>" class="form-control" onblur="check_Surts(this.value)" onfocus="clear_error()" value='+ v.TS +'></td>';
                        appendStr += '<td><input type="text" class="form-control" readonly value="'+ v.XM +'"></td>';
                        appendStr += '<td><input type="text" class="form-control" readonly value="'+ v.SFZR +'"></td>';
                        appendStr += '<td><input id="bz'+ v.ID +'" type="text" class="form-control" value="'+ v.BZ +'"></td>';
                        appendStr += '<td><botton type="button" class="btn btn-primary" onclick="submitXiugai(\''+ v.ID +'\')">修改</botton></td></tr>';
                    });
                    $("#xgtable").append(appendStr);
                } else {
                    $("#xgtable").html("<tr><th>您对该门课尚未选择</th></tr><tr></tr>");
                }
            },
            error: function (e) {
                console.log(e);
            }
        });
    }

    function deleteXk(id){
        $.ajax({
            type: "post",
            url: '/teacher_courseService/deleteXk',
            dataType: "json",
            data: {id: id},
            async: false,
            cache: true,
            success: function (msg) {
                if (msg.state == 1) {
                    $("#success_modal").modal();
                    setTimeout(function(){			
                        $("#success_modal").modal('hide');
                        getXk();
                    },1000);
                } else {
                    $("#faile_modal").modal();
                    setTimeout(function(){					
                        $("#faile_modal").modal('hide');
                    },1000);
                }
            },
            error: function (e) {
                console.log(e);
            }
        });
    }

    function check_Surts(val){ // 验证头数
        if( Number(val) <= 0 ){
            $(".error_msg").text('选择头数不正确');
            return false;
        }else if( Number(val) > Number($("#SURTS").val()) ){
            $(".error_msg").text('选择头数超过剩余头数，剩余：'+$("#SURTS").val());
            return false;
        }else{
            $(".error_msg").text('');
            return true;
        }
    }

    function submitXiugai(id){ //修改选课
        var xgts = $("#ts"+id).val();
        var xgbz = $("#bz"+id).val();
        if(check_Surts(xgts)){
            $.ajax({
                type: "post",
                url: '/selectcourse/saveXk',
                dataType: "json",
                data: {jskcid: id, ts: xgts ,bz: xgbz},
                async: false,
                cache: true,
                success: function (data) {
                    if (data.result >0) {
                        $("#success_modal").modal();
                        setTimeout(function(){			
                            $("#success_modal").modal('hide');
                            $('#modal-edit-xk').modal('hide');
                        },1000);
                    } else {
                        $("#faile_modal").modal();
                        setTimeout(function(){					
                            $("#faile_modal").modal('hide');
                        },1000);
                    }
                },
                error: function (e) {
                    console.log(e);
                }
            });
        }     
    }

    function submitXuanke(){
        var jsmc = $("#JSMC").val();
        var sfzr = $("#SFZR").val(); // 是否专任下拉列表
        var toushu = $("#XZTS").val();
        var kcid = $("#KCID").val();
        var bz = $("#BZ").val();
        var term = $("#xueqiStr").text();
        var jskcid = 0;
        if(check_Surts()){
            var teacher = check_teacher(jsmc);
            if(teacher == ""){
                if( sfzr == "学院教师" ){
                    $(".error_msg").text('此教师不存在，则不能添加为学院教师。');
                    return false;
                }else{
                    if(confirm("该教师不存在，是否将其添加为："+ sfzr +"？")){
                        var jsid = addTeacher(jsmc,sfzr);
                        if(jsid == ""){
                            $("#warning_content").text("教师信息保存失败，请重试");
                            $("#warning_modal").modal("show");
                            return false;
                        }else{
                            if(existXuanke(jsid,kcid,term)){
                                $("#warning_content").text("该教师已经选则本门课程，不可重复选择。");
                                $("#warning_modal").modal("show");
                            }else{
                                todoSubmit(jskcid,toushu,jsid,kcid,bz,jsmc,term);
                            }
                        }
                    }
                }
            }else{
                var user = getSessionUser();
                if(teacher.SFZR == "学院教师" &&　user !=teacher.XM ){
                    $(".error_msg").text('此教师为专任教师，您不能代其选课。');
                    return false;
                }else{
                    if(existXuanke(teacher.ID,kcid,term)){
                        $("#warning_content").text("该教师已经选则本门课程，不可重复选择。");
                        $("#warning_modal").modal("show");
                    }else{
                        todoSubmit(jskcid,toushu,teacher.ID,kcid,bz,jsmc,term);
                    }
                }
            }
        }
    }

    function existXuanke(jsid,kcid,term){ //查看是否存在记录
        var flag = false;
        $.ajax({
            type: "post",
            url: '/teacher_courseService/exztXk',
            dataType: "json",
            data: {jsid: jsid, kcid: kcid ,term: term},
            async: false,
            cache: true,
            success: function (data) {
                if (data.result && data.result.length>0) {
                    console.log(data.result);
                    flag = true;
                }
            },
            error: function (e) {
                console.log(e);
            }
        });
        return flag;
    }

    function todoSubmit(jskcid,toushu,jsid,kcid,bz,jsmc,term){ //提交选课
        let user = getSessionUser();
        if(jsmc != user){
            bz = user +"代选 " + bz;
        }
        $.ajax({
            type: "post",
            url: '/selectcourse/saveXk',
            dataType: "json",
            data: {jskcid:jskcid, ts: toushu, jsid: jsid, kcid: kcid, bz: bz, czr: user, term: term},
            async: false,
            cache: true,
            success: function (data) {
                if (data.result > 0) {
                    $("#success_modal").modal();
                    setTimeout(function(){			
                        $("#success_modal").modal('hide');
                    },1000);
                } else {
                    $("#faile_modal").modal();
                    setTimeout(function(){					
                        $("#faile_modal").modal('hide');
                    },1000);
                }
            },
            error: function (e) {
                console.log(e);
            }
        });
    }

    function select_zr(){ //获取是否专任select框的值
        var jsmc = $("#JSMC").val();
        var teacher = check_teacher(jsmc);
        if(teacher == ""){
            $("#SFZR").removeAttr("disabled");
        }else{
            $("#SFZR").val(teacher.SFZR);
            $("#SFZR").attr("disabled","disabled");
        }
    }

    function check_teacher(XM){ //获取教师信息
        var teacher = "";
        $.ajax({
            type: "post",
            url: '/teacherService/getTidByMc',
            dataType: "json",
            data: {XM: XM},
            async: false,
            cache: true,
            success: function (data) {
                if(data.result.length > 0){
                    teacher = data.result[0];
                }
            },
            error: function (e) {
                console.log('e');
            }
        });
        return teacher;
    }

    function addTeacher(jsmc,sfzr){ // 添加非专任教师
        var jsid = "";
        $.ajax({
            type: "post",
            url: '/teacherService/addWP',
            dataType: "json",
            data: {XM: jsmc,SFZR:sfzr},
            async: true,
            cache: true,
            success: function (msg) {
                if (msg.state.affectedRows > 0) {
                    jsid = msg.state.insertId;
                }
            },
            error: function (e) {
                console.log('e');
            }
        });
        return jsid;
    }

    function clear_error(){ //清空错误
        $(".error_msg").text('');
    }

    function getSessionUser(){ //获取当前登录教师
        var userMsg = GetIndexData();
        return userMsg[0].USERNAME;
    }
</script>