<link rel="stylesheet" href="/css/cpculture.css">

<div class="content-wrapper">
    <section class="content-header">
        <h1>计算机文化选课</h1>
        <ol class="breadcrumb">
            <li><a href="/index"><i class="fa fa-home"></i> 首页</a></li>
            <li class="active">计算机文化选课</li>
        </ol>
    </section>
    <section class="content">
       <div class="box">
            <div class="box-header">
                <h3 class="box-title">选课列表</h3>
                <div class="box-tools date-box">
                    <div class="input-group date" id="datechoose">
                        <input type="text" class="form-control">
                        <div class="input-group-addon">
                            <span class="glyphicon glyphicon-th"></span>
                        </div>
                    </div>
                    <div class="tags">
                        <p>注：选择年级。</p>
                    </div>
                </div>
                <div class="box-tools pull-right">
                    <button type="button" title="导出" class="btn btn-box-tool" onclick="toExcel()">
                        <i class="fa fa-fw fa-cloud-download"></i>导出
                    </button>
                </div>
                <div class="box box-default box-solid" style="margin-top:10px;">
                    <div class="box-header with-border" style="padding:3px;font-size:14px;">
                        <h3 class="box-title" style="font-size:14px;">选择课程安排</h3>
                        <div class="box-tools pull-right" style="top: 1px;">
                            <button type="button" style="padding:0px;line-height:0px" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i>
                            </button>
                        </div>
                    </div>
                    <div class="box-body">
                        <table class="table table-bordered table-striped assign-table" >
                            <thead>
                                <tr>
                                    <th>章节名称</th>
                                    <th>课时</th>
                                    <th>总课头</th>
                                    <th>授课时间</th>
                                    <th>授课信息</th>
                                    <th class="adminshow">授课教师</th>
                                    <th>操作</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <select class='ZJMC'>
                                            <option>绪论</option>
                                            <option>数据在计算机中的表示</option>
                                            <option>计算机硬件系统</option>
                                            <option>计算机软件系统</option>
                                            <option>操作系统和文件管理</option>
                                            <option>计算机网络</option>
                                            <option>数字媒体技术基础</option>
                                            <option>计算机信息安全</option>
                                        </select>
                                    </td>
                                    <td>
                                        <select class='KS'>
                                            <option>2</option>                                            
                                        </select>
                                    </td>
                                    <td>
                                        <select class='ZKT'></select>
                                    </td>
                                    <td>
                                        <select class='SKSJ'>
                                            <option>第3周</option>
                                            <option>第4周</option>
                                            <option>第5周</option>
                                            <option>第7周</option>
                                            <option>第8周</option>
                                            <option>第9周</option>
                                            <option>第10周</option>
                                            <option>第11周</option>
                                        </select>
                                    </td>
                                    <td>
                                        <select class='SKXX'></select>
                                    </td>
                                    <td class="adminshow">
                                        <input id="A_SKJS" type="text" />
                                    </td>
                                    <td><button type="button" class="btn btn-danger" onclick="assignCpculture()" style="height:22px;width:60px;padding:0px;line-height: 20px;">选 课</button></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="box box-default box-solid" style="margin-top:10px;">
                    <div class="box-header with-border" style="padding:3px;font-size:14px;">
                        <h3 class="box-title show_term" style="font-size:14px;"></h3>
                    </div>
                    <div class="box-body" >
                    <table id="culturedatatable" class="table table-bordered table-striped" width="100%">
                        <thead>
                            <tr>
                                <th>
                                    <input id="checkall" name="checkall" type="checkbox">
                                    <input id="teachername" type="hidden">
                                </th>
                                <th>章节名称</th>
                                <th>课时</th>
                                <th>总课头</th>
                                <th>授课时间</th>
                                <th>授课信息</th>
                                <th>授课教师</th>
                                <th>操作</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
</div>

<script src="/javascripts/mydatatable.js"></script>
<script src="/table2excel/jquery.table2excel.js"></script>
<script src="/javascripts/cpculture.js"></script>