<link rel="stylesheet" href="/css/graproject.css">

<div class="content-wrapper">
    <section class="content-header">
        <h1>毕业设计分配</h1>
        <ol class="breadcrumb">
            <li><a href="/index"><i class="fa fa-home"></i> 首页</a></li>
            <li class="active">毕业设计分配</li>
        </ol>
    </section>
    <section class="content">
        <div class="box">
            <div class="box-header">
                <h3 class="box-title">毕业设计分配列表</h3>
                <div class="box-tools pull-right">
                    <button type="button" title="导出" class="btn btn-box-tool" onclick="toExcel();">
                        <i class="fa fa-fw fa-cloud-download"></i>导出
                    </button>
                    <button type="button" title="批量删除" class="btn btn-box-tool" onclick="delSomeGra();">
                        <i class="fa fa-fw fa-times"></i>批量删除
                    </button>
                    <button type="button" title="添加" class="btn btn-box-tool" onclick="addGra()">
                        <i class="fa fa-fw fa-plus-circle"></i>添加
                    </button>
                </div>
                <div class="box box-default box-solid" style="margin-top:10px;">
                    <div class="box-header with-border" style="padding:3px;font-size:14px;">
                        <h3 class="box-title" style="font-size:14px;">年级选择</h3>
                        <div class="box-tools pull-right" style="top: 1px;">
                            <button type="button" style="padding:0px;line-height:0px" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i>
                            </button>
                        </div>
                    </div>
                    <div class="box-body">
                        <div class="row" style="margin-left:0px;margin-right:0px"> 
                            <div class="times col-md-3 col-sm-12">
                                <div class="input-group date" id="datechoose">
                                    <input type="text" class="form-control" >
                                    <div class="input-group-addon" style="padding: 5px 12px;">
                                        <span class="glyphicon glyphicon-th"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-12 tags">
                                <p>注：选择年级。</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="box-body" style="padding-top: 0">
                <table id="datatable" class="table table-bordered table-striped"  width="100%">
                    <thead>
                    <tr>
                        <th><input id="checkall" name="checkall" type="checkbox"></th>
                        <th>指导教师</th>
                        <th>专业</th>
                        <th>人数</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </section>
</div>
<div class="modal fade" id="addGraproject" tabindex="-1" role="dialog" aria-hidden="true" style="background:none;margin-top:150px">
    <div class="modal-dialog" style="margin-top:0px;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title">
                    添加毕设分配
                </h4>
            </div>
            <div class="modal-body">
                <div class="box-body">
                    <div class="form-group">
                        <label>指导教师</label>
                        <select id="ZDJS" name="ZDJS" type="text" class="form-control">
                        </select>
                    </div>
                    <div class="form-group">
                        <label>专业</label>
                        <select id="ZY" name="ZY" type="text" class="form-control">
                        </select>
                    </div>
                    <div class="form-group">
                        <label>人数</label>
                        <input id="RS" name="RS" type="text" class="form-control">
                    </div>
                </div>
            </div>
            <div class="modal-footer" >
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary" onclick="submmitaddGra()">提交</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="editGraproject" tabindex="-1" role="dialog" aria-hidden="true" style="background:none;margin-top:150px">
    <div class="modal-dialog" style="margin-top:0px;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title">
                    修改毕设分配
                </h4>
            </div>
            <div class="modal-body">
                <div class="box-body">
                    <input type="hidden" id="EDITID">
                    <div class="form-group">
                        <label>指导教师</label>
                        <select id="EDITZDJS" name="EDITZDJS" type="text" class="form-control">
                        </select>
                    </div>
                    <div class="form-group">
                        <label>专业</label>
                        <select id="EDITZY" name="EDITZY" type="text" class="form-control">
                        </select>
                    </div>
                    <div class="form-group">
                        <label>人数</label>
                        <input id="EDITRS" name="EDITRS" type="text" class="form-control">
                    </div>
                </div>
            </div>
            <div class="modal-footer" >
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary" onclick="submmiteditGra()">提交</button>
            </div>
        </div>
    </div>
</div>

<script src="/javascripts/mydatatable.js"></script>
<script src="/table2excel/jquery.table2excel.js"></script>
<script src="/javascripts/graproject.js"></script>