<!-- datatable -->
<script src="../javascripts/mydatatable.js"></script>
<!-- table2excel导出 -->
<script src="/table2excel/jquery.table2excel.js"></script>

<style>
    #upfile {
        display: none;
    }
    .upload_group {
        display: inline-block;
        vertical-align: middle;
    }
    .style_upload {
        height: 20px;
        border-radius: 5px;
        width: 120px;
        font-size: 10px;
    }
    .open {
        font-size: 12px;
        color: #606c84;
        margin-bottom: 0px;
        font-weight: 500;
        border: 1px solid #606c84;
        border-radius: 5px;
        padding: 0px 2px;
        cursor: pointer;
    }
    .box-body span{
        display: inline-block;
    }
    .box-body span input{
        margin: 0px;
        vertical-align: middle;
    }
    .box {
        margin-bottom: 0px;
    }
    #datatable th, 
    #datatable td{
        white-space:nowrap;    
    }
    .text_center{
        text-align: center;
    }
    .tags p{
        margin: 5px 10px 0px 10px ;
        vertical-align: middle;
        color: #606c84;
    }
    .form-control{
        height: 28px;
        padding: 3px;
        font-size: 14px;
        vertical-align: middle;
    }
    .modal-content{
        width: 400px;
        margin: 0 auto;
    }
    .modal-footer{
        text-align:center;
        margin: auto;
        padding:10px 10px;
    } 
    .modal-footer button{
        padding: 5px 10px;
        width: 70px;
        height: 28px;
        line-height: 15px;
    }
</style>
<div class="content-wrapper">
    <section class="content-header">
        <h1>毕业设计分配</h1>
        <ol class="breadcrumb">
            <li><a href="/index"><i class="fa fa-home"></i> 首页</a></li>
            <li class="active">毕业设计分配</li>
        </ol>
    </section>
    <section class="content">
        <div class="box">
            <div class="box-header">
                <h3 class="box-title">毕业设计分配列表</h3>
                <div class="box-tools pull-right">
                    <button type="button" title="导出" class="btn btn-box-tool" onclick="toExcel();">
                        <i class="fa fa-fw fa-cloud-download"></i>导出
                    </button>
                    <button type="button" title="批量删除" class="btn btn-box-tool" onclick="delSomeGra();">
                        <i class="fa fa-fw fa-times"></i>批量删除
                    </button>
                    <button type="button" title="添加" class="btn btn-box-tool" onclick="addGra()">
                        <i class="fa fa-fw fa-plus-circle"></i>添加
                    </button>
                </div>
                <div class="box box-default box-solid" style="margin-top:10px;">
                    <div class="box-header with-border" style="padding:3px;font-size:14px;">
                        <h3 class="box-title" style="font-size:14px;">年级选择</h3>
                        <div class="box-tools pull-right" style="top: 1px;">
                            <button type="button" style="padding:0px;line-height:0px" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i>
                            </button>
                        </div>
                    </div>
                    <div class="box-body">
                        <div class="row" style="margin-left:0px;margin-right:0px"> 
                            <div class="times col-md-3 col-sm-12">
                                <div class="input-group date" id="datechoose">
                                    <input type="text" class="form-control" >
                                    <div class="input-group-addon" style="padding: 5px 12px;">
                                        <span class="glyphicon glyphicon-th"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-12 tags">
                                <p>注：选择年级。</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="box-body" style="padding-top: 0">
                <table id="datatable" class="table table-bordered table-striped"  width="100%">
                    <thead>
                    <tr>
                        <th><input id="checkall" name="checkall" type="checkbox"></th>
                        <th>指导教师</th>
                        <th>专业</th>
                        <th>人数</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </section>
</div>
<div class="modal fade" id="addGraproject" tabindex="-1" role="dialog" aria-hidden="true" style="background:none;margin-top:150px">
    <div class="modal-dialog" style="margin-top:0px;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title">
                    添加毕设分配
                </h4>
            </div>
            <div class="modal-body">
                <div class="box-body">
                    <div class="form-group">
                        <label>指导教师</label>
                        <select id="ZDJS" name="ZDJS" type="text" class="form-control">
                        </select>
                    </div>
                    <div class="form-group">
                        <label>专业</label>
                        <select id="ZY" name="ZY" type="text" class="form-control">
                        </select>
                    </div>
                    <div class="form-group">
                        <label>人数</label>
                        <input id="RS" name="RS" type="text" class="form-control">
                    </div>
                </div>
            </div>
            <div class="modal-footer" >
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary" onclick="submmitaddGra()">提交</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="editGraproject" tabindex="-1" role="dialog" aria-hidden="true" style="background:none;margin-top:150px">
    <div class="modal-dialog" style="margin-top:0px;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title">
                    修改毕设分配
                </h4>
            </div>
            <div class="modal-body">
                <div class="box-body">
                    <input type="hidden" id="EDITID">
                    <div class="form-group">
                        <label>指导教师</label>
                        <select id="EDITZDJS" name="EDITZDJS" type="text" class="form-control">
                        </select>
                    </div>
                    <div class="form-group">
                        <label>专业</label>
                        <select id="EDITZY" name="EDITZY" type="text" class="form-control">
                        </select>
                    </div>
                    <div class="form-group">
                        <label>人数</label>
                        <input id="EDITRS" name="EDITRS" type="text" class="form-control">
                    </div>
                </div>
            </div>
            <div class="modal-footer" >
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary" onclick="submmiteditGra()">提交</button>
            </div>
        </div>
    </div>
</div>

<script>
    var mytable;

    $(document).ready(function () {
        $("#datechoose").datepicker({
            format: 'yyyy',
            autoclose:true,
            language:'zh-CN',
            todayHighlight:true,
            startView:'2',
            minViewMode:'years',
            title:'--------年级选择--------'
        });

        var nowtime = new Date();
        var time = new Date((nowtime.getFullYear()-4)+"-01-01");
        $('#datechoose').datepicker('setDate', time); //构建时间选择器
        bulid_table(time);

        $('#datechoose').datepicker().on('hide', function(e) { //改变时间选择器重新获取当前的信息
            time = $('#datechoose').datepicker('getDate');
            bulid_table(time);
        });

        //全选  全反选处理
        $("#checkall").click(function () {
            var checkbox = document.getElementById('checkall');
            if (checkbox.checked) {
                $('input[type="checkbox"][name="checkrow"]').each(function () {
                    this.checked = true;
                });
            } else {
                $('input[type="checkbox"][name="checkrow"]').each(function () {
                    this.checked = false;
                });
            }
        })
    });
    //添加课程
    function addGra(){
        if(getGra()){
            $("#addGraproject").modal('show');
        }      
    }
    //编辑
    function editGra(id,jsid,zyid,rs) {
        if(getGra()){
            $("#EDITID").val(id);
            $("#EDITZDJS").val(jsid);
            $("#EDITZY").val(zyid);
            $("#EDITRS").val(rs);
            $("#editGraproject").modal('show');
        }        
    }

    function submmiteditGra(){
        var jsid = $("#EDITZDJS").val();
        var zyid = $("#EDITZY").val();
        var rs = $("#EDITRS").val();
        var id = $("#EDITID").val();
        var exid = checkGra(jsid,zyid);
        if(exid != "" && exid != id){
            $("#warning_content").text("该记录已存在");
            $("#warning_modal").modal("show");
            return false;
        }else if(rs == ""){
            $("#warning_content").text("人数不能为空");
            $("#warning_modal").modal("show");
            return false;
        }else{
            $.ajax({
                url: "/graService/editGra",
                type: "post",
                dataType: 'json',
                data:{ZYID:zyid,JSID:jsid,RS:rs,ID:id},
                async: false,
                success: function (data) {
                    if(data.state && data.state.affectedRows>0){
                        var table = $('#datatable').DataTable();
                        table.ajax.reload();
                        table.draw();		
                        $("#success_modal").modal();
                        setTimeout(function(){			
                            $("#success_modal").modal('hide');
                        },1000);
                    }else{
                        $("#faile_modal").modal();
                        setTimeout(function(){					
                            $("#faile_modal").modal('hide');
                        },1000);
                    }
                }
            });
        }
    }

    function submmitaddGra(){
        var jsid = $("#ZDJS").val();
        var zyid = $("#ZY").val();
        var rs = $("#RS").val();
        if(checkGra(jsid,zyid)!=""){
            $("#warning_content").text("该记录已存在");
            $("#warning_modal").modal("show");
            return false;
        }else if(jsid == "null" || zyid == "null" || jsid == null || zyid == null){
            return false;
        }else if(rs == ""){
            $("#warning_content").text("人数不能为空");
            $("#warning_modal").modal("show");
            return false;
        }else{
            $.ajax({
                url: "/graService/addGra",
                type: "post",
                dataType: 'json',
                data:{ZYID:zyid,JSID:jsid,RS:rs},
                async: false,
                success: function (data) {
                    if(data.state && data.state.affectedRows>0){
                        var table = $('#datatable').DataTable();
                        table.ajax.reload();
                        table.draw();		
                        $("#success_modal").modal();
                        setTimeout(function(){			
                            $("#success_modal").modal('hide');
                        },1000);
                    }else{
                        $("#faile_modal").modal();
                        setTimeout(function(){					
                            $("#faile_modal").modal('hide');
                        },1000);
                    }
                }
            });
        }
    }

    var getGraflag = false;
    function getGra() { // 获取教师与专业
        var flag = 2;
        var time = $('#datechoose').datepicker('getDate');
        time = time.getFullYear()+"级";
        $.ajax({ // 获取专任教师
            url: "/teacherService/getZRteacher",
            type: "get",
            async: false,
            success: function (data) {
                if(data.result){
                    var options = "";
                    data.result.forEach(function(v,i,arr) {
                        options += '<option value='+ v.ID +'>'+ v.XM +'</option>';
                    });
                    if(options == ""){
                        $("#ZDJS").html("");
                        $("#EDITZDJS").html("");
                        $("#ZDJS").attr("disabled","disabled");
                        $("#EDITZDJS").attr("disabled","disabled")
                    }else{
                        $("#ZDJS").removeAttr("disabled");
                        $("#EDITZDJS").removeAttr("disabled");
                        $("#ZDJS").html(options);
                        $("#EDITZDJS").html(options);
                    }
                    flag--;
                }
            }
        });
        $.ajax({ // 获取专业
            url: "/majorService/getListByYear",
            type: "post",
            dataType: 'json',
            data:{KSNJ:time},
            async: false,
            success: function (data) {
                if(data.data){
                    var options = "";
                    data.data.forEach(function(v,i,arr) {
                        options += '<option value='+ v.ID +'>'+ v.ZYMC +'</option>';
                    });
                    if(options == ""){
                        $("#ZY").html("");
                        $("#EDITZY").html("");
                        $("#ZY").attr("disabled","disabled");
                        $("#EDITZY").attr("disabled","disabled")
                    }else{
                        $("#ZY").html(options);
                        $("#EDITZY").html(options);
                        $("#ZY").removeAttr("disabled");
                        $("#EDITZY").removeAttr("disabled");
                    }
                    flag--;
                }
            }
        });
        flag > 0 ? getGraflag = false : getGraflag = true;
        return getGraflag;
    }

    var flaggra = "";
    function checkGra(jsid,zyid){ // 验证是否存在
        $.ajax({
            url: "graService/exGra",
            type: "post",
            dataType: 'json',
            data:{ZYID:zyid,JSID:jsid},
            async: false,
            success: function (data) {
                if(data.data && data.data.length>0){
                    flaggra = data.data[0].ID;
                }
            }
        });
        return flaggra;
    }

    //删除记录
    function delGra(ID) {
        $.ajax({
            type: "post",
            url: '/graService/delOne',
            dataType: "json",
            data: {ID: ID},
            cache: true,
            success: function (msg) {
                if (msg.state == 1) {
                    var table = $('#datatable').DataTable();
                    table.ajax.reload();
                    table.draw();		
                    $("#success_modal").modal();
                    setTimeout(function(){			
                        $("#success_modal").modal('hide');
                    },1000);
                }
            },
            error: function (e) {
                console.log(e);
            }
        });
    }

    //批量删除记录
    function delSomeGra() {
        var flag = false;
        var arr = new Array();
        $('input[type="checkbox"][name="checkrow"]:checked').each(function () {
            arr.push(this.value);
        });
        if (arr.length != 0) {
            var idstr = arr.join(",");
            $.ajax({
                type: "post",
                url: '/graService/delSome',
                dataType: "json",
                data: {idstr: idstr},
                cache: true,
                success: function (msg) {
                    if (msg.state && msg.state.affectedRows>0) {
                        var table = $('#datatable').DataTable();
                        table.ajax.reload();
                        table.draw();		
                        $("#success_modal").modal();
                        setTimeout(function(){			
                            $("#success_modal").modal('hide');
                        },1000);
                    } else {
                        $("#faile_modal").modal();
                        setTimeout(function(){					
                            $("#faile_modal").modal('hide');
                        },1000);
                    }
                },
                error: function (e) {
                    console.log(e);
                }
            });
        } else {
            $("#warning_content").text("请选择一项删除");
            $("#warning_modal").modal("show");
        }
    }

    function bulid_table(time){ 
        time = time.getFullYear()+"级";
        var columns = [
            {
                "data": function (obj) {
                    return '<input id="checkrow" name="checkrow" type="checkbox" value=' + obj.ID + '>';
                },
                "className": "text_center"
            },
            {
                "data": "JSXM",
                "className": "text_center"
            },
            {
                "data": "ZYMC",
                "className": "text_center"
            },
            {
                "data": "RS",
                "className": "text_center"
            },
            {
                "data": function (obj) {
                    return '<a style="margin-left: 10px;" onclick="editGra(\'' + obj.ID +'\',\''+ obj.JSID +'\',\''+ obj.ZYID +'\',\''+ obj.RS +'\')" href="#" role="button" data-toggle="modal" title="编辑"><i class="fa fa-fw fa-pencil"></i></a>'
                        + '<a style="margin-left: 10px;" onclick="delGra(\'' + obj.ID + '\')" href="#" role="button" data-toggle="modal" title="删除"><i class="fa fa-fw fa-trash-o"></i></a>';
                },
                "className": "text_center"
            }
        ];
        if ( $.fn.dataTable.isDataTable( '#datatable' ) ) { // 已经构建了database
            var table = $('#datatable').DataTable();
            table.ajax.url( '/graService/getList?TERM='+encodeURI(time) ).load();
            table.draw();
        } else {
            var mytable = CreateDataTable('#datatable', '/graService/getList?TERM='+encodeURI(time), columns);
        }
    }

    //批量导出
    function toExcel() {
        var flag = false;
        $('input[type="checkbox"][name="checkrow"]').each(function () {
            if (this.checked == false) {
                this.parentNode.parentNode.classList = "noExl";
            } else if (this.checked == true) {
                this.parentNode.parentNode.classList = "";
                flag = true;
            }
        });
        if (flag) {
            $("#datatable").table2excel({
                exclude: ".noExl",
                name: "Excel Document Name",
                filename: "毕业设计分配信息表" + "-" + GetTimeStr(),
                exclude_img: true,
                exclude_links: true,
                exclude_inputs: true
            });
        } else {
            $("#warning_content").text("请至少选择一项");
            $("#warning_modal").modal("show");
        }
    }

</script>