<style type="text/css">
    #selectcourseTL td {
        vertical-align: middle;
        text-align: center;

    }
    #selectcourseTL thead th {
        vertical-align: bottom;
        text-align: center;

    }
    #selectcourseTL thead {
        background-color: rgba(100, 183, 136, 0.21);

    }
    .selectleft {
        position: absolute;
        right: 0px;
        left: 120px;
    }
    .selecttop {
        margin-top: 3px;

    }
    .toushu{
        background-color: #ffcc33;
        color: #FFFFFF;
    }
    .ttype{
        white-space: nowrap;
    }
    tr{
        cursor: pointer;
    }
</style>

<!-- 页面内容 content -->
<div class="content-wrapper">
    <!-- 页面内容 Header -->
    <section class="content-header">
        <h1>
            教师选课信息管理页面
        </h1>
        <ol class="breadcrumb">
            <li><a href="/index"><i class="fa fa-home"></i> 首页</a></li>
            <li class="active">教师选课管理</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">
        <div id="box" class="box" style="width: 100%;overFlow-x: scroll;overFlow-y: scroll;">
            <div class="box-header">
                <h3 class="box-title">教师选课</h3>
                <div class="box-tools selectleft">
                    <select class="selecttop">
                        <option value="">请选择学期</option>
                        <option value="">2016-2017第一学期</option>
                        <option value="">2016-2017第二学期</option>
                    </select>
                </div>
                <div class="box-tools pull-right">
                    <button type="button" title="导出" class="btn btn-box-tool"
                            onclick="">
                        <i class="fa fa-fw fa-cloud-download"></i>导出
                    </button>
                </div>
            </div>
            <div class="box-body no-padding" style="width: 100%;">
                <table id="selectcourseTL" class="table table-condensed table-hover table-bordered">
                </table>
            </div>
        </div>
    </section>
</div>
<div class="modal fade" id="modal-edit-event"></div>
<script>
    $(document).ready(function () {
        $("#box").css('height', $(window).height() * 0.85 + 'px');//调整表格显示高度
        //获取到当前时间或者要查询的时间 然后取得当前有哪些专业选择了哪些课
        var time = "2016-10-10";
        var term = get_term(time);
        //1.生成左半部分课程信息
        var course = setCourse(term,time);
        //2.生成中间部分专业信息
        if(course.flag){
            var major = setMajor(term,course.data);
        }
        //3.生成中间部分专业-选课信息 读取专业选课信息
        if(major.flag){
            var readMC = readMajorCourse(term,major.data);
        }
        //4.生成中间部分总头数和剩余头数
        if(readMC.flag){
            var tsth = drowToushu(course.data);
        }
        //5.生成右侧 授课教师
        if(tsth.flag){
            var teacher = getTeacher(course.data,time);
        }
        //6.计算总头数
        if(teacher.flag){
            var comput = computToushu(course.data, major.data, teacher);
        }

    });
    
    //编辑选课
    function editXk(cid) {
        var sur = document.getElementById("sur" + cid).innerHTML;
        $.ajax({
            url: "/selectcourse/_editXk.html",
            type: "get",
            data: {cid: cid, sur: sur},
            dataType: 'html',
            async: false,
            success: function (htmlContent) {
                //模态框
                $('#modal-edit-event').html(htmlContent);
                $('#modal-edit-event').modal('show');
            }
        });
    }

    //获取课程
    function setCourse(term,time){
        var result = {
            "flag" : false,
            "data" : ''
        };
        if(!term){
            console.log("获取四个学期失败");
            return false;
        }
        //获取到当前时间或者要查询的时间 然后取得当前有哪些专业选择了哪些课
        var termArr = [];
        term.forEach(function(v,i,arr){ //取得四个学期
            termArr.push(v['xn']);
            termArr.push(v['xq']);
        });
        term = termArr.join(",");
        $.ajax({
            type: "post",
            url: "/courseService/selectCourse",
            dataType: "json",
            data: {term: term},
            cache: true,
            async: false,
            success: function (coursemsg) {
                if(coursemsg.data.length > 0){
                    var xueqi = get1st2nd(time);
                    //生成thead
                    $("#selectcourseTL").append(
                            '<thead><tr id="TLtheadtr">' +
                            '<th rowspan="2" style="width: 7%;">教研室划分</th>' +
                            '<th rowspan="2" style="width: 5%">专业负责人</th>' +
                            '<th rowspan="2" style="width: 5%">课程负责人</th>' +
                            '<th rowspan="2" style="width: 4%">课程编号</th>' +
                            '<th rowspan="2" style="width: 15%">' + xueqi + '课程</th>' +
                            '<th rowspan="2" style="width: 1%" >周学时</th>' +
                            '<th rowspan="2" style="width: 1%">上机</th>' +
                            '<th rowspan="2" style="width: 1%">学分</th>' +
                            '</tr><tr id="TLtheadtr2"></tr></thead>'
                    );
                    //生成tbody
                    $("#selectcourseTL").append('<tbody id="TLbody"> </tbody>');
                    //遍历结果填写左侧信息
                    var tdStr = '';
                    coursemsg.data.forEach(function(v,i,arr){
                        tdStr += "<tr onclick='editXk(" + v['ID'] + ")' id=c"+v['ID']+">";
                        tdStr += v['JYSHF'] === undefined || null ? "<td>无</td>" : "<td>"+v['JYSHF']+"</td>";
                        tdStr += v['ZYFZR'] === undefined || null ? "<td>无</td>" : "<td>"+v['ZYFZR']+"</td>";
                        tdStr += v['KCFZR'] === undefined || null ? "<td>无</td>" : "<td>"+v['KCFZR']+"</td>";
                        tdStr += v['KCBH'] === undefined || null ? "<td>无</td>" : "<td>"+v['KCBH']+"</td>";
                        tdStr += v['KCMC'] === undefined || null ? "<td>无</td>" : "<td>"+v['KCMC']+"</td>";
                        tdStr += v['ZXS'] === undefined || null ? "<td>0</td>" : "<td>"+v['ZXS']+"</td>";
                        tdStr += v['SJXS'] === undefined || null ? "<td>0</td>" : "<td>"+v['SJXS']+"</td>";
                        tdStr += v['XF'] === undefined || null ? "<td>0</td>" : "<td>"+v['XF']+"</td>";
                        tdStr += '</tr>';
                    });
                    $("#TLbody").html(tdStr);
                    result.flag = true;
                    result.data = coursemsg;
                }else{
                    //这个学期还没有选课
                }
            },
            error:function(e){
                console.log(e);
            }
        });
        return result;
    }

    //读取专业信息
    function setMajor(term,data) {
        var coursemsg = data;
        var result = {
            "flag" : false,
            "data" : ''
        };
        var xnArr = [];
        term.forEach(function(v,i,arr){ //取得四个学年
            xnArr.push(v['xn']);
        });
        var years = xnArr.join(",");
        $.ajax({
            type: "post",
            url: "/majorService/selectMajor",
            dataType: "json",
            data: {years: years},
            cache: true,
            async: false,
            success: function (majormsg) {
                if (majormsg.data.length > 0) {
                    var thStr = "";
                    var tsStr = "";
                    majormsg.data.forEach(function (m, i, arr) {
                        thStr += "<th id=m" + m['ID'] + ">" + m['ZYMC'] + "<br>" + m['KSNJ'].substring(2, 5) + "</th>";
                        tsStr += "<th class='toushu' id=m"+m['ID']+"ts>" + m['BJGS'] + "</th>";
                        //在专业下面每一行分配一个单元格，单元格id为(行id,列id）=（课程id,专业id）
                        coursemsg.data.forEach(function (c, i, arr) {
                            $("#c" + c['ID']).append("<td id=c" + c['ID'] + "m" + m['ID'] + "></td>");
                        });
                    });
                    $("#TLtheadtr").append(thStr);
                    $("#TLtheadtr2").append(tsStr);
                }
                result.flag = true;
                result.data = majormsg;
            },
            error: function (e) {
                console.log(e);
            }
        });
        return result;
    }

    //读取专业选课信息
    function readMajorCourse(term,data) {
        var result = {
            "flag" : false,
            "data" : ''
        };
        var xnArr = [];
        var xqArr = [];
        var majormsg = data;
        term.forEach(function(v,i,arr){ //取得四个学年
            xnArr.push(v['xn']);
            xqArr.push(v['xq']);
        });
        var arr = [[],xqArr[0],[],xqArr[1],[],xqArr[2],[],xqArr[3]];
        majormsg.data.forEach(function(v,i,a) { //取得4个学年分别有哪些专业的ID
            if(v['KSNJ'] == xnArr[0]){
                arr[0].push(v['ID']);
            }else if(v['KSNJ'] == xnArr[1]){
                arr[2].push(v['ID']);
            }else if(v['KSNJ'] == xnArr[2]){
                arr[4].push(v['ID']);
            }else if(v['KSNJ'] == xnArr[3]){
                arr[6].push(v['ID']);
            }
        });
        arr[0] = arr[0].join(",") == "" ? '-1' : arr[0].join(",");
        arr[2] = arr[2].join(",") == "" ? '-1' : arr[2].join(",");
        arr[4] = arr[4].join(",") == "" ? '-1' : arr[4].join(",");
        arr[6] = arr[6].join(",") == "" ? '-1' : arr[6].join(",");
        $.ajax({
            type: "post",
            url: "/major_courseService/getMC",
            dataType: "json",
            data:{arr:arr.join("#")},
            cache: true,
            async: false,
            success: function (majorcoursemsg) {
                if (majorcoursemsg.data.length > 0) {
                    majorcoursemsg.data.forEach(function(v,i,arr) {
                        $("#c"+v['KCID']+"m"+v['ZYID']).text($("#m"+v['ZYID']+"ts").text());
                    })
                }
                result.flag = true;
                result.data = majormsg;
            },
            error: function (e) {

            }
        });
        return result;
    }

    //画出总头数与剩余头数
    function drowToushu(data){
        var coursemsg = data;
        var result = {
            "flag" : true,
            "data" : ''
        };
        $("#TLtheadtr").append('<th rowspan="2" id="sumts">总头数</th>');
        $("#TLtheadtr").append('<th rowspan="2" id="surts">剩余头数</th>');
        coursemsg.data.forEach(function(v,i,arr){
            $("#c" + v['ID']).append("<td id=sum" + v['ID'] + "></td>");
            $("#c" + v['ID']).append("<td id=sur" + v['ID'] + "></td>");
        });
        return result;
    }

    //5.生成右侧 授课教师
    function getTeacher(data,time){
        var coursemsg = data;
        var result = {
            "flag" : false,
            "data" : ''
        };
        var data =[];
        var xueqi = get1st2nd(time);
        $("#TLtheadtr").append('<th colspan="6">授课老师（院内/外聘）</th>');
        $("#TLtheadtr2").append('<th class="ttype" id="t1">学院教师</th><th class="ttype" id="t2">大校教师</th><th class="ttype" id="t3">其他高校教师（有教师资格证）</th>'+
        '<th class="ttype" id="t4">实习机构</th><th class="ttype" id="t5">其他人员</th><th class="ttype" id="t6">其他</th>');
        //获取院内授课老师
        coursemsg.data.forEach(function(v,i,arr){
            $("#c"+v['ID']).append('<td id=c'+v['ID']+'t1></td><td id=c'+v['ID']+'t2></td><td id=c'+v['ID']+'t3></td>'+
            '<td id=c'+v['ID']+'t4></td><td id=c'+v['ID']+'t5></td><td id=c'+v['ID']+'t6></td>');
            $.ajax({
                type: "post",
                url: "/teacher_courseService/getTc",
                dataType: "json",
                data: {kcid: v['ID'],term:xueqi},
                cache: true,
                async: false,
                success: function (msg) {
                    if(msg.data.length>0){
                        data.push(msg.data);
                    }
                    msg.data.forEach(function(t,i,arr){
                        str = "<code>"+t['TS']+"-"+t['XM']+"("+t['BZ']+");</code>";
                        $("#c"+v['ID']+"t"+t['SFZR']).append(str);
                    });
                    result.flag = true;
                    result.data = data;
                },
                error: function (e) {
                    console.log(e);
                }
            });
        });
        return result;
    };

    //计算总头数
    function computToushu(coursedata, majordata, teacher) {
        coursedata.data.forEach(function(c,i,arr){
            var sumTs = 0;
            var surTs = 0;
            majordata.data.forEach(function(m,i,arr){
                sumTs += Number($("#c"+c['ID']+"m"+m['ID']).text());
            });
            $("#sum"+c['ID']).text(sumTs);
            teacher.data.forEach(function(t,i,arr){
                t.forEach(function(v,i,arr){
                    if(v['KCID'] == c['ID']){
                        surTs +=  Number(v['TS']);
                    }
                });
            });
            $("#sur"+c['ID']).text(sumTs-surTs);
            if(surTs === sumTs){
                $("#c"+c['ID']).addClass("danger");
            }else{
                $("#c"+c['ID']).removeClass("danger");
            }
        });
    }
    
    //获取当前的学期
    function get_term(d) {
        if(d==""){
            var nowDate = new Date();
        }else {
            var nowDate = new Date(d);
        }
        var nowYear = nowDate.getFullYear();
        var nowMonth = nowDate.getMonth() + 1;
        if (nowMonth >= 8 && nowMonth <= 12) {
            //四个学年判断
            var xuenian1 = nowYear + "级";//2016级
            var xuenian2 = nowYear - 1 + "级";//2015级
            var xuenian3 = nowYear - 2 + "级";//2014级
            var xuenian4 = nowYear - 3 + "级";//2013级
            //当前四个学期判断
            var xueqi1 = "第" + replaceNo((nowYear - nowYear) * 2 + 1) + "学期";//1
            var xueqi2 = "第" + replaceNo((nowYear - (nowYear - 1)) * 2 + 1) + "学期";//2
            var xueqi3 = "第" + replaceNo((nowYear - (nowYear - 2)) * 2 + 1) + "学期";//3
            var xueqi4 = "第" + replaceNo((nowYear - (nowYear - 3)) * 2 + 1) + "学期";//4
        } else if (nowMonth >= 1 && nowMonth < 2 || nowMonth >= 2 && nowMonth <= 7) {
            var xuenian1 = nowYear - 1 + "级";
            var xuenian2 = nowYear - 2 + "级";
            var xuenian3 = nowYear - 3 + "级";
            var xuenian4 = nowYear - 4 + "级";
            if (nowMonth >= 1 && nowMonth < 2) {
                var xueqi1 = "第" + replaceNo((nowYear - nowYear) * 2 + 1) + "学期";//1
                var xueqi2 = "第" + replaceNo((nowYear - (nowYear - 1)) * 2 + 1) + "学期";//2
                var xueqi3 = "第" + replaceNo((nowYear - (nowYear - 2)) * 2 + 1) + "学期";//3
                var xueqi4 = "第" + replaceNo((nowYear - (nowYear - 3)) * 2 + 1) + "学期";//4
            }
            else if (nowMonth >= 2 && nowMonth <= 7) {
                var xueqi1 = "第" + replaceNo((nowYear - nowYear) * 2 + 2) + "学期";//1
                var xueqi2 = "第" + replaceNo((nowYear - (nowYear - 1)) * 2 + 2) + "学期";//2
                var xueqi3 = "第" + replaceNo((nowYear - (nowYear - 2)) * 2 + 2) + "学期";//3
                var xueqi4 = "第" + replaceNo((nowYear - (nowYear - 3)) * 2 + 2) + "学期";//4
            }
        }
        var term = [];
        for(let i = 1; i <= 4 ; i++){
            let t ={
                "xq":eval('xueqi'+i),
                "xn":eval('xuenian'+i),
            };
            term.push(t);
        }
        return term;
    }

    function get1st2nd(d){
        if(d==""){
            var nowDate = new Date();
        }else {
            var nowDate = new Date(d);
        }
        var nowYear = nowDate.getFullYear();
        var nowMonth = nowDate.getMonth() + 1;
        var xueqi = '';
        if (nowDate) {
            if (nowMonth < 8 && nowMonth > 0) {
                xueqi = nowYear + "-" + (nowYear + 1) + "第二学期";
            }
            else if (nowMonth >= 8 && nowMonth <= 12 || nowMonth > 0 && nowMonth <= 1) {
                xueqi = nowYear + "-" + (nowYear + 1) + "第一学期";
            }
        }
        return xueqi;
    }
    //日期转换大写
    function replaceNo(no) {
        switch (no) {
            case 1:
                return "一";
                break;
            case 2:
                return "二";
                break;
            case 3:
                return "三";
                break;
            case 4:
                return "四";
                break;
            case 5:
                return "五";
                break;
            case 6:
                return "六";
                break;
            case 7:
                return "七";
                break;
            case 8:
                return "八";
                break;
            default:
                return "";
                break;
        }
    }
</script>