<style type="text/css">
    #selectcourseTL td {
        vertical-align: middle;
        text-align: center;

    }

    #selectcourseTL thead th {
        vertical-align: bottom;
        text-align: center;

    }

    #selectcourseTL thead {
        background-color: rgba(100, 183, 136, 0.21);

    }

    .selectleft {
        position: absolute;
        right: 0px;
        left: 120px;
    }

    .selecttop {
        margin-top: 3px;

    }
</style>

<!-- 页面内容 content -->
<div class="content-wrapper">
    <!-- 页面内容 Header -->
    <section class="content-header">
        <h1>
            教师选课信息管理页面
        </h1>
        <ol class="breadcrumb">
            <li><a href="/index"><i class="fa fa-home"></i> 首页</a></li>
            <li class="active">教师选课管理</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">
        <div id="box" class="box" style="width: 100%;overFlow-x: scroll;overFlow-y: scroll;">
            <div class="box-header">
                <h3 class="box-title">教师选课</h3>
                <div class="box-tools selectleft">
                    <select class="selecttop">
                        <option value="">请选择学期</option>
                        <option value="">2016-2017第一学期</option>
                        <option value="">2016-2017第二学期</option>
                    </select>
                </div>
                <div class="box-tools pull-right">
                    <button type="button" title="导出" class="btn btn-box-tool"
                            onclick="">
                        <i class="fa fa-fw fa-cloud-download"></i>导出
                    </button>
                </div>
            </div>
            <div class="box-body no-padding" style="width: 100%;">
                <table id="selectcourseTL" class="table table-condensed table-hover table-bordered">
                </table>
            </div>
        </div>
    </section>
</div>
<div class="modal fade" id="modal-edit-event"></div>
<script>
    $(document).ready(function () {
        $("#box").css('height', $(window).height() * 0.85 + 'px');//调整表格显示高度
        //获取到当前时间或者要查询的时间 然后取得当前有哪些专业选择了哪些课
        var time = "2016-10-10";
        var term = get_term(time);
        //1.生成左半部分课程信息
        var course = setCourse(term,time);
        //2.生成中间部分专业信息
        //开始生成专业信息
        if(course.flag){
            var major = setMajor(term,course.data);
        }
        //3.生成中间部分专业-选课信息
        //读取专业选课信息
        if(major.flag){
            var readMC = readMajorCourse(term,major.data);
            return false;
        }
        //4.生成中间部分总头数和剩余头数
        //添加总头数一列
        var sumtoushu = document.createElement("th");//总头数th
        var surtoushu = document.createElement("th");//剩余头数th
        sumtoushu.setAttribute("id", "zongtoushu");//设置总头数th单元格id
        sumtoushu.setAttribute("style", "width: 1%");
        surtoushu.setAttribute("id", "shengyutoushu");//设置剩余头数th单元格id
        surtoushu.setAttribute("style", "width: 1%");
        sumtoushu.innerHTML = "总头数";
        surtoushu.innerHTML = "剩余头数";
        document.getElementById("TLtheadtr").appendChild(sumtoushu);
        document.getElementById("TLtheadtr").appendChild(surtoushu);
        //总头数单元格
        for (var s = 0; s < coursemsg.aaData.length; s++) {//课程记录数
            var tempsc = coursemsg.aaData[s];
            //创建一个td
            var tds = document.createElement("td");
            tds.setAttribute("id", "sum" + tempsc['ID']);//单元格id为（sumid）
            document.getElementById("c" + tempsc['ID']).appendChild(tds);
        }
        //剩余头数单元格
        for (var r = 0; r < coursemsg.aaData.length; r++) {//课程记录数
            var tempsr = coursemsg.aaData[r];
            //创建一个td
            var tdr = document.createElement("td");
            tdr.setAttribute("id", "sur" + tempsr['ID']);//单元格id为（surid）
            document.getElementById("c" + tempsr['ID']).appendChild(tdr);
        }
    //5.生成右侧部分选课操作
    // 院内授课老师列
    sklsyn(coursemsg);
    // 外聘授课老师列
    sklswp(coursemsg);
    //计算总头数
    sumToushu(coursemsg, majormsg);
    //添加操作列
    choose(coursemsg);

    });

    //获取课程
    function setCourse(term,time){
        var result = {
            "flag" : false,
            "data" : ''
        };
        if(!term){
            console.log("获取四个学期失败");
            return false;
        }
        //获取到当前时间或者要查询的时间 然后取得当前有哪些专业选择了哪些课
        var termArr = [];
        term.forEach(function(v,i,arr){ //取得四个学期
            termArr.push(v['xn']);
            termArr.push(v['xq']);
        });
        term = termArr.join(",");
        $.ajax({
            type: "post",
            url: "/courseService/selectCourse",
            dataType: "json",
            data: {term: term},
            cache: true,
            async: false,
            success: function (coursemsg) {
                if(coursemsg.data.length > 0){
                    var xueqi = get1st2nd(time);
                    //生成thead
                    $("#selectcourseTL").append(
                            '<thead><tr id="TLtheadtr">' +
                            '<th style="width: 7%;">教研室划分</th>' +
                            '<th style="width: 5%">专业负责人</th>' +
                            '<th style="width: 5%">课程负责人</th><th style="width: 4%">课程编号</th>' +
                            '<th style="width: 15%">' + xueqi + '</th>' +
                            '<th style="width: 1%" >周学时</th>' +
                            '<th style="width: 1%">上机</th>' +
                            '<th style="width: 1%">学分</th>' +
                            '</tr></thead>'
                    );
                    //生成tbody
                    $("#selectcourseTL").append('<tbody id="TLbody"> </tbody>');
                    //遍历结果填写左侧信息
                    var tdStr = '';
                    coursemsg.data.forEach(function(v,i,arr){
                        tdStr += "<tr id=c"+v['ID']+">";
                        tdStr += v['JYSHF'] === undefined || null ? "<td>无</td>" : "<td>"+v['JYSHF']+"</td>";
                        tdStr += v['ZYFZR'] === undefined || null ? "<td>无</td>" : "<td>"+v['ZYFZR']+"</td>";
                        tdStr += v['KCFZR'] === undefined || null ? "<td>无</td>" : "<td>"+v['KCFZR']+"</td>";
                        tdStr += v['KCBH'] === undefined || null ? "<td>无</td>" : "<td>"+v['KCBH']+"</td>";
                        tdStr += v['KCMC'] === undefined || null ? "<td>无</td>" : "<td>"+v['KCMC']+"</td>";
                        tdStr += v['ZXS'] === undefined || null ? "<td>0</td>" : "<td>"+v['ZXS']+"</td>";
                        tdStr += v['SJXS'] === undefined || null ? "<td>0</td>" : "<td>"+v['SJXS']+"</td>";
                        tdStr += v['XF'] === undefined || null ? "<td>0</td>" : "<td>"+v['XF']+"</td>";
                        tdStr += '</tr>';
                    });
                    $("#TLbody").html(tdStr);
                    result.flag = true;
                    result.data = coursemsg;
                }else{
                    //这个学期还没有选课
                }
            },
            error:function(e){
                console.log(e);
            }
        });
        return result;
    }

    //读取专业信息
    function setMajor(term,data) {
        var coursemsg = data;
        var result = {
            "flag" : false,
            "data" : ''
        };
        var xnArr = [];
        term.forEach(function(v,i,arr){ //取得四个学年
            xnArr.push(v['xn']);
        });
        var years = xnArr.join(",");
        $.ajax({
            type: "post",
            url: "/majorService/selectMajor",
            dataType: "json",
            data: {years: years},
            cache: true,
            async: false,
            success: function (majormsg) {
                if (majormsg.data.length > 0) {
                    var thStr = "";
                    majormsg.data.forEach(function (m, i, arr) {
                        thStr += "<th id=m" + m['ID'] + ">" + m['ZYMC'] + "<br>" + m['KSNJ'].substring(2, 5) + "<br>" + "(" + m['BJGS'] + ")";
                        //在专业下面每一行分配一个单元格，单元格id为(行id,列id）=（课程id,专业id）
                        coursemsg.data.forEach(function (c, i, arr) {
                            $("#c" + c['ID']).append("<td id=c" + c['ID'] + "m" + m['ID'] + "></td>");
                        });
                    });
                    $("#TLtheadtr").append(thStr);
                }
                result.flag = true;
                result.data = majormsg;
            },
            error: function (e) {
                alert("专业信息请求失败~");
            }
        });
        return result;
    }

    //读取专业选课信息
    function readMajorCourse(term,data) {
        var result = {
            "flag" : false,
            "data" : ''
        };
        var xnArr = [];
        var xqArr = [];
        var majormsg = data;
        term.forEach(function(v,i,arr){ //取得四个学年
            xnArr.push(v['xn']);
            xqArr.push(v['xq']);
        });
        var arr = [[],xqArr[0],[],xqArr[1],[],xqArr[2],[],xqArr[3]];
        majormsg.data.forEach(function(v,i,a) { //取得4个学年分别有哪些专业的ID
            if(v['KSNJ'] == xnArr[0]){
                arr[0].push(v['ID']);
            }else if(v['KSNJ'] == xnArr[1]){
                arr[2].push(v['ID']);
            }else if(v['KSNJ'] == xnArr[2]){
                arr[4].push(v['ID']);
            }else if(v['KSNJ'] == xnArr[3]){
                arr[6].push(v['ID']);
            }
        });
        arr[0] = arr[0].join(",") == "" ? '-1' : arr[0].join(",");
        arr[2] = arr[2].join(",") == "" ? '-1' : arr[2].join(",");
        arr[4] = arr[4].join(",") == "" ? '-1' : arr[4].join(",");
        arr[6] = arr[6].join(",") == "" ? '-1' : arr[6].join(",");
        $.ajax({
            type: "post",
            url: "/major_courseService/getMC",
            dataType: "json",
            data:{arr:arr.join("-")},
            cache: true,
            async: false,
            success: function (majorcoursemsg) {
                if (majorcoursemsg.data.length > 0) {
                    majorcoursemsg.data.forEach(function(v,i,arr) {
                        var ts = $("#m"+v['ZYID']).text().substring($("#m"+v['ZYID']).text().length - 2, $("#m"+v['ZYID']).text().length - 1);
                        $("#c"+v['KCID']+"m"+v['ZYID']).text(ts);
                    })
                }
                result.flag = true;
                result.data = majormsg;
            },
            error: function (e) {

            }
        });
        return result;
    }
    //获取院内授课老师
    function sklsyn(coursemsg) {
        //添加授课老师（院内）列
        var sklsyn = document.createElement("th");//授课老师（院内）th
        sklsyn.setAttribute("id", "sklsyn");//设置th单元格id
        sklsyn.setAttribute("style", "width: 13%");
        sklsyn.innerHTML = "授课老师（院内）";
        document.getElementById("TLtheadtr").appendChild(sklsyn);
        //创建授课老师（院内）列下的单元格
        for (var i = 0; i < coursemsg.aaData.length; i++) {//课程记录数
            var temp = coursemsg.aaData[i];
            //创建一个td
            var tdn = document.createElement("td");
            tdn.setAttribute("id", "yn" + temp['ID']);//单元格id为（ynid）
            tdn.setAttribute("style", "text-align:left");
            document.getElementById("c" + temp['ID']).appendChild(tdn);//取得每行（每个课程）的总头数单元格
            $.ajax({
                type: "get",
                url: "/teacher_courseService/getYN",
                dataType: "json",
                data: {kcid: temp['ID']},
                cache: true,
                async: false,
                success: function (msg) {
                    var skstr = "";
                    for (var y = 0; y < msg.result.length; y++) {
                        var tempy = msg.result[y];
                        skstr += tempy['TS'] + "-" + tempy['XM'] + (tempy['BZ'] === null || tempy['BZ'] === undefined || tempy['BZ'] == "" ? ";<br>" : "(" + tempy['BZ'] + ");<br>");
                    }
                    tdn.innerHTML = "<code>" + skstr + "<code>";
                },
                error: function (e) {
                    alert("院内教师请求失败~");
                }
            });

        }

    }
    //获取外聘授课老师
    function sklswp(coursemsg) {
        //添加授课老师（外聘）列
        var sklswp = document.createElement("th");//授课老师（外聘）th
        sklswp.setAttribute("id", "sklswp");//设置th单元格id
        sklswp.setAttribute("style", "width: 13%");
        sklswp.innerHTML = "授课老师（外聘）";
        document.getElementById("TLtheadtr").appendChild(sklswp);
        //创建授课老师（外聘）列下的单元格
        for (var i = 0; i < coursemsg.aaData.length; i++) {//课程记录数
            var temp = coursemsg.aaData[i];
            //创建一个td
            var tdw = document.createElement("td");
            tdw.setAttribute("id", "wp" + temp['ID']);//单元格id为（wpid）
            tdw.setAttribute("style", "text-align:left");
            document.getElementById("c" + temp['ID']).appendChild(tdw);//取得每行（每个课程）的总头数单元格
            $.ajax({
                type: "get",
                url: "/teacher_courseService/getWP",
                dataType: "json",
                data: {kcid: temp['ID']},
                cache: true,
                async: false,
                success: function (msg) {
                    var skstr = "";
                    for (var y = 0; y < msg.result.length; y++) {
                        var tempy = msg.result[y];
                        skstr += tempy['TS'] + "-" + tempy['XM'] + (tempy['BZ'] === null || tempy['BZ'] === undefined || tempy['BZ'] == "" ? "(" + tempy['CZR'] + "代选);<br>" : "(" + tempy['BZ'] + "," + tempy['CZR'] + "代选);<br> ");
                    }
                    tdw.innerHTML = "<code>" + skstr + "<code>";
                },
                error: function (e) {
                    alert("外聘教师请求失败~");
                }
            });
        }
    }
    //计算总头数
    function sumToushu(coursemsg, majormsg) {
        for (var i = 0; i < coursemsg.aaData.length; i++) {//课程记录数
            var tempc = coursemsg.aaData[i];
            //每行总头数计算
            var tdv = 0;
            for (var a = 0; a < majormsg.aaData.length; a++) {//按照每行依次读取有值的单元格相加
                var tempm = majormsg.aaData[a];
                tdv += document.getElementById(tempm['ID'] + "," + tempc['ID']).innerHTML * 1;//每行每个单元格头数相加
            }
            //校内授课老师已选头数
            var arryn = document.getElementById("yn" + tempc['ID']).innerHTML.split('-');
            var ynv = 0;
            for (var n = 0; n < arryn.length - 1; n++) {
                ynv += arryn[n][arryn[n].length - 1] * 1;
            }
            //外聘授课老师已选头数
            var arrwp = document.getElementById("wp" + tempc['ID']).innerHTML.split('-');
            var wpv = 0;
            for (var m = 0; m < arrwp.length - 1; m++) {
                wpv += arrwp[m][arrwp[m].length - 1] * 1;
            }
            //将总头数单元格附上每行计算的总头数
            document.getElementById("sum" + tempc['ID']).innerHTML = tdv;
            //剩余头数
            document.getElementById("sur" + tempc['ID']).innerHTML = tdv - ynv - wpv;
            if (document.getElementById("sur" + tempc['ID']).innerHTML == 0) {
                document.getElementById("c" + tempc['ID']).setAttribute("class", "danger");
            }
        }
    }
    //操作列
    function choose(coursemsg) {
        //添加“操作”列
        var caozuo = document.createElement("th");//授课老师（院内）th
        caozuo.setAttribute("id", "caozuo");//设置th单元格id
        caozuo.innerHTML = "";
        document.getElementById("TLtheadtr").appendChild(caozuo);
        //添加下面单元格
        //创建授课老师（院内）列下的单元格
        for (var i = 0; i < coursemsg.aaData.length; i++) {//课程记录数
            var temp = coursemsg.aaData[i];
            //创建一个td
            var td = document.createElement("td");
            td.setAttribute("id", "cz" + temp['ID']);//单元格id为（czid）
            td.setAttribute("style", "width: 3%");
            td.innerHTML = '<button onclick="editXk(\'' + temp['ID'] + '\')" class="btn btn-block btn-primary btn-xs" role="button" href="#" data-toggle="modal"><i class="fa fa-fw fa-hand-o-up"></i>操作</button>';
            document.getElementById("c" + temp['ID']).appendChild(td);
        }
    }
    function editXk(cid) {
        var sur = document.getElementById("sur" + cid).innerHTML;
        $.ajax({
            url: "/selectcourse/_editXk.html",
            type: "get",
            data: {cid: cid, sur: sur},
            dataType: 'html',
            async: false,
            success: function (htmlContent) {
                //模态框
                $('#modal-edit-event').html(htmlContent);
                $('#modal-edit-event').modal('show');
            }
        });
    }
    //获取当前的学期
    function get_term(d) {
        if(d==""){
            var nowDate = new Date();
        }else {
            var nowDate = new Date(d);
        }
        var nowYear = nowDate.getFullYear();
        var nowMonth = nowDate.getMonth() + 1;
        if (nowMonth >= 8 && nowMonth <= 12) {
            //四个学年判断
            var xuenian1 = nowYear + "级";//2016级
            var xuenian2 = nowYear - 1 + "级";//2015级
            var xuenian3 = nowYear - 2 + "级";//2014级
            var xuenian4 = nowYear - 3 + "级";//2013级
            //当前四个学期判断
            var xueqi1 = "第" + replaceNo((nowYear - nowYear) * 2 + 1) + "学期";//1
            var xueqi2 = "第" + replaceNo((nowYear - (nowYear - 1)) * 2 + 1) + "学期";//2
            var xueqi3 = "第" + replaceNo((nowYear - (nowYear - 2)) * 2 + 1) + "学期";//3
            var xueqi4 = "第" + replaceNo((nowYear - (nowYear - 3)) * 2 + 1) + "学期";//4
        } else if (nowMonth >= 1 && nowMonth < 2 || nowMonth >= 2 && nowMonth <= 7) {
            var xuenian1 = nowYear - 1 + "级";
            var xuenian2 = nowYear - 2 + "级";
            var xuenian3 = nowYear - 3 + "级";
            var xuenian4 = nowYear - 4 + "级";
            if (nowMonth >= 1 && nowMonth < 2) {
                var xueqi1 = "第" + replaceNo((nowYear - nowYear) * 2 + 1) + "学期";//1
                var xueqi2 = "第" + replaceNo((nowYear - (nowYear - 1)) * 2 + 1) + "学期";//2
                var xueqi3 = "第" + replaceNo((nowYear - (nowYear - 2)) * 2 + 1) + "学期";//3
                var xueqi4 = "第" + replaceNo((nowYear - (nowYear - 3)) * 2 + 1) + "学期";//4
            }
            else if (nowMonth >= 2 && nowMonth <= 7) {
                var xueqi1 = "第" + replaceNo((nowYear - nowYear) * 2 + 2) + "学期";//1
                var xueqi2 = "第" + replaceNo((nowYear - (nowYear - 1)) * 2 + 2) + "学期";//2
                var xueqi3 = "第" + replaceNo((nowYear - (nowYear - 2)) * 2 + 2) + "学期";//3
                var xueqi4 = "第" + replaceNo((nowYear - (nowYear - 3)) * 2 + 2) + "学期";//4
            }
        }
        var term = [];
        for(let i = 1; i <= 4 ; i++){
            let t ={
                "xq":eval('xueqi'+i),
                "xn":eval('xuenian'+i),
            };
            term.push(t);
        }
        return term;
    }

    function get1st2nd(d){
        if(d==""){
            var nowDate = new Date();
        }else {
            var nowDate = new Date(d);
        }
        var nowYear = nowDate.getFullYear();
        var nowMonth = nowDate.getMonth() + 1;
        var xueqi = '';
        if (nowDate) {
            if (nowMonth < 8 && nowMonth > 0) {
                xueqi = nowYear + "-" + (nowYear + 1) + "第二学期课程";
            }
            else if (nowMonth >= 8 && nowMonth <= 12 || nowMonth > 0 && nowMonth <= 1) {
                xueqi = nowYear + "-" + (nowYear + 1) + "第一学期课程";
            }
        }
        return xueqi;
    }
    //日期转换大写
    function replaceNo(no) {
        switch (no) {
            case 1:
                return "一";
                break;
            case 2:
                return "二";
                break;
            case 3:
                return "三";
                break;
            case 4:
                return "四";
                break;
            case 5:
                return "五";
                break;
            case 6:
                return "六";
                break;
            case 7:
                return "七";
                break;
            case 8:
                return "八";
                break;
            default:
                return "";
                break;
        }
    }
</script>