<script src="/table2excel/jquery.table2excel.js"></script>
<style type="text/css">
    #selectcourseTL td {
        vertical-align: middle;
        text-align: center;
    }
    #selectcourseTL thead th {
        vertical-align: bottom;
        text-align: center;
    }
    #selectcourseTL thead {
        background-color: rgba(100, 183, 136, 0.21);
    }
    .box-header>.box-tools{
        top:8px;
    }
    .date-box{
        position: absolute;
        right: 0px;
        left: 120px;
        top:8px;
    }
    .export-box button{
        padding-top: 2px;
    }
    #datechoose .form-control{
        height: 24px;
        padding: 0px 5px;
    }
    #datechoose{
        width: 150px;
    }
    .input-group-addon{
        padding: 0px 5px;
    }
    .export-btn{
        
    }
    .toushu{
        background-color: #ffcc33;
        color: #FFFFFF;
    }
    .ttype{
        white-space: nowrap;
    }
    .heng{
        white-space: nowrap;
    }
    tr{
        cursor: pointer;
    }
    p {
        margin: 0 0 0px;
    }
</style>

<div class="content-wrapper">
    <section class="content-header">
        <h1>
            教师选课信息管理页面
        </h1>
        <ol class="breadcrumb">
            <li><a href="/index"><i class="fa fa-home"></i> 首页</a></li>
            <li class="active">教师选课管理</li>
        </ol>
    </section>
    <section class="content">
        <div id="box" class="box" style="width: 100%;overFlow-x: scroll;">
            <div class="box-header">
                <h3 class="box-title">教师选课</h3>
                <div class="box-tools date-box">
                    <div class="input-group date" id="datechoose">
                        <input type="text" class="form-control">
                        <div class="input-group-addon">
                            <span class="glyphicon glyphicon-th"></span>
                        </div>
                    </div>
                </div>
                <div class="box-tools export-box">
                    <button type="button" title="导出" class="btn btn-box-tool export-btn" onclick="exportData()">
                        <i class="fa fa-fw fa-cloud-download"></i>导出
                    </button>
                </div>
            </div>
            <div class="box-body no-padding" style="width: 100%;">
                <table id="selectcourseTL" class="table table-condensed table-hover table-bordered">
                </table>
            </div>
        </div>
    </section>
</div>
<div class="modal fade" id="modal-edit-xk"></div>
<script>
    $(document).ready(function () {
        
        $("#datechoose").datepicker({ //构建时间选择器
            format: 'yyyy/mm',
            autoclose:true,
            language:'zh-CN',
            todayHighlight:true,
            startView:'2',
            minViewMode:'months',
            title:'--------学期选择--------'
        });
        var time = new Date("2016-10-10");
        $('#datechoose').datepicker('setDate', time); //初始化现在时间
        build_table(time); //构建datatable
        $('#datechoose').datepicker().on('hide', function(e) { //改变时间选择器重新获取当前的信息
            time = $('#datechoose').datepicker('getDate');
            build_table(time);  
        });
        $('#modal-edit-xk').on('hidden.bs.modal', function () {
            build_table(time); //构建datatable
        })
    });
    function build_table(time){
        $("#selectcourseTL").html("");
        //获取到当前时间或者要查询的时间 然后取得当前有哪些专业选择了哪些课
        var term = get_term(time);
        //1.生成左半部分课程信息
        var course = setCourse(term,time);
        //2.生成中间部分专业信息
        if(course.flag){
            var major = setMajor(term,course.data);
        }
        //3.生成中间部分专业-选课信息 读取专业选课信息
        if(major.flag){
            var readMC = readMajorCourse(term,major.data);
        }
        //4.生成中间部分总头数和剩余头数
        if(readMC.flag){
            var tsth = drowToushu(course.data);
        }
        //5.生成右侧 授课教师
        if(tsth.flag){
            var teacher = getTeacher(course.data,time);
        }
        //6.计算总头数
        if(teacher.flag){
            var comput = computToushu(course.data, major.data, teacher);
        }
    }
    
    //批量导出(非IE浏览器)
    function exportData() {
        $("#selectcourseTL").table2excel({
            exclude: ".noExl",//有class = “noExl” 的行不被导出；
            name: "Excel Document Name",
            filename: "教师选课信息表" + "-" + GetTimeStr(),
            exclude_img: true,
            exclude_links: true,
            exclude_inputs: true
        });
    }

    //编辑选课
    function editXk(cid) {
        var sur = $("#sur" + cid).text();
        var term = get1st2nd($('#datechoose').datepicker('getDate'));
        $.ajax({
            url: "/selectcourse/_editXk.html",
            type: "get",
            data: {kcid: cid, surts: sur, term: term},
            dataType: 'html',
            async: false,
            success: function (htmlContent) {
                //模态框
                $('#modal-edit-xk').html(htmlContent);
                $('#modal-edit-xk').modal('show');
            }
        });
    }

    //获取课程
    function setCourse(term,time){
        var result = {
            "flag" : false,
            "data" : ''
        };
        if(!term){
            console.log("获取四个学期失败");
            return false;
        }
        //获取到当前时间或者要查询的时间 然后取得当前有哪些专业选择了哪些课
        var termArr = [];
        term.forEach(function(v,i,arr){ //取得四个学期
            termArr.push(v['xn']);
            termArr.push(v['xq']);
        });
        term = termArr.join(",");
        $.ajax({
            type: "post",
            url: "/courseService/selectCourse",
            dataType: "json",
            data: {term: term},
            cache: true,
            async: false,
            success: function (coursemsg) {
                if(coursemsg.data.length > 0){
                    var xueqi = get1st2nd(time);
                    //生成thead
                    $("#selectcourseTL").append(
                            '<thead><tr id="TLtheadtr">' +
                            '<th class="heng" rowspan="2" style="width: 7%;">教研室划分</th>' +
                            '<th class="heng" rowspan="2" style="width: 5%">专业负责人</th>' +
                            '<th class="heng" rowspan="2" style="width: 5%">课程负责人</th>' +
                            '<th class="heng" rowspan="2" style="width: 4%">课程编号</th>' +
                            '<th class="heng" rowspan="2" style="width: 15%"><p id="xueqiStr">' + xueqi + '</p>课程</th>' +
                            '<th class="heng" rowspan="2" style="width: 1%" >周学时</th>' +
                            '<th class="heng" rowspan="2" style="width: 1%">上机</th>' +
                            '<th class="heng" rowspan="2" style="width: 1%">学分</th>' +
                            '</tr><tr id="TLtheadtr2"></tr></thead>'
                    );
                    //生成tbody
                    $("#selectcourseTL").append('<tbody id="TLbody"> </tbody>');
                    //遍历结果填写左侧信息
                    var tdStr = '';
                    coursemsg.data.forEach(function(v,i,arr){
                        tdStr += "<tr onclick='editXk(" + v['ID'] + ")' id=c"+v['ID']+">";
                        tdStr += v['JYSHF'] === undefined || null ? "<td>无</td>" : "<td>"+v['JYSHF']+"</td>";
                        tdStr += v['ZYFZR'] === undefined || null ? "<td>无</td>" : "<td>"+v['ZYFZR']+"</td>";
                        tdStr += v['KCFZR'] === undefined || null ? "<td>无</td>" : "<td>"+v['KCFZR']+"</td>";
                        tdStr += v['KCBH'] === undefined || null ? "<td>无</td>" : "<td>"+v['KCBH']+"</td>";
                        tdStr += v['KCMC'] === undefined || null ? "<td>无</td>" : "<td>"+v['KCMC']+"</td>";
                        tdStr += v['ZXS'] === undefined || null ? "<td>0</td>" : "<td>"+v['ZXS']+"</td>";
                        tdStr += v['SJXS'] === undefined || null ? "<td>0</td>" : "<td>"+v['SJXS']+"</td>";
                        tdStr += v['XF'] === undefined || null ? "<td>0</td>" : "<td>"+v['XF']+"</td>";
                        tdStr += '</tr>';
                    });
                    $("#TLbody").html(tdStr);
                    result.flag = true;
                    result.data = coursemsg;
                }else{
                    //这个学期还没有选课
                }
            },
            error:function(e){
                console.log(e);
            }
        });
        return result;
    }

    //读取专业信息
    function setMajor(term,data) {
        var coursemsg = data;
        var result = {
            "flag" : false,
            "data" : ''
        };
        var xnArr = [];
        term.forEach(function(v,i,arr){ //取得四个学年
            xnArr.push(v['xn']);
        });
        var years = xnArr.join(",");
        $.ajax({
            type: "post",
            url: "/majorService/selectMajor",
            dataType: "json",
            data: {years: years},
            cache: true,
            async: false,
            success: function (majormsg) {
                if (majormsg.data.length > 0) {
                    var thStr = "";
                    var tsStr = "";
                    majormsg.data.forEach(function (m, i, arr) {
                        thStr += "<th id=m" + m['ID'] + ">" + m['ZYMC'] + "<br>" + m['KSNJ'].substring(2, 5) + "</th>";
                        tsStr += "<th class='toushu' id=m"+m['ID']+"ts>" + m['BJGS'] + "</th>";
                        //在专业下面每一行分配一个单元格，单元格id为(行id,列id）=（课程id,专业id）
                        coursemsg.data.forEach(function (c, i, arr) {
                            $("#c" + c['ID']).append("<td id=c" + c['ID'] + "m" + m['ID'] + "></td>");
                        });
                    });
                    $("#TLtheadtr").append(thStr);
                    $("#TLtheadtr2").append(tsStr);
                }
                result.flag = true;
                result.data = majormsg;
            },
            error: function (e) {
                console.log(e);
            }
        });
        return result;
    }

    //读取专业选课信息
    function readMajorCourse(term,data) {
        var result = {
            "flag" : false,
            "data" : ''
        };
        var xnArr = [];
        var xqArr = [];
        var majormsg = data;
        term.forEach(function(v,i,arr){ //取得四个学年
            xnArr.push(v['xn']);
            xqArr.push(v['xq']);
        });
        var arr = [[],xqArr[0],[],xqArr[1],[],xqArr[2],[],xqArr[3]];
        majormsg.data.forEach(function(v,i,a) { //取得4个学年分别有哪些专业的ID
            if(v['KSNJ'] == xnArr[0]){
                arr[0].push(v['ID']);
            }else if(v['KSNJ'] == xnArr[1]){
                arr[2].push(v['ID']);
            }else if(v['KSNJ'] == xnArr[2]){
                arr[4].push(v['ID']);
            }else if(v['KSNJ'] == xnArr[3]){
                arr[6].push(v['ID']);
            }
        });
        arr[0] = arr[0].join(",") == "" ? '-1' : arr[0].join(",");
        arr[2] = arr[2].join(",") == "" ? '-1' : arr[2].join(",");
        arr[4] = arr[4].join(",") == "" ? '-1' : arr[4].join(",");
        arr[6] = arr[6].join(",") == "" ? '-1' : arr[6].join(",");
        $.ajax({
            type: "post",
            url: "/major_courseService/getMC",
            dataType: "json",
            data:{arr:arr.join("#")},
            cache: true,
            async: false,
            success: function (majorcoursemsg) {
                if (majorcoursemsg.data.length > 0) {
                    majorcoursemsg.data.forEach(function(v,i,arr) {
                        $("#c"+v['KCID']+"m"+v['ZYID']).text($("#m"+v['ZYID']+"ts").text());
                    })
                }
                result.flag = true;
                result.data = majormsg;
            },
            error: function (e) {

            }
        });
        return result;
    }

    //画出总头数与剩余头数
    function drowToushu(data){
        var coursemsg = data;
        var result = {
            "flag" : true,
            "data" : ''
        };
        $("#TLtheadtr").append('<th rowspan="2" id="sumts">总头数</th>');
        $("#TLtheadtr").append('<th rowspan="2" id="surts">剩余头数</th>');
        coursemsg.data.forEach(function(v,i,arr){
            $("#c" + v['ID']).append("<td id=sum" + v['ID'] + "></td>");
            $("#c" + v['ID']).append("<td id=sur" + v['ID'] + "></td>");
        });
        return result;
    }

    //5.生成右侧 授课教师
    function getTeacher(data,time){
        var coursemsg = data;
        var result = {
            "flag" : false,
            "data" : ''
        };
        var data =[];
        var xueqi = get1st2nd(time);
        $("#TLtheadtr").append('<th colspan="6">授课老师（院内/外聘）</th>');
        $("#TLtheadtr2").append('<th class="ttype" id="t1">学院教师</th><th class="ttype" id="t2">大校教师</th><th class="ttype" id="t3">其他高校教师（有教师资格证）</th>'+
        '<th class="ttype" id="t4">实习机构</th><th class="ttype" id="t5">其他人员</th><th class="ttype" id="t6">其他</th>');
        //获取授课老师选课信息
        coursemsg.data.forEach(function(v,i,arr){
            $("#c"+v['ID']).append('<td id=c'+v['ID']+'t1></td><td id=c'+v['ID']+'t2></td><td id=c'+v['ID']+'t3></td>'+
            '<td id=c'+v['ID']+'t4></td><td id=c'+v['ID']+'t5></td><td id=c'+v['ID']+'t6></td>');
            $.ajax({
                type: "post",
                url: "/teacher_courseService/getTc",
                dataType: "json",
                data: {kcid: v['ID'],term:xueqi},
                cache: true,
                async: false,
                success: function (msg) {
                    if(msg.data.length>0){
                        data.push(msg.data);
                    }
                    msg.data.forEach(function(t,i,arr){
                        if(t['BZ'] != ""){                        
                            str = "<code>"+t['TS']+"-"+t['XM']+"("+t['BZ']+");</code>";
                        }else{
                            str = "<code>"+t['TS']+"-"+t['XM']+";</code>";
                        }
                        if(t['SFZR'] == "学院教师"){
                            $("#c"+v['ID']+"t1").append(str);
                        }else if(t['SFZR'] == "大校教师"){
                            $("#c"+v['ID']+"t2").append(str);
                        }else if(t['SFZR'] == "其他高校教师（有教师资格证）"){
                            $("#c"+v['ID']+"t3").append(str);
                        }else if(t['SFZR'] == "实习机构"){
                            $("#c"+v['ID']+"t4").append(str);
                        }else if(t['SFZR'] == "其他人员"){
                            $("#c"+v['ID']+"t5").append(str);
                        }else{
                            $("#c"+v['ID']+"t6").append(str);
                        }
                    });
                    result.flag = true;
                    result.data = data;
                },
                error: function (e) {
                    console.log(e);
                }
            });
        });
        return result;
    };

    //计算总头数
    function computToushu(coursedata, majordata, teacher) {
        coursedata.data.forEach(function(c,i,arr){
            var sumTs = 0;
            var surTs = 0;
            majordata.data.forEach(function(m,i,arr){
                sumTs += Number($("#c"+c['ID']+"m"+m['ID']).text());
            });
            $("#sum"+c['ID']).text(sumTs);
            teacher.data.forEach(function(t,i,arr){
                t.forEach(function(v,i,arr){
                    if(v['KCID'] == c['ID']){
                        surTs +=  Number(v['TS']);
                    }
                });
            });
            $("#sur"+c['ID']).text(sumTs-surTs);
            if(surTs === sumTs){
                $("#c"+c['ID']).addClass("danger");
            }else{
                $("#c"+c['ID']).removeClass("danger");
            }
        });
    }
    
    //获取当前的学期
    function get_term(d) {
        if(d==""){
            var nowDate = new Date();
        }else {
            var nowDate = new Date(d);
        }
        var nowYear = nowDate.getFullYear();
        var nowMonth = nowDate.getMonth() + 1;
        if (nowMonth >= 8 && nowMonth <= 12) {
            //四个学年判断
            var xuenian1 = nowYear + "级";
            var xuenian2 = nowYear - 1 + "级";
            var xuenian3 = nowYear - 2 + "级";
            var xuenian4 = nowYear - 3 + "级";
            //当前四个学期判断
            var xueqi1 = "第" + replaceNo((nowYear - nowYear) * 2 + 1) + "学期";
            var xueqi2 = "第" + replaceNo((nowYear - (nowYear - 1)) * 2 + 1) + "学期";
            var xueqi3 = "第" + replaceNo((nowYear - (nowYear - 2)) * 2 + 1) + "学期";
            var xueqi4 = "第" + replaceNo((nowYear - (nowYear - 3)) * 2 + 1) + "学期";
        } else if (nowMonth >= 1 && nowMonth < 2 || nowMonth >= 2 && nowMonth <= 7) {
            var xuenian1 = nowYear - 1 + "级";
            var xuenian2 = nowYear - 2 + "级";
            var xuenian3 = nowYear - 3 + "级";
            var xuenian4 = nowYear - 4 + "级";
            if (nowMonth >= 1 && nowMonth < 2) {
                var xueqi1 = "第" + replaceNo((nowYear - nowYear) * 2 + 1) + "学期";
                var xueqi2 = "第" + replaceNo((nowYear - (nowYear - 1)) * 2 + 1) + "学期";
                var xueqi3 = "第" + replaceNo((nowYear - (nowYear - 2)) * 2 + 1) + "学期";
                var xueqi4 = "第" + replaceNo((nowYear - (nowYear - 3)) * 2 + 1) + "学期";
            }
            else if (nowMonth >= 2 && nowMonth <= 7) {
                var xueqi1 = "第" + replaceNo((nowYear - nowYear) * 2 + 2) + "学期";
                var xueqi2 = "第" + replaceNo((nowYear - (nowYear - 1)) * 2 + 2) + "学期";
                var xueqi3 = "第" + replaceNo((nowYear - (nowYear - 2)) * 2 + 2) + "学期";
                var xueqi4 = "第" + replaceNo((nowYear - (nowYear - 3)) * 2 + 2) + "学期";
            }
        }
        var term = [];
        for(let i = 1; i <= 4 ; i++){
            let t ={
                "xq":eval('xueqi'+i),
                "xn":eval('xuenian'+i),
            };
            term.push(t);
        }
        return term;
    }

    function get1st2nd(d){
        if(d==""){
            var nowDate = new Date();
        }else {
            var nowDate = new Date(d);
        }
        var nowYear = nowDate.getFullYear();
        var nowMonth = nowDate.getMonth() + 1;
        var xueqi = '';
        if (nowDate) {
            if (nowMonth < 8 && nowMonth > 1) {
                xueqi = (nowYear-1) + "-" + nowYear + "第二学期";
            }else if (nowMonth >= 8 && nowMonth <= 12 ) {
                xueqi = nowYear + "-" + (nowYear + 1) + "第一学期";
            }else if(nowMonth == 1){
                xueqi = (nowYear-1) + "-" + nowYear + "第一学期";
            }
        }
        return xueqi;
    }
    //日期转换大写
    function replaceNo(no) {
        switch (no) {
            case 1:
                return "一";
                break;
            case 2:
                return "二";
                break;
            case 3:
                return "三";
                break;
            case 4:
                return "四";
                break;
            case 5:
                return "五";
                break;
            case 6:
                return "六";
                break;
            case 7:
                return "七";
                break;
            case 8:
                return "八";
                break;
            default:
                return "";
                break;
        }
    }
</script>