<!-- datatable -->
<script src="../javascripts/mydatatable.js"></script>
<!-- table2excel导出 -->
<script src="/table2excel/jquery.table2excel.js"></script>

<!-- page script -->

<!-- 页面内容 content -->
<div class="content-wrapper">
    <!-- 页面内容 Header -->
    <section class="content-header">
        <h1>
            课程管理页面
        </h1>
        <ol class="breadcrumb">
            <li><a href="/index"><i class="fa fa-home"></i> 首页</a></li>
            <li class="active">课程管理</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">
        <!-- /.box -->

        <div class="box">
            <div class="box-header">
                <h3 class="box-title">课程列表</h3>

                <div class="box-tools pull-right">
                    <button type="button" title="批量删除" class="btn btn-box-tool"
                            onclick="delSomeJys();">
                        <i class="fa fa-fw fa-plus-circle"></i>批量删除</button>
                    <button type="button" title="添加" class="btn btn-box-tool"
                            onclick="editCourse(0)">
                        <i class="fa fa-fw fa-plus-circle"></i>添加</button>
                    <button type="button" title="导出" class="btn btn-box-tool"
                    onclick="toExcel('datatable','');">
                    <i class="fa fa-fw fa-plus-circle"></i>导出</button>
                    <button type="button" title="导入" class="btn btn-box-tool"
                    onclick="isIE();">
                    <i class="fa fa-fw fa-plus-circle"></i>导入</button>
                </div>
                <div style="margin-top: 1%">
                    <div style="float: left;margin-left: 2%">当前显示的列：<br>
                        课程编号：<input id="checkbox3" name="checkbox3" type="checkbox" value="1">&nbsp;&nbsp;&nbsp;&nbsp;
                        课程名称：<input id="checkbox3" name="checkbox3" type="checkbox" value="2">&nbsp;&nbsp;&nbsp;&nbsp;
                        课程英文名称：<input id="checkbox3" name="checkbox3" type="checkbox" value="3">&nbsp;&nbsp;&nbsp;&nbsp;
                        教研室划分：<input id="checkbox3" name="checkbox3" type="checkbox" value="4">&nbsp;&nbsp;&nbsp;&nbsp;
                        专业负责人：<input id="checkbox3" name="checkbox3" type="checkbox" value="5">&nbsp;&nbsp;&nbsp;&nbsp;
                        课程负责人：<input id="checkbox3" name="checkbox3" type="checkbox" value="6">&nbsp;&nbsp;&nbsp;&nbsp;
                        课程类型：<input id="checkbox3" name="checkbox3" type="checkbox" value="7">&nbsp;&nbsp;&nbsp;&nbsp;<br>
                        周学时：<input id="checkbox3" name="checkbox3" type="checkbox" value="8">&nbsp;&nbsp;&nbsp;&nbsp;
                        上机学时：<input id="checkbox3" name="checkbox3" type="checkbox" value="9">&nbsp;&nbsp;&nbsp;&nbsp;
                        学分：<input id="checkbox3" name="checkbox3" type="checkbox" value="10">&nbsp;&nbsp;&nbsp;&nbsp;
                        使用对象：<input id="checkbox3" name="checkbox3" type="checkbox" value="11">&nbsp;&nbsp;&nbsp;&nbsp;
                        先导课程：<input id="checkbox3" name="checkbox3" type="checkbox" value="12">&nbsp;&nbsp;&nbsp;&nbsp;
                        后续课程：<input id="checkbox3" name="checkbox3" type="checkbox" value="13">&nbsp;&nbsp;&nbsp;&nbsp;
                    </div>
                    <div style="float: right">
                        <input type="file" id="upfile" accept=".xls,.xlsx" />
                    </div>
                </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body" style="padding-top: 0">
                <table id="datatable" class="table table-bordered table-striped">
                    <thead>
                    <tr>
                        <th><input id="checkbox1" name="checkbox1" type="checkbox"></th>
                        <th>课程编号</th>
                        <th>课程名称</th>
                        <th>课程英文名称</th>
                        <th>教研室划分</th>
                        <th>专业负责人</th>
                        <th>课程负责人</th>
                        <th>课程类型</th>
                        <th>周学时</th>
                        <th>上机学时</th>
                        <th>学分</th>
                        <th>使用对象</th>
                        <th>先导课程</th>
                        <th>后续课程</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </section>
    <!-- /.content -->


</div>

<div class="modal" id="modal-edit-event"></div>
<script>
    var mytable;

    $(document).ready(function () {
        //全选  全反选处理
        $("#checkbox1").click(function (){
            var checkbox = document.getElementById('checkbox1');
            //是否被选中
            if(checkbox.checked){
                $('input[type="checkbox"][name="checkbox2"]').each(function () {
                    this.checked = true;
                });
            }else{
                $('input[type="checkbox"][name="checkbox2"]').each(function () {
                    this.checked = false;
                });
            }
        });

        var columns = [
            {
                "mData": null,
                "sClass": "center",
                "mData": function (obj) {
                    return '<input id="checkbox2" name="checkbox2" type="checkbox" value='+obj.ID+'>';
                }
            },
            {
                "mData": "KCBH",
                "sClass": "center"
            },
            {
                "mData": "KCMC",
                "sClass": "center"
            },
            {
                "mData": "KCYWMC",
                "sClass": "center"
            },
            {
                "mData": "JYSHF",
                "sClass": "center"
            },
            {
                "mData": "ZYFZR",
                "sClass": "center"
            },
            {
                "mData": "KCFZR",
                "sClass": "center"
            },
            {
                "mData": "KCLX",
                "sClass": "center"
            },
            {
                "mData": "ZXS",
                "sClass": "center"
            },{
                "mData": "SJXS",
                "sClass": "center"
            },
            {
                "mData": "XF",
                "sClass": "center"
            },{
                "mData": "SYDX",
                "sClass": "center"
            },
            {
                "mData": "XDKC",
                "sClass": "center"
            },
            {
                "mData": "HXKC",
                "sClass": "center"
            },
            {
                "mData": null,
                "sClass": "center",
                "mData": function (obj) {
                    return '<a style="margin-left: 10px;" onclick="editCourse(\'' + obj.ID + '\')" href="#" role="button" data-toggle="modal" title="编辑"><i class="fa fa-fw fa-pencil"></i></a>'
                            +'<a style="margin-left: 10px;" onclick="delCourse(\'' + obj.ID + '\')" href="#" role="button" data-toggle="modal" title="删除"><i class="fa fa-fw fa-trash-o"></i></a>';
                }
            }
        ];
        mytable = CreateDataTable('#datatable', '/courseService/getList', columns);

        //初始化当前显示列的checkbox判断是否选中
        $('input[type="checkbox"][name="checkbox3"]').each(function () {
            // Get the column API object
            var column = $("#datatable").DataTable().column( $(this).val() );
            // Toggle the visibility
            this.checked = column.visible();
        });

        $('input[type="checkbox"][name="checkbox3"]').change( function () {
            // Get the column API object
            var column = $("#datatable").DataTable().column( $(this).val() );
            // Toggle the visibility
            column.visible( ! column.visible() );
        });
    });

    //编辑
    function editCourse(id) {
        $.ajax({
            url: "/course/_editCourse.html?id=" + id,
            type: "get",
            dataType: 'html',
            async: false,
            success: function (htmlContent) {
                //模态框
                $('#modal-edit-event').html(htmlContent);
                $("#modal-edit-event").modal('show');
            }
        });
    }
    //删除与要删除记录相关的专业-课程记录
    function delMajorCourse(data){
        $.ajax({
            type: "get",
            url: '/major_courseService/delSomeByKc',
            dataType: "json",
            data: {idstr: data},
            cache: true,
            success: function (msg) {
            },
            error: function (e) {
                console.log(e);
            }
        });
    }
    //删除记录
    function delCourse(ID) {
        var result = confirm("确认要删除？");
        if (result) {
            delMajorCourse(ID);
            $.ajax({
                type: "get",
                url: '/courseService/delOne',
                dataType: "json",
                data: {ID: ID},
                cache: true,
                success: function (msg) {
                    if (msg.state == 1) {
                        alert("删除成功");
                    }
                    location.reload();
                },
                error: function (e) {
                    console.log(e);
                }
            });
        }
    }

    //批量删除记录
    function delSomeJys() {
        var flag = false;
        var arr = new Array();
        //遍历所有checkbox
        $('input[type="checkbox"][name="checkbox2"]:checked').each(function () {
            arr.push(this.value);
        });
        if(arr.length != 0){
            var result = confirm("确认要删除这些数据？");
            if (result) {
                //数组转字符串 ，拼接
                var idstr = arr.join(",");
                delMajorCourse(idstr);
                $.ajax({
                    type: "get",
                    url: '/courseService/delSome',
                    dataType: "json",
                    data: {idstr: idstr},
                    cache: true,
                    success: function (msg) {
                        if (msg.state == 1) {
                            alert("删除成功");
                        }
                    },
                    error: function (e) {
                        console.log(e);
                    }
                });
                location.reload();
            }
        }else{
            alert("请至少选择一项");
        }
    }
    //判断当前浏览器是否为IE（支持IE11）
    function isIE(){
        var flag = "ActiveXObject" in window;
        if (flag){
            ReadExcel();
        }else{
            alert("导入功能暂不支持IE外的浏览器");
        }
    }

    //导入excel并将数据存储到数据库
    function ReadExcel() {
        //得到文件路径的值
        var filePath = document.getElementById("upfile").value;
        console.log("-----------"+filePath);
        //判断是否选择文件
        if(filePath != ""){
            var oXL = new ActiveXObject("Excel.application");
            //打开指定路径的excel文件
            var oWB = oXL.Workbooks.open(filePath);
            //操作第一个sheet(从一开始，而非零)
            oWB.worksheets(1).select();
            var oSheet = oWB.ActiveSheet;
            //使用的行数
            var rows =  oSheet .usedrange.rows.count;
            try {
                //验证表格格式--即验证表单表头是否与格式匹配
                console.log(oSheet.Cells(1, 1).value);
                console.log(oSheet.Cells(1, 2).value);
                console.log(oSheet.Cells(1, 3).value);
                if(oSheet.Cells(1, 1).value == "课程编号"&&oSheet.Cells(1, 2).value == "课程名称"&&oSheet.Cells(1, 3).value == "课程英文名称"
                    &&oSheet.Cells(1, 4).value == "教研室划分"&&oSheet.Cells(1, 5).value == "专业负责人"&&oSheet.Cells(1, 6).value == "课程负责人"
                    &&oSheet.Cells(1, 7).value == "课程类型"&&oSheet.Cells(1, 8).value == "周学时"&&oSheet.Cells(1, 9).value == "上机学时"
                    &&oSheet.Cells(1, 10).value == "学分"&&oSheet.Cells(1, 11).value == "使用对象"&&oSheet.Cells(1, 12).value == "先导课程"
                    &&oSheet.Cells(1, 13).value == "后续课程"){
                    var flag = true;
                    for (var i = 2; i <=rows; i++) {
                        if (!flag) break;
                        //将表格第i行数据拼接成字符串
                        var str = oSheet.Cells(i, 1).value +"," + oSheet.Cells(i, 2).value + "," + oSheet.Cells(i, 3).value
                                + ","+oSheet.Cells(i, 4).value +"," + oSheet.Cells(i, 5).value + "," + oSheet.Cells(i, 6).value
                                + ","+oSheet.Cells(i, 7).value +"," + oSheet.Cells(i,8).value + "," + oSheet.Cells(i, 9).value
                                + ","+oSheet.Cells(i, 10).value +"," + oSheet.Cells(i, 11).value + "," + oSheet.Cells(i, 12).value
                                + ","+oSheet.Cells(i, 13).value;
                        $.ajax({
                            type: "get",
                            url: '/courseService/insertSome',
                            dataType: "json",
                            data: {str: str},
                            cache: false,
                            async:false,//同步
                            success: function (result) {

                            },
                            error: function (e) {
                                flag = false;
                                alert("出错了");
                                console.log(e);
                            }
                        });
                    }
                    if(flag){
                        alert("导入成功");
                    }
                    location.reload();
                }else{
                    alert("表格格式错误");
                }
            } catch(e) {
                console.log(e);
            }
            //退出操作excel的实例对象
            oXL.Application.Quit();
            //手动调用垃圾收集器
            CollectGarbage();
        }else{
            alert("请选择一个文件");
        }
    }

    function toExcel(inTblId, inWindow) {
        if ("ActiveXObject" in window) { //如果是IE浏览器
            try {
                var allStr = ""; var curStr = "";
                if (inTblId != null && inTblId != "" && inTblId != "null") {
                    curStr = getTblData(inTblId, inWindow);
                }
                if (curStr != null) {
                    allStr += curStr;
                }
                else {
                    alert("你要导出的表不存在！");
                    return;
                }
                var fileName = getExcelFileName();
                doFileExport(fileName, allStr);
            }
            catch (e) {
                alert("导出发生异常:" + e.name + "->" + e.description + "!");
            }
        } else {
            exportData();//批量导出(非IE浏览器)
        }
    }

    //批量导出(非IE浏览器)
    function exportData() {
        //定义一个flag判断存在单选框被选中
        var flag = false;
        //遍历所有checkbox,未选中选项所在行设置class为noExl
        $('input[type="checkbox"][name="checkbox2"]').each(function () {
            if(this.checked == false){
                //设置该checkbox所在行的class属性为noExl
                this.parentNode.parentNode.classList = "noExl";
            }else if(this.checked == true){
                this.parentNode.parentNode.classList = "";
                flag = true;
            }
        });
        if(flag){
            var d = new Date();
            var curYear = d.getFullYear();
            var curMonth = "" + (d.getMonth() + 1);
            var curDate = "" + d.getDate();
            var curHour = "" + d.getHours();
            var curMinute = "" + d.getMinutes();
            var curSecond = "" + d.getSeconds();
            if (curMonth.length == 1) {
                curMonth = "0" + curMonth;
            }
            if (curDate.length == 1) {
                curDate = "0" + curDate;
            }
            if (curHour.length == 1) {
                curHour = "0" + curHour;
            }
            if (curMinute.length == 1) {
                curMinute = "0" + curMinute;
            }
            if (curSecond.length == 1) {
                curSecond = "0" + curSecond;
            }
            $("#datatable").table2excel({
                exclude: ".noExl",//有class = “noExl” 的行不被导出；
                name: "Excel Document Name",
                filename: "课程信息表"+"-"+curYear+curMonth+curDate+curHour+curMinute,
                exclude_img: true,
                exclude_links: true,
                exclude_inputs: true
            });
        }else{
            alert("请至少选择一项");
        }
    }
    //获取table数据
    function getTblData(inTbl, inWindow) {
        var rows = 0; var tblDocument = document;
        if (!!inWindow && inWindow != "") {
            if (!document.all(inWindow)) {
                return null;
            } else {
                tblDocument = eval(inWindow).document;
            }
        }
        var curTbl = tblDocument.getElementById(inTbl);
        if (curTbl.rows.length > 65000) {
            alert('源行数不能大于65000行');
            return false;
        }
        if (curTbl.rows.length <= 1) {
            alert('数据源没有数据');
            return false;
        }
        var outStr = "";

        if (curTbl != null) {
            var flag = true;
            for (var j = 0; j < curTbl.rows.length; j++) {
                for (var i = 1; i < curTbl.rows[j].cells.length-1; i++) {
                    if (i == 1 && rows > 0) {
                        outStr += " \t"; rows -= 1;
                    }
//                    var tc = curTbl.rows[j].cells[i];
                    if (curTbl.rows[j].cells[0].firstChild.type.toLowerCase() == "checkbox") {
                        if (curTbl.rows[j].cells[0].firstChild.checked == true) {
                            flag = true;
                        } else {
                            flag = false;
                        }
                    }
                    if(flag||j==0){
                        outStr += "" + curTbl.rows[j].cells[i].innerText + "\t";
                        if (curTbl.rows[j].cells[i].colSpan > 1) {
                            for (var k = 0; k < curTbl.rows[j].cells[i].colSpan - 1; k++) {
                                outStr += " \t";
                            }
                        }
                    }
                    if (i == 0) {
                        if (rows == 0 && curTbl.rows[j].cells[i].rowSpan > 1) {
                            rows = curTbl.rows[j].cells[i].rowSpan - 1;
                        }
                    }
                }
                if(flag||j==0){
                    outStr += "\r\n";
                }
            }
        } else {
            outStr = null; alert(inTbl + "不存在!");
        }
        return outStr;
    }
    function getExcelFileName() {
        var d = new Date();
        var curYear = d.getFullYear();
        var curMonth = "" + (d.getMonth() + 1);
        var curDate = "" + d.getDate();
        var curHour = "" + d.getHours();
        var curMinute = "" + d.getMinutes();
        var curSecond = "" + d.getSeconds();
        if (curMonth.length == 1) {
            curMonth = "0" + curMonth;
        }
        if (curDate.length == 1) {
            curDate = "0" + curDate;
        }
        if (curHour.length == 1) {
            curHour = "0" + curHour;
        }
        if (curMinute.length == 1) {
            curMinute = "0" + curMinute;
        }
        if (curSecond.length == 1) {
            curSecond = "0" + curSecond;
        }
        var fileName = "课程信息表"+"-"+curYear+curMonth+curDate+curHour+curMinute+".xls";
        return fileName;
    }
    function doFileExport(inName, inStr) {
        var xlsWin = null;
        if (!!document.all("glbHideFrm")) {
            xlsWin = glbHideFrm;
        } else {
            var width = 1; var height = 1;
            var openPara = "left=" + (window.screen.width / 2 + width / 2) + ",top=" + (window.screen.height + height / 2) +
                    ",scrollbars=no,width=" + width + ",height=" + height;
            xlsWin = window.open("", "_blank", openPara);
        }
        xlsWin.document.write(inStr);
        xlsWin.document.close();
        xlsWin.document.execCommand('Saveas', true, inName);
        xlsWin.close();
    }
</script>