<!-- datatable -->
<script src="../javascripts/mydatatable.js"></script>
<!-- 页面内容 content -->
<div class="content-wrapper">
    <!-- 页面内容 Header -->
    <section class="content-header">
        <h1>
            授课管理页面
        </h1>
        <ol class="breadcrumb">
            <li><a href="/index"><i class="fa fa-home"></i> 首页</a></li>
            <li class="active">授课管理</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">
        <!-- /.box -->
        <div class="box">
            <div class="box-header">
                <h3 class="box-title">授课管理列表</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <table id="datatable" class="table table-bordered table-striped">
                    <thead>
                    <tr>
                        <th><input id="checkbox1" name="checkbox1" type="checkbox"></th>
                        <th>教师姓名</th>
                        <th>所授课程</th>
                        <th>课程负责人</th>
                        <th>所授专业</th>
                        <th>所授年级</th>
                        <th>所授班级</th>
                        <th>班级人数</th>
                        <th>上课时间</th>
                        <th>上课地点</th>
                        <th>是否上机</th>
                        <th>是否单双周</th>
                        <th>外聘教师评价</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
        <div class="box">
            <div class="box-header">
                <h3 class="box-title">编辑</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body no-padding">
                <table class="table table-condensed">
                    <tr>
                        <th>教师姓名</th>
                        <th>所授课程</th>
                        <th>课程负责人</th>
                        <th>所授专业</th>
                        <th>所授年级</th>
                        <th>所授班级</th>
                        <th>班级人数</th>
                        <th>上课时间</th>
                        <th>上课地点</th>
                        <th>是否上机</th>
                        <th>是否单双周</th>
                        <th>外聘教师评价</th>
                        <th>操作</th>
                    </tr>
                    <tr>
                        <th>
                            <select class="selectpick" data-live-search="true">
                                <option data-tokens=""></option>
                            </select>
                        </th>
                        <th>
                            <select class="selectpick" data-live-search="true">
                                <option data-tokens=""></option>
                            </select>
                        </th>
                        <th>
                            <select class="selectpick" data-live-search="true">
                                <option data-tokens=""></option>
                            </select>
                        </th>
                        <th>
                            <select class="selectpick" data-live-search="true">
                                <option data-tokens=""></option>
                            </select>
                        </th>
                        <th>
                            <select class="selectpick" data-live-search="true">
                                <option data-tokens=""></option>
                            </select>
                        </th>
                        <th>
                            <select class="selectpick" data-live-search="true">
                                <option data-tokens=""></option>
                            </select>
                        </th>
                        <th><input type="text" class="form-control" id="" placeholder="请输入名称"></th>
                        <th><input type="text" class="form-control" id="" placeholder="请输入名称"></th>
                        <th><input type="text" class="form-control" id="" placeholder="请输入名称"></th>
                        <th>
                            <select class="selectpick" data-live-search="true">
                                <option data-tokens=""></option>
                            </select>
                        </th>
                        <th>
                            <select class="selectpick" data-live-search="true">
                                <option data-tokens=""></option>
                            </select>
                        </th>
                        <th><input type="text" class="form-control" id="name" placeholder="请输入名称"></th>
                        <th>操作</th>
                    </tr>
                </table>
            </div>
            <!-- /.box-body -->
        </div>
        </section>
    <!-- /.content -->

</div>
<script src="/AdminLTE/plugins/bootstrap-select/js/bootstrap-select.min.js"></script>
<script>

    $('.selectpick').selectpicker({
        liveSearch: true,
        noneSelectedText: "",
        maxOptions: 1
    });

    var mytable;
    var i = 0;

    $(document).ready(function () {
        //全选  全反选处理
        $("#checkbox1").click(function (){
            var checkbox = document.getElementById('checkbox1');
            //是否被选中
            if(checkbox.checked){
                $('input[type="checkbox"][name="checkbox2"]').each(function () {
                    this.checked = true;
                });
            }else{
                $('input[type="checkbox"][name="checkbox2"]').each(function () {
                    this.checked = false;
                });
            }
        });

        var columns = [
            {
                "sClass": "center",
                "mData": function (obj) {
                    return '<input id="checkbox2" name="checkbox2" type="checkbox" value='+obj.ID+'>';
                }
            },
            {
                "mData": "XM",
                "sClass": "center"
            },
            {
                "mData": "KCMC",
                "sClass": "center"
            },
            {
                "mData": "KCFZR",
                "sClass": "center"
            },
            {
                "mData": "SSZY",
                "sClass": "center"
            },
            {
                "mData":"SSNJ",
                "sClass": "center"
            },
            {
                "mData":"SSBJ",
                "sClass": "center"
            },
            {
                "mData": "BJRS",
                "sClass": "center"
            },
            {
                "mData":"SKSJ",
                "sClass": "center"
            },
            {
                "mData": "SKDD",
                "sClass": "center"
            },
            {
                "mData": "SFWSJK",
                "sClass": "center"
            },
            {
                "mData": "SFDSZ",
                "sClass": "center"
            },
            {
                "mData": "WPJSPJ",
                "sClass": "center"
            },
            {
                "sClass": "center",
                "mData": function (obj) {
                    return '<a id='+ ++i +' style="margin-left: 10px;" onclick="editassign(\'' + i + '\')" id="'+obj.KCID+'" href="#" role="button" data-toggle="modal" title="编辑"><i class="fa fa-fw fa-pencil"></i></a>'
                        +'<a id='+ i +'savebtn class="savebtn" style="display:none;margin-left: 10px" onclick="saveassign(\'' + i + '\')" href="#" role="button" data-toggle="modal" title="保存"><i class="fa fa-fw fa-save"></i></a>'
                        +'<a style="margin-left: 10px;" onclick="delMajor(\'' + obj.ID + '\')" href="#" role="button" data-toggle="modal" title="删除"><i class="fa fa-fw fa-trash-o"></i></a>';
                }
            }
        ];
        mytable = CreateDataTable('#datatable', '/assignService/assignList', columns);

        //初始化当前显示列的checkbox判断是否选中
        $('input[type="checkbox"][name="checkbox3"]').each(function () {
            // Get the column API object
            var column = $("#datatable").DataTable().column( $(this).val() );
            // Toggle the visibility
            this.checked = column.visible();
        });

        $('input[type="checkbox"][name="checkbox3"]').change( function () {
            // Get the column API object
            var column = $("#datatable").DataTable().column( $(this).val() );
            // Toggle the visibility
            column.visible( ! column.visible() );
        });

    });

//    function editassign(ID) {
//        $("#" + ID).hide();
//        $("#" + ID +"savebtn").show();
//
//        var XM = $("#" + ID).parent().parent().find("#XM").val();
//        var KCMC = $("#" + ID).parent().parent().find("#KCMC").val();
//        var SSZY = $("#" + ID).parent().parent().find("#SSZY").select2();
//        var SSNJ = $("#" + ID).parent().parent().find("#SSNJ").select2();
//        var SSBJ = $("#" + ID).parent().parent().find("#SSBJ").select2();
//        var zyStr = "";
//        var njStr = "";
//        var bjStr = "";
//        $("#" + ID).parent().parent().find("#SFWSJK").select2();
//        $("#" + ID).parent().parent().find("#SFDSZ").select2();
//        //SSZY.children().remove();
//        $("#" + ID).parent().parent().find("select,input").each(function () {
//            $(this).css("display", "inline-block");
//            $(this).attr("disabled",false);
//        });
//        $.ajax({
//            type: "get",
//            url: '/assignService/getStr',
//            dataType: "json",
//            data: {KCMC: KCMC, XM: XM},
//            async: true,
//            success: function (data) {
//                if (data) {
//                    for (var i = 0; i < data.state.length; i++) {
//                        zyStr += "<option value='" + data.state[i].ZYMC + "'>" + data.state[i].ZYMC + "</option>";
//                    }
//                }
//                SSZY.append(zyStr);
//                SSZY.change(function () {
//                    SSNJ.children().remove();
//                    SSBJ.children().remove();
//                    njStr = "";
//                    bjStr = "";
//                    $.ajax({
//                        type: "get",
//                        url: '/assignService/getStrnjbj',
//                        dataType: "json",
//                        data: {KCMC: KCMC, XM: XM, SSZY: SSZY.val()},
//                        async: true,
//                        success: function (data) {
//                            if (data) {
//                                for (var i = 0; i < data.state.length; i++) {
//                                    njStr += "<option value='" + data.state[i].KSNJ + "'>" + data.state[i].KSNJ + "</option>";
//                                    if (data.state[i].BJGS > 0) {
//                                        for (var b = 1; b <= data.state[i].BJGS; b++)
//                                            bjStr += "<option value='" + b + "大班'>" + b + "大班</option>";
//                                    }
//                                }
//                            }
//                            SSNJ.append(njStr);
//                            SSBJ.append(bjStr);
//                        }
//                    });
//                });
//            }
//        });
//    }
//
//    function saveassign(ID) {
//        var JSID = $("#" + ID).parent().parent().find("#JSID");
//        var KCID = $("#" + ID).parent().parent().find("#KCID");
//        var SSZY = $("#" + ID).parent().parent().find("#SSZY");
//        var SSNJ = $("#" + ID).parent().parent().find("#SSNJ");
//        var SSBJ = $("#" + ID).parent().parent().find("#SSBJ");
//        var BJRS = $("#" + ID).parent().parent().find("#BJRS");
//        var SKSJ = $("#" + ID).parent().parent().find("#SKSJ");
//        var SKDD = $("#" + ID).parent().parent().find("#SKDD");
//        var SFWSJK = $("#" + ID).parent().parent().find("#SFWSJK");
//        var SFDSZ = $("#" + ID).parent().parent().find("#SFDSZ");
//        var WPJSPJ = $("#" + ID).parent().parent().find("#WPJSPJ");
//
//        if(JSID.val()==""||KCID.val()==""||SSZY.val()==""||SSNJ.val()==""||SSBJ.val()==""||SKSJ.val()==""||SKDD.val()==""||SFWSJK.val()==""||SFDSZ.val()==""||WPJSPJ.val()==""){
//            $("#" + ID).parent().parent().find("td").attr("class","danger");
//            alert("选课信息不完整");
//        }else{
//            $.ajax({
//                type: "post",
//                url: '/assignService/saveassign',
//                dataType: "text",
//                data: {JSID:JSID.val(),KCID:KCID.val(),SSZY:SSZY.val(),SSNJ:SSNJ.val(),SSBJ:SSBJ.val(),BJRS:BJRS.val(),SKSJ:SKSJ.val(),SKDD:SKDD.val(),SFWSJK:SFWSJK.val(),SFDSZ:SFDSZ.val(),WPJSPJ:WPJSPJ.val()},
//                async: true,
//                success: function (data) {
//                    $("#" + ID).parent().parent().find("td").attr("class","success");
//                    JSID.attr("disabled",true);
//                    KCID.attr("disabled",true);
//                    SSZY.attr("disabled",true);
//                    SSNJ.attr("disabled",true);
//                    SSBJ.attr("disabled",true);
//                    BJRS.attr("disabled",true);
//                    SKSJ.attr("disabled",true);
//                    SKDD.attr("disabled",true);
//                    SFWSJK.attr("disabled",true);
//                    SFDSZ.attr("disabled",true);
//                    WPJSPJ.attr("disabled",true);
//                    $("#" + ID).show();
//                    $("#" + ID +"savebtn").hide();
//                }
//            });
//        }
//
//    }
//

</script>

