<link rel="stylesheet" href="/css/assigncourse.css">

<div class="content-wrapper">
    <section class="content-header">
        <h1>授课管理</h1>
        <ol class="breadcrumb">
            <li><a href="/index"><i class="fa fa-home"></i> 首页</a></li>
            <li class="active">授课管理</li>
        </ol>
    </section>
    <section class="content">
        <div class="box">
            <div class="box-header">
                <h3 class="box-title">授课管理列表</h3>
                <div class="box-tools date-box">
                    <div class="input-group date" id="datechoose">
                        <input type="text" class="form-control">
                        <div class="input-group-addon">
                            <span class="glyphicon glyphicon-th"></span>
                        </div>
                    </div>
                </div>
                <div class="box-tools pull-right">
                    <div class="upload_group">
                        <input type="file" id="upfile" accept=".xls" />
                        <input type="text" class="style_upload" placeholder=" 仅支持xls格式" readonly/>
                        <label for="upfile" class="open">浏览</label>
                    </div>
                    <button type="button" title="导入" class="btn btn-box-tool" onclick="readExcel();">
                        <i class="fa fa-fw fa-sign-in"></i>导入
                    </button>
                    <button type="button" title="导出" class="btn btn-box-tool" onclick="toExcel();">
                        <i class="fa fa-fw fa-cloud-download"></i>导出
                    </button>
                    <button type="button" title="批量删除" class="btn btn-box-tool" onclick="delSomeAssign()">
                        <i class="fa fa-fw fa-times"></i>批量删除
                    </button>
                    <button type="button" title="添加" class="btn btn-box-tool" onclick="editAssign('')">
                        <i class="fa fa-fw fa-plus-circle"></i>添加
                    </button>
                </div>
                <div class="box box-default box-solid" style="margin-top:10px;">
                    <div class="box-header with-border" style="padding:3px;font-size:14px;">
                        <h3 class="box-title" style="font-size:14px;">当前显示的列</h3>
                        <div class="box-tools pull-right" style="top: 1px;">
                            <button type="button" style="padding:0px;line-height:0px" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i>
                            </button>
                        </div>
                    </div>
                    <div class="box-body">
                        <span><input id="checkshow" name="checkshow" type="checkbox" value="1"> 教师姓名 |</span>
                        <span><input id="checkshow" name="checkshow" type="checkbox" value="2"> 所授课程 |</span>
                        <span><input id="checkshow" name="checkshow" type="checkbox" value="3"> 课程负责人 |</span>
                        <span><input id="checkshow" name="checkshow" type="checkbox" value="4"> 所授专业 |</span>
                        <span><input id="checkshow" name="checkshow" type="checkbox" value="5"> 所授年级 |</span>
                        <span><input id="checkshow" name="checkshow" type="checkbox" value="6"> 所授班级 |</span>
                        <span><input id="checkshow" name="checkshow" type="checkbox" value="7"> 班级人数 |</span>
                        <span><input id="checkshow" name="checkshow" type="checkbox" value="8"> 上课时间 |</span>
                        <span><input id="checkshow" name="checkshow" type="checkbox" value="9"> 上课地点 |</span>
                        <span><input id="checkshow" name="checkshow" type="checkbox" value="10"> 是否上机 |</span>
                        <span><input id="checkshow" name="checkshow" type="checkbox" value="11"> 是否单双周 |</span>
                        <span><input id="checkshow" name="checkshow" type="checkbox" value="12"> 外聘教师评价 |</span>
                        <span><input id="checkshow" name="checkshow" type="checkbox" value="13"> 操作 |</span>
                    </div>
                </div>
                <div class="box box-default box-solid" style="margin-top:10px;">
                <div class="box-header with-border" style="padding:3px;font-size:14px;">
                    <h3 class="box-title show_term" style="font-size:14px;"></h3>
                </div>
                <div class="box-body">
                    <table id="assgindatatable" class="table table-bordered table-striped" width="100%">
                        <thead>
                            <tr>
                                <th><input id="checkall" name="checkall" type="checkbox"></th>
                                <th>教师姓名</th>
                                <th>所授课程</th>
                                <th>课程负责人</th>
                                <th>所授专业</th>
                                <th>所授年级</th>
                                <th>所授班级</th>
                                <th>班级人数</th>
                                <th>上课时间</th>
                                <th>上课地点</th>
                                <th>是否上机</th>
                                <th>是否单双周</th>
                                <th>外聘教师评价</th>
                                <th>操作</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
            </div>
        </div>
    </section>
</div>

<div class="modal" id="modal-edit-event"></div>

<script src="/javascripts/mydatatable.js"></script>
<script src="/table2excel/jquery.table2excel.js"></script>
<script src="/javascripts/assigncourse.js"></script>