<style type="text/css">
    #upfile {
        display: none;
    }
    .upload_group {
        display: inline-block;
        vertical-align: middle;
    }
    
    .style_upload {
        height: 20px;
        border-radius: 5px;
        width: 120px;
        font-size: 10px;
    }
    .open {
        font-size: 12px;
        color: #606c84;
        margin-bottom: 0px;
        font-weight: 500;
        border: 1px solid #606c84;
        border-radius: 5px;
        padding: 0px 2px;
        cursor: pointer;
    }
    .box-body span{
        display: inline-block;
    }
    .box-body span input{
        margin: 0px;
        vertical-align: middle;
    }
    .box {
        margin-bottom: 0px;
    }
    #assgindatatable th, 
    #assgindatatable td{
        white-space:nowrap;    
    }
    .text_center{
        text-align: center;
    }
    #datechoose .form-control{
        height: 24px;
        padding: 0px 5px;
    }
    #datechoose{
        width: 150px;
        margin-top: 3px;
    }
    .input-group-addon{
        padding: 0px 5px;
    }
    .date-box{
        position: absolute;
        right: 0px;
        left: 130px;
        top:8px;
    }
</style>
<script src="../javascripts/mydatatable.js"></script>
<script src="/table2excel/jquery.table2excel.js"></script>

<div class="content-wrapper">
    <section class="content-header">
        <h1>授课管理页面</h1>
        <ol class="breadcrumb">
            <li><a href="/index"><i class="fa fa-home"></i> 首页</a></li>
            <li class="active">授课管理</li>
        </ol>
    </section>
    <section class="content">
        <div class="box">
            <div class="box-header">
                <h3 class="box-title">授课管理列表</h3>
                <div class="box-tools date-box">
                    <div class="input-group date" id="datechoose">
                        <input type="text" class="form-control">
                        <div class="input-group-addon">
                            <span class="glyphicon glyphicon-th"></span>
                        </div>
                    </div>
                </div>
                <div class="box-tools pull-right">
                    <div class="upload_group">
                        <input type="file" id="upfile" accept=".xls" />
                        <input type="text" class="style_upload" readonly/>
                        <label for="upfile" class="open">浏览</label>
                    </div>
                    <button type="button" title="批量删除" class="btn btn-box-tool" onclick="delSomeAssign()">
                        <i class="fa fa-fw fa-times"></i>批量删除
                    </button>
                    <button type="button" title="添加" class="btn btn-box-tool" onclick="editAssign(0)">
                        <i class="fa fa-fw fa-user-plus"></i>添加
                    </button>
                    <button type="button" title="导出" class="btn btn-box-tool" onclick="toExcel();">
                        <i class="fa fa-fw fa-cloud-download"></i>导出
                    </button>
                    <button type="button" title="导入" class="btn btn-box-tool" onclick="readExcel();">
                        <i class="fa fa-fw fa-sign-in"></i>导入
                    </button>
                </div>
                <div class="box box-default box-solid" style="margin-top:10px;">
                    <div class="box-header with-border" style="padding:3px;font-size:14px;">
                        <h3 class="box-title" style="font-size:14px;">当前显示的列</h3>
                        <div class="box-tools pull-right" style="top: 1px;">
                            <button type="button" style="padding:0px;line-height:0px" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i>
                            </button>
                        </div>
                    </div>
                    <div class="box-body">
                        <span><input id="checkshow" name="checkshow" type="checkbox" value="1"> 教师姓名 |</span>
                        <span><input id="checkshow" name="checkshow" type="checkbox" value="2"> 所授课程 |</span>
                        <span><input id="checkshow" name="checkshow" type="checkbox" value="3"> 课程负责人 |</span>
                        <span><input id="checkshow" name="checkshow" type="checkbox" value="4"> 所授专业 |</span>
                        <span><input id="checkshow" name="checkshow" type="checkbox" value="5"> 所授年级 |</span>
                        <span><input id="checkshow" name="checkshow" type="checkbox" value="6"> 所授班级 |</span>
                        <span><input id="checkshow" name="checkshow" type="checkbox" value="7"> 班级人数 |</span>
                        <span><input id="checkshow" name="checkshow" type="checkbox" value="8"> 上课时间 |</span>
                        <span><input id="checkshow" name="checkshow" type="checkbox" value="9"> 上课地点 |</span>
                        <span><input id="checkshow" name="checkshow" type="checkbox" value="10"> 是否上机 |</span>
                        <span><input id="checkshow" name="checkshow" type="checkbox" value="11"> 是否单双周 |</span>
                        <span><input id="checkshow" name="checkshow" type="checkbox" value="12"> 外聘教师评价 |</span>
                        <span><input id="checkshow" name="checkshow" type="checkbox" value="13"> 操作 |</span>
                    </div>
                </div>
                <div class="box box-default box-solid" style="margin-top:10px;">
                <div class="box-header with-border" style="padding:3px;font-size:14px;">
                    <h3 class="box-title show_term" style="font-size:14px;"></h3>
                </div>
                <div class="box-body">
                    <table id="assgindatatable" class="table table-bordered table-striped" width="100%">
                        <thead>
                            <tr>
                                <th><input id="checkall" name="checkall" type="checkbox"></th>
                                <th>教师姓名</th>
                                <th>所授课程</th>
                                <th>课程负责人</th>
                                <th>所授专业</th>
                                <th>所授年级</th>
                                <th>所授班级</th>
                                <th>班级人数</th>
                                <th>上课时间</th>
                                <th>上课地点</th>
                                <th>是否上机</th>
                                <th>是否单双周</th>
                                <th>外聘教师评价</th>
                                <th>操作</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
            </div>
        </div>
    </section>
</div>
<div class="modal" id="modal-edit-event"></div>
<script>
    $(document).ready(function () {
        $("#datechoose").datepicker({ //构建时间选择器
            format: 'yyyy/mm',
            autoclose:true,
            language:'zh-CN',
            todayHighlight:true,
            startView:'2',
            minViewMode:'months',
            title:'--------学期选择--------'
        });

        var time = new Date("2016-10-10");
        $('#datechoose').datepicker('setDate', time); //初始化现在时间
        build_table(time);//获取表格

        $('#datechoose').datepicker().on('hide', function(e) { //改变时间选择器重新获取当前的信息
            time = $('#datechoose').datepicker('getDate');
            build_table(time);
        });
        $('#modal-edit-xk').on('hidden.bs.modal', function () {
            build_table(time); //构建datatable
        })

        $("#checkall").click(function () {
            var checkbox = document.getElementById('checkall');
            if (checkbox.checked) {
                $('input[type="checkbox"][name="checkrow"]').each(function () {
                    this.checked = true;
                });
            } else {
                $('input[type="checkbox"][name="checkrow"]').each(function () {
                    this.checked = false;
                });
            }
        });
    });

    function build_table(time){
        var term = get1st2nd(time);
        $('.show_term').text(term+"授课详情");
        var columns = [
            {
                "className": "text_center",
                "data": function (obj) {
                    return '<input id="checkrow" name="checkrow" type="checkbox" value=' + obj.ID + '>';
                }
            },
            {
                "data": "JSXM",
                "className": "text_center"
            },
            {
                "data": "KCMC",
                "className": "text_center"
            },
            {
                "data": "KCFZR",
                "className": "text_center"
            },
            {
                "data": "SSZY",
                "className": "text_center"
            },
            {
                "data": "SSNJ",
                "className": "text_center"
            },
            {
                "data": "SSBJ",
                "className": "text_center"
            },
            {
                "data": "BJRS",
                "className": "text_center"
            },
            {
                "data": "SKSJ",
                "className": "text_center"
            },
            {
                "data": "SKDD",
                "className": "text_center"
            },
            {
                "data": "SFWSJK",
                "className": "text_center"
            },
            {
                "data": "SFDSZ",
                "className": "text_center"
            },
            {
                "className": "text_center",
                "data": function (obj) {
                    var wpjspj = obj.WPJSPJ;
                    var str = "";
                    if (wpjspj == "null" || wpjspj == null || wpjspj == "") {
                        str = '(非外聘教师)';
                    } else {
                        str = obj.WPJSPJ;
                    }
                    return str;
                }
            },
            {
                "className": "text_center",
                "data": function (obj) {
                    return '<a style="margin-left: 10px;" onclick="editAssign(\'' + obj.ID + '\')" href="#" role="button" data-toggle="modal" title="编辑"><i class="fa fa-fw fa-pencil"></i></a>'
                        + '<a style="margin-left: 10px;" onclick="delAssign(\'' + obj.ID + '\')" href="#" role="button" data-toggle="modal" title="删除"><i class="fa fa-fw fa-trash-o"></i></a>';
                }
            }
        ];
        if ( $.fn.dataTable.isDataTable( '#assgindatatable' ) ) { // 已经构建了database
            var table = $('#assgindatatable').DataTable();
            table.ajax.url( '/assignService/assignList?term='+encodeURI(term)).load();
            table.draw();
        } else {
            var mytable = CreateDataTable('#assgindatatable', '/assignService/assignList?term='+encodeURI(term), columns);
        }
        //初始化当前显示列的checkbox判断是否选中
        $('input[type="checkbox"][name="checkshow"]').each(function () {
            var column = $("#assgindatatable").DataTable().column($(this).val());
            this.checked = column.visible();
        });
        $('input[type="checkbox"][name="checkshow"]').change(function () {
            var column = $("#assgindatatable").DataTable().column($(this).val());
            column.visible(!column.visible());
        });
    }

    //编辑
    function editAssign(id) {
        $.ajax({
            url: "/assigncourse/_editAssign.html?id=" + id,
            type: "get",
            dataType: 'html',
            async: false,
            success: function (htmlContent) {
                $('#modal-edit-event').html(htmlContent);
                $("#modal-edit-event").modal('show');
            }
        });
    }

    //删除记录
    function delAssign(ID) {
        $.ajax({
            type: "post",
            url: '/assignService/delOne',
            dataType: "json",
            data: {ID: ID},
            cache: true,
            success: function (msg) {
                if (msg.state == 1) {
                    var table = $('#assgindatatable').DataTable();
                    table.ajax.reload();
                    table.draw();		
                    $("#success_modal").modal();
                    setTimeout(function(){			
                        $("#success_modal").modal('hide');
                    },1000);
                } else {
                    $("#warning_content").text(msg.errorMassage);
                    $("#warning_modal").modal("show");
                }
            },
            error: function (e) {
                console.log(e);
            }
        });
    }

    //批量删除记录
    function delSomeAssign() {
        var flag = false;
        var arr = new Array();
        //遍历所有checkbox
        $('input[type="checkbox"][name="checkrow"]:checked').each(function () {
            arr.push(this.value);
        });
        if (arr.length != 0) {
            //数组转字符串 ，拼接
            var idstr = arr.join(",");
            $.ajax({
                type: "post",
                url: '/assignService/delSome',
                dataType: "json",
                data: {idstr: idstr},
                cache: true,
                success: function (msg) {
                    if (msg.result != 0) {
                        var table = $('#assgindatatable').DataTable();
                        table.ajax.reload();
                        table.draw();		
                        $("#success_modal").modal();
                        setTimeout(function(){			
                            $("#success_modal").modal('hide');
                        },1000);
                    } else {
                        $("#warning_content").text(msg.errorMassage);
                        $("#warning_modal").modal("show");
                    }
                },
                error: function (e) {
                    console.log(e);
                }
            });
        } else {
            $("#warning_content").text("请选择一项删除");
            $("#warning_modal").modal("show");
        }
    }

    //导入excel并解析
    function readExcel() {
        var formData = new FormData(); //构建formdata
        formData.append('file', $('#upfile')[0].files[0]);
        if ($('#upfile')[0].files[0]) {
            $.ajax({
                type: 'post',
                url: '/assigncourse/readExcel',
                enctype: 'multipart/form-data',
                data: formData,
                cache: false,
                processData: false,
                contentType: false,
                success: function (msg) {
                    if(msg.success){
                        var table = $('#assgindatatable').DataTable();
                        table.ajax.reload();
                        table.draw();		
                        $("#success_modal").modal();
                        setTimeout(function(){			
                            $("#success_modal").modal('hide');
                        },1000);
                    }else{
                        $("#warning_content").text(msg.errorMassage);
                        $("#warning_modal").modal("show");
                    }
                },
                error: function (e) {
                    console.log(e);
                }
            });
        } else {
            $("#warning_content").text("请选择一个文件");
            $("#warning_modal").modal("show");
        }
    }

    //批量导出(非IE浏览器)
    function toExcel() {
        var flag = false;
        $('input[type="checkbox"][name="checkrow"]').each(function () {
            if (this.checked == false) {
                this.parentNode.parentNode.classList = "noExl";
            } else if (this.checked == true) {
                this.parentNode.parentNode.classList = "";
                flag = true;
            }
        });
        if (flag) {
            $("#assgindatatable").table2excel({
                exclude: ".noExl",//有class = “noExl” 的行不被导出；
                name: "Excel Document Name",
                filename: "授课信息表" + "-" + GetTimeStr(),
                exclude_img: true,
                exclude_links: true,
                exclude_inputs: true
            });
        } else {
            $("#warning_content").text("请选择一项删除");
            $("#warning_modal").modal("show");
        }
    }

    function get1st2nd(d){
        if(d==""){
            var nowDate = new Date();
        }else {
            var nowDate = new Date(d);
        }
        var nowYear = nowDate.getFullYear();
        var nowMonth = nowDate.getMonth() + 1;
        var xueqi = '';
        if (nowDate) {
            if (nowMonth < 8 && nowMonth > 1) {
                xueqi = (nowYear-1) + "-" + nowYear + "第二学期";
            }else if (nowMonth >= 8 && nowMonth <= 12 ) {
                xueqi = nowYear + "-" + (nowYear + 1) + "第一学期";
            }else if(nowMonth == 1){
                xueqi = (nowYear-1) + "-" + nowYear + "第一学期";
            }
        }
        return xueqi;
    }
</script>

