<link rel="stylesheet" href="/css/auth.css">

<div class="content-wrapper">
    <section class="content-header">
        <h1>权限管理页面</h1>
        <ol class="breadcrumb">
            <li><a href="/index"><i class="fa fa-home"></i> 首页</a></li>
            <li class="active">权限管理</li>
        </ol>
    </section>
    <section class="content">
        <div class="box box-danger">
            <div class="box-header">
                <h3 class="box-title">密码管理</h3>
            </div>
            <div class="box-body">
                <div class="form-group superAdmin">
                    <label for="initpassword" class="control-label">初始密码修改:</label>
                    <input type="password" class="form-control" id="initpassword" placeholder="请输入新密码">
                    <button class="btn btn-default" onclick="changeinitpswd()">修改</button>
                    <p>注：录入教师资料后，自动创建的默认登录密码。</p>
                </div>
                <div class="form-group">
                    <label class="control-label">修改教师密码:</label>
                    <input type="text" class="form-control" id="atname" placeholder="请输入教师姓名">
                    <input type="password" class="form-control" id="npassword" placeholder="请输入新密码">
                    <button class="btn btn-default" onclick="change_tpswd()">修改</button>
                </div>
            </div>
        </div>
        <div class="box box-danger superAdmin">
            <div class="box-header">
                <h3 class="box-title">授权管理员</h3>
            </div>
            <div class="box-body">
                <div class="form-group">
                    <label class="control-label">授权管理员:</label>
                    <input type="text" class="form-control" id="tname" placeholder="请输入学院教师姓名">
                    <button class="btn btn-default" onclick="addAdmin()">授权</button>
                </div>
                <div class="tdiv">
                    <table class="table table-hover admin-table">
                        <caption>已授权管理教师</caption>
                        <thead>
                            <tr>
                                <th>操作</th>
                                <th>教师姓名</th>
                                <th>教师编号</th>
                            </tr>
                        </thead>
                        <tbody id='admins-content'>                            
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
</div>

<script src="/javascripts/SHA1.js"></script>
<script src="/javascripts/auth.js"></script>