<style>
    
    .form-group{
        padding:20px 10px 20px 10px;
        margin: 0px ;
        vertical-align: middle;
        padding-left: 20px;
        border-bottom: 1px solid #ddd;
        border-top: 1px solid #ddd;
    }
    .form-group label{
        width: 100px;
        display: inline-block;
    }
    .form-group input{
        height: 28px;
        padding: 0px 5px;
        width: 200px;
        display: inline-block;
    }
    .form-group button{
        height: 28px;
        padding: 0px 10px;
        margin-left: 5px;
    }
    .form-group p{
        padding: 0px 5px;
        padding-left: 20px;
        display: inline-block;
        margin: 0px;
    }
    .form-group .tmsg,
    .form-group .amsg{
        margin-left: 100px;
        padding-top: 2px;
        color: red;
    }
    .tdiv{
        border-bottom: 1px solid #ddd;
        padding:20px 10px 20px 10px;
        margin: 0px ;
        vertical-align: middle;
        max-height: 400px;
        min-height: 200px;
        overflow-y: auto;
    }
    .admin-table{
        height: 100%;
    }
    .admin-table thead tr th ,
    .admin-table tbody tr td {
        text-align: center;
    }
    .del-btn{
        border-radius: 30px;
        padding: 3px 7px;
    }
    .superAdmin{
        display: none;
    }
    </style>
<div class="content-wrapper">
    <section class="content-header">
        <h1>权限管理页面</h1>
        <ol class="breadcrumb">
            <li><a href="/index"><i class="fa fa-home"></i> 首页</a></li>
            <li class="active">权限管理</li>
        </ol>
    </section>
    <section class="content">
        <div class="box box-danger">
            <div class="box-header">
                <h3 class="box-title">密码管理</h3>
            </div>
            <div class="box-body">
                <div class="form-group superAdmin">
                    <label for="initpassword" class="control-label">初始密码修改:</label>
                    <input type="password" class="form-control" id="initpassword" placeholder="请输入新密码">
                    <button class="btn btn-default" onclick="changeinitpswd()">修改</button>
                    <p>注：录入教师资料后，自动创建的默认登录密码。</p>
                </div>
                <div class="form-group">
                    <label class="control-label">修改教师密码:</label>
                    <input type="text" class="form-control" id="atname" placeholder="请输入教师姓名">
                    <input type="password" class="form-control" id="npassword" placeholder="请输入新密码">
                    <button class="btn btn-default" onclick="change_tpswd()">修改</button>
                </div>
            </div>
        </div>
        <div class="box box-danger superAdmin">
            <div class="box-header">
                <h3 class="box-title">授权管理员</h3>
            </div>
            <div class="box-body">
                <div class="form-group">
                    <label class="control-label">授权管理员:</label>
                    <input type="text" class="form-control" id="tname" placeholder="请输入学院教师姓名">
                    <button class="btn btn-default" onclick="addAdmin()">授权</button>
                </div>
                <div class="tdiv">
                    <table class="table table-hover admin-table">
                        <caption>已授权管理教师</caption>
                        <thead>
                            <tr>
                                <th>操作</th>
                                <th>教师姓名</th>
                                <th>教师编号</th>
                            </tr>
                        </thead>
                        <tbody id='admins-content'>                            
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
</div>
<script src="/javascripts/SHA1.js"></script>
<script>
    $(document).ready(function () {
        if(getRule().ID == 1){
            $('.superAdmin').show();
        }
        getAdmins();
    });


    function changeinitpswd(){
        var initpassword = $('#initpassword').val();
        if(initpassword == ''){
            return false;
        }
        if(initpassword.length < 6){
            $("#warning_content").text("初始密码不可少于6个字符");
            $("#warning_modal").modal("show");
            return false;
        }
        initpassword = sha1(initpassword);
        $.ajax({
            type: "post",
            url: '/web_confService/updatepswd',
            dataType: "json",
            data: {npswd:initpassword},
            async: false,
            cache: true,
            success: function (msg) {
                if(msg.state.changedRows>0){
                    $('#initpassword').val('')
                    $("#success_modal").modal();
                    setTimeout(function(){
                        $("#success_modal").modal('hide');
                    },1000);
                }else if(result.state.changedRows == 0){
                    $("#warning_content").text("密码与原密码相同");
                    $("#warning_modal").modal("show");
                }else{
                    $("#faile_modal").modal();
                    setTimeout(function(){					
                        $("#faile_modal").modal('hide');
                    },1000);
                }
            }
        })
    }

    function change_tpswd(){
        var atname = $('#atname').val();
        var npassword = $('#npassword').val();
        if(atname == ''){
            $("#warning_content").text("请输入学院教师姓名");
            $("#warning_modal").modal("show");
            return false;
        }
        if(npassword == ''){
            $("#warning_content").text("请输入新密码");
            $("#warning_modal").modal("show");
            return false;
        }
        if(npassword.length < 6){
            $("#warning_content").text("新密码不可少于6个字符");
            $("#warning_modal").modal("show");
            return false;
        }
        npassword = sha1(npassword);
        $.ajax({
            type: "post",
            url: '/userService/isAdmin',
            dataType: "json",
            data: {tname:atname},
            async: false,
            cache: true,
            success: function (msg) {
                if(msg.result== ''){
                    $("#warning_content").text("此教师未授权登入此系统");
                    $("#warning_modal").modal("show");
                    return false;
                }
                if(msg.result[0].ID == 1){
                    $("#faile_modal").modal();
                    setTimeout(function(){					
                        $("#faile_modal").modal('hide');
                    },1000);
                    return false;
                }
                $.ajax({
                    type: "post",
                    url: '/userService/changepswd',
                    dataType: "json",
                    data: {atname:atname,npassword:npassword},
                    async: false,
                    cache: true,
                    success: function (result) {
                        if(result.state.changedRows>0){
                            if(getRule().ID == msg.result[0].ID){
                                $("#warning_content").text("您的密码已修改，请重新登陆");
                                $("#warning_modal").modal("show");
                                setTimeout(function(){			
                                    $("#warning_modal").modal('hide');
                                    location.href="/login/logout";
                                },1000);
                            }
                        }else if(result.state.changedRows == 0){
                            $("#warning_content").text("密码与原密码相同");
                            $("#warning_modal").modal("show");
                        }else{
                            $("#faile_modal").modal();
                            setTimeout(function(){					
                                $("#faile_modal").modal('hide');
                            },1000);
                        }
                    }
                });
            }
        })
    }

    function addAdmin(){
        var tname = $('#tname').val();
        if(tname == ''){
            $("#warning_content").text("请输入学院教师姓名");
            $("#warning_modal").modal("show");
            return false;
        }
        $.ajax({
            type: "post",
            url: '/userService/isAdmin',
            dataType: "json",
            data: {tname:tname},
            async: false,
            cache: true,
            success: function (msg) {
                if(msg.result== ''){
                    $("#warning_content").text("此教师不存在，不能任命管理员");
                    $("#warning_modal").modal("show");
                    return false;
                }
                if(msg.result[0].ID == 1){
                    return false;
                }
                if(msg.result[0].RULE == 1){
                    $("#warning_content").text("此教师已是管理员");
                    $("#warning_modal").modal("show");
                    return false;
                }
                $.ajax({
                    type: "post",
                    url: '/userService/addAdmin',
                    dataType: "json",
                    data: {tname:tname},
                    async: false,
                    cache: true,
                    success: function (msg) {
                        if(msg.state.changedRows>0){
                            getAdmins();
                            $("#success_modal").modal();
                            setTimeout(function(){			
                                $("#success_modal").modal('hide');
                            },1000);
                        }else{
                            $("#faile_modal").modal();
                            setTimeout(function(){					
                                $("#faile_modal").modal('hide');
                            },1000);
                        }
                    }
                });
            }
        });
    }

    function delAdmin(ID){
        $.ajax({
            type: "post",
            url: '/userService/delAdmin',
            dataType: "json",
            data: {ID:ID},
            async: false,
            cache: true,
            success: function (msg) {
                if(msg.state.changedRows>0){
                    getAdmins();
                    $("#success_modal").modal();
                    setTimeout(function(){			
                        $("#success_modal").modal('hide');
                    },1000);
                }else{
                    $("#faile_modal").modal();
                    setTimeout(function(){					
                        $("#faile_modal").modal('hide');
                    },1000);
                }
            }
        });
    }

    function getAdmins(){
        $.ajax({
            type: "get",
            url: '/userService/getAdmins',
            dataType: "json",
            async: false,
            cache: true,
            success: function (data) {
                let trStr = '';
                data.forEach(function(v,i,arr) {
                    if(v.ID == 1) return true;                    
                    trStr += '<tr>';
                    trStr += '<td><button type="button" class="delete-btn btn btn-danger btn-sm del-btn" onclick="delAdmin('+ v.ID +')"><span class="glyphicon glyphicon-trash"></span></button></td>'
                    trStr += '<td>'+ v.USERNAME +'</td>';
                    trStr += '<td>'+ v.YHBH +'</td></tr>';
                });
                if(trStr == ''){
                    trStr = '<tr><td colspan="3">暂无其他管理员</td></tr>';
                }
                $("#admins-content").html(trStr);
            }
        });
    }

    function sha1(str) {
        var sha1_str = hex_sha1(str);
        return sha1_str;
    }

    function getRule(){
        var userMsg = GetIndexData();
        return userMsg[0];
    }   
</script>